/**
*头部分享按钮
*/
.my-header-ddd-btn {
    height: 68px;
    width: 30px;
    background: url("../../../imgs/an/hdpi/dpgl_spxq_fx.png") no-repeat;
    -webkit-filter: invert(1);
    -moz-filter: invert(1);
    -o-filter: invert(1);
    -ms-filter: invert(1);
    filter: invert(1);
    background-position-y: 12px;
    background-size: 50px;
}

#article_detail_xxs > h1 {
    padding: 0 0 18px 0;
    margin: 0;
    line-height: 100%;
    font-style: normal;
    font-size: 24px;
    max-height: 116px;
    overflow: hidden;
}
.article_time_row {
    float: left;
    width: 50%;
    background:url('../../../imgs/an/hdpi/yxtg_sj.png')no-repeat;
    background-position-y: -7px;
    padding-left: 47px;
    text-align:left;
}
.article_time_row>span,.article_time_row>em{
    display: inline-block;
    line-height: 30px;
    color: #999;
    font-size: 20px;
}
.article_time_row+div {
    float: right;
    width: 30%;
    text-align: right;
}
.article_time_row+div>span {
    background: url('../../../imgs/an/hdpi/yxtg_ll.png')no-repeat;
    line-height: 30px;
    font-size: 20px;
    display: inline-block;
    padding-left: 43px;
    background-position-y: -6px;
    color: #999;
}

#article_detail_xxs {
    text-align: center;
    margin: 0;
    background-color: #fff;
    font-style: normal;
}



.article-content {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.9) !important;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 167%;
}
 .article-content img{
}




.jqm-main {
    background-color: #FFF;
}