
body {
    background-color: #f5f5f5!important;
    width: 100%;
    padding: 0;
    margin: 0;
    font-style: normal;
}
.add_shop_main fieldset {
    margin: 60px 28px 20px 28px;
    padding: 50px 0px;
}
.add_shop-btn-div {
    margin-top: 184px;
}

.add_shop-btn-div>a {
    color: rgba(255,255,255,0.7)!important;
    border: 0;
    border-radius: 10px;
    padding: 11px;
    font-weight: normal!important;
    font-size: 16px!important;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 44px;
}

.login-no-checked {
    background: #ff8888;
    pointer-events:none;
    cursor:default
}
.login-checked {
    background: #ff5555;
}
.add_shop-btn-div>a:active{
    background: #f63b3b;
}

