#scroll-list{
    position: absolute;
    z-index: 1;
    top: 2.4rem;
    bottom: 0;
    width: 100%;
}
body {
    background-color: #f5f5f5!important;
    width: 100%;
    padding: 0;
    margin: 0;
    font-style: normal;
}
.manager_shop_main {
    padding: 0;
}

.my-list-view-t table {
    width: 100%;
    background: #fff;
    margin-top: 10px;
    border-collapse:collapse;
}
.my-list-view-t .goods-img-td{
    text-align: center;
    width: 25%;
}
.my-list-view-t td {
    border-bottom: 1px solid #f5f5f5;
    padding: 14px 3px;
}
.goods-img-td img {
    border-radius: 10px;
    width: 100%;
    max-width: 185px;
}
.my-list-view-t td>div{
    height: 35px;
}
.my-list-view-t td>div>p {
    margin: 0;
    line-height: 47px;
}
.tj-goods-ico-ing {
    padding: 4px 10px;
    background-color: #ff5555;
    color: rgba(255,255,255,1);
    border-radius: 6px;
    margin-right: 20px;
}
.tj-goods-ico-djs {
    padding: 4px 10px;
    background-color: #ff5555;
    color: rgba(255,255,255,0.7);
    border-radius: 6px;
    margin-right: 20px;
}

.tj-goods-ico-end {
    padding: 4px 10px;
    background-color: #ff5555;
    color: rgba(255,255,255,0.5);
    border-radius: 6px;
    margin-right: 20px;
}

.goods-count-p {
    color: rgba(0, 0, 0, 0.47);
    font-size: 20px;
}
/*.goods-count-p s{*/
    /*color: rgba(0, 0, 0, 0.26);*/
/*}*/
.goods-put-time-sw {
    float: right;
    margin-right: 40px;
}

/*
*底部导航
*/
.my-ui-footer-bar ul{
    width: 100%;
    margin: 0;
    padding: 0;
}
.my-ui-footer-bar ul>li{
    float: left;
    width: 50%;
    height: 65px;
    line-height: 65px;
    text-align: center;
}
.my-ui-footer-bar ul>li a:visited{
    color: #000;
}
.my-ui-footer-bar ul>li a:active,.my-ui-footer-bar ul>li a:focus,.my-ui-footer-bar ul>li a:hover {
    color: #FF5555!important;
}
.my-ui-footer-bar ul>li>a:link{
    color: #000;
}
.my-ui-footer-bar ul>li a {
    height: 65px;
    display: inline-block;
    line-height: 65px;
    display: inline-block;

}
.my-ui-footer-bar .manager-put-a-ico {
    background:url("../../../imgs/an/hdpi/dpgl_dbl_sj.png")no-repeat ;
    padding-left: 45px;
    background-position: 1px;
}
.my-ui-footer-bar .manager-down-a-ico {
    background:url("../../../imgs/an/hdpi/dpgl_dbl_xj.png")no-repeat ;
    padding-left: 45px;
    background-position: 1px;
}
.manager-box-btn-all+label::before {
}
.manager-box-btn-all+label>b {
    font-size: 0.8rem;
}
.manager-box-btn-all+label span {
    font-size: 16px;
    color: #999;
}
.ext-box-select+label::before {
    margin-left: -10px;
    width: 2rem;
}

.no-goods-notice {
    height: auto!important;
    text-align: center;
}

/**
*提示框样式
*/
#goods-put-succ-notice {
    width: 355px;
    height: 355px;
    background-color: rgba(0,0,0,0.7);
}
#goods-put-succ-notice>.img-notice {
    height: 250px;
    line-height: 350px;
    text-align: center;
}
#goods-put-succ-notice>.img-notice>span {
    display: inline-block;
    height: 110px;
    width: 110px;
    background: #fff;
    margin-top: 92px;
    border-radius: 100%;
}
#goods-put-succ-notice>.img-notice>span>img {
    position: absolute;
    top: 38%;
    left: 45%;
}
#goods-put-succ-notice>.text-notice {
    text-align: center;
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}