<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.5,maximum-scale=0.65 , user-scalable=0">
    <base href="../../../"/>
    <link rel="stylesheet" href="css/common/jquery.mobile-1.4.5.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/common/flexslider.css" />
    <link rel="stylesheet" type="text/css" href="css/common/common.css" />
    <link rel="stylesheet" href="css/style2.css"/>
    <link rel="stylesheet" href="css/business/shop/goods-detail.css"/>
</head>
<body>
<section data-role="header" data-theme="b" class="my-header" id="my-header">
    <a href="javascript:history.back();" data-rel="back" data-role="none" class="my-header-back-btn"></a>
    <h2>商品详情</h2>
</section>
<section data-role="content" role="main" class ="goods-detail-main" id="goodsDetail">
    <!--图片滚动-->
    <div id="slider-content" class="flexslider">
        <!--<ul class="slides">
            <li><a href="#"><img src="images/test-img/sp-xq.png" /></a></li>
            <li><a href="#"><img src="images/test-img/goods.png" /></a></li>
            <li><a href="#"><img src="images/test-img/sp-xq.png" /></a></li>
        </ul>-->
    </div>
<div class="text-desc-content">
    <!--<table>
        <colgroup>
            <col>
            <col width="100px">
        </colgroup>
        <tr><td >
            <p class="goods-desc-title">开馆期间，“四月春当时，开馆好吉礼”大型促销活动火热来袭，谢裕大、徽珍、悦己等知名品牌参与组合直降、一元秒杀、拍一得二、第二件半价等活动开馆期间，“四月春当时，开馆好吉礼”大型促销活动火热来袭，谢裕大、徽珍、悦己等知名品牌参与组合直降、一元秒杀</p>
           </td>
            <td class="goods-share-td"><a href="#" class="share-bottom-bar-a" data-role="none" onclick="common.shareOnclick();"><span>分享</span></a></td></tr>
        <tr class="goods-ac-text-content xx-pending"><td>
            <b class="cff5555bx" style="font-size: 24px;">￥188</b>  <s class="c50end" style="font-size: 20px">288</s>
            <span class="tg-tm-span-ico">团购特卖</span>
            <span class="tg-by-span-ico">包邮</span>
        </td><td></td></tr>
        <tr class="xx-pending">
            <td class="c50end">
                <p>
                <span>月销量</span><em>32</em><span>库存</span><em>445</em>
                </p>
            </td>
            <td></td>
        </tr>
        <tr class="xx-pending2"><td colspan="2" style="ba"><a href="#" class="btn-right-a" id="look-goods-cass">查看规格</a> </td></tr>
        <tr class="xx-pending2"><td colspan="2"><a href="#" class="btn-right-a"><p>买家评论</p></a> </td></tr>

    </table>-->
</div>
 <div class="goods-img-show-content">
<p>图文详情</p>
 <!--<p><img src="images/test-img/sp-xq.png"/> </p>
     <p><img src="images/test-img/sp-xq.png"/> </p>
     <p><img src="images/test-img/sp-xq.png"/> </p>-->
 </div>
</section>
<section  data-role="footer"  data-disable-page-zoom="false" data-position="fixed" class="my-ui-footer-bar" style="background-color: #ffffff;">
    <ul>
        <!--<li><a href="#" class="manager-put-a-ico" onclick="business.goodsDetail.setGoodShelve()"><b>上架</b></a></li>-->
    </ul>
</section>

<!--<div class="my-ui-up-btn">
    <a href="#" ></a>
</div>-->
<div class="my-ui-top-notice">
    <span id="showLeftTime"></span>
</div>
<!-- 分享弹窗-->
<div class="my-ui-share-bottom hidden" id="share-bottom-bar-div">
    <div class="share-content">
        <p>分享到</p>
        <ul>
            <li><a href="#"><img src="imgs/test-img/share-wx.png"/><span>微信</span></a></li>
            <li><a href="#"><img src="imgs/test-img/share-fd.png"/><span>朋友圈</span></a></li>
            <li><a href="#"><img src="imgs/test-img/share-sina.png"/><span>微博</span></a></li>
        </ul>
    </div>
</div>
<!--查价格窗口-->
<div class="my-ui-goods-c-bottom hidden" id="goods-cass-div-box">

    <!--<div class="share-content">
        <div class="goods-sl-ico">
            <table>
                <colgroup>
                    <col width="180px"/>
                    <col/>
                    <col/>
                </colgroup>
                <tr>
                    <td rowspan="3"><img src="images/test-img/sp-xq.png"/></td>
                    <td class="goods-ac-text-content"><b class="cff5555bx" style="font-size: 24px;">￥188</b>  <s class="c50end" style="font-size: 20px">288</s></td>
                    <td class="c50end"><span><span>月销量</span><em>32</em><span>库存</span><em>445</em></span></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p class="goods-desc-title">开馆期间，“四月春当时，开馆好吉礼”大型促销活动火热来袭，谢裕大、徽珍、悦己等知名品牌参与组合直降、一元秒杀、拍一得二、第二件半价等活动开馆期间，“四月春当时，开馆好吉礼”大型促销活动火热来袭，谢裕大、徽珍、悦己等知名品牌参与组合直降、一元秒杀</p>
                    </td>
                </tr>
                <tr>
                    <td></td><td></td>
                </tr>
            </table>
        </div>
        <div class="goods-gg-cs-text">
            <p>重量:</p>
            <p class="goods-gg-cs-p2">
                <input name="weight" id="weight1" type="radio" class="ext-box-btn wg-ext-box-btn" data-role="none"/>
                <label for="weight1">200g</label>
                <input name="weight" id="weight2" type="radio" class="ext-box-btn wg-ext-box-btn" data-role="none"/>
                <label for="weight2">500g</label>
                <input name="weight" id="weight3" type="radio" class="ext-box-btn wg-ext-box-btn" data-role="none"/>
                <label for="weight3">1000g</label>
            </p>
        </div>
        <div class="goods-gg-cs-text2">
            <p >包装:</p>
            <p class="goods-gg-cs-p2">
                <input name="goods-wrap" id="goods-wrap1" type="radio" class="ext-box-btn wg-ext-box-btn" data-role="none"/>
                <label for="goods-wrap1">散装</label>
                <input name="goods-wrap" id="goods-wrap2" type="radio" class="ext-box-btn wg-ext-box-btn" data-role="none"/>
                <label for="goods-wrap2">精品装</label>
                <input name="goods-wrap" id="goods-wrap3" type="radio" class="ext-box-btn wg-ext-box-btn" data-role="none"/>
                <label for="goods-wrap3">豪华装</label>
            </p>
        </div>
    </div>-->
</div>
</body>
<script src="js/common/jquery.min.js"></script>
<script>
    $(document).bind('mobileinit', function () {
        $.mobile.changePage.defaults.changeHash = false;
        $.mobile.hashListeningEnabled = false;
        $.mobile.pushStateEnabled = false;
    });

</script>
<script src="js/slider/jquery.flexslider-min.js"></script>
<script src="js/common/jquery.mobile-1.4.5.min.js"></script>
<script src="js/business/common/common.js"></script>
<script src="js/common/jquery.tmpl.min.js"></script>
<script src="js/common/common.js"></script>
<script src="js/business/shop/goods-detail.js"></script>
</html>

<!--以下是模板文件-->
<!--图片滚动-->
<script type="text/x-jquery-tmpl" id="goodsDetail_showImage_t">
    <ul class="slides">
      {{each(i,data) images}}
        <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: {{if i==0}}1{{/if}}{{if i!=0}}0{{/if}}; display: block; transition: opacity 0.8s ease; z-index: {{if i==0}}2{{/if}}{{if i!=0}}1{{/if}};" class="{{if i==0}}flex-active-slide{{/if}}">
             <img src="${data.url}" draggable="false">
        </li>
      {{/each}}
    </ul>
    <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; transition: opacity 0.8s ease; z-index: 1;"><a href="#" class="ui-link"><img src="${url}" draggable="false"></a></li>
</script>
<!--详细内容-->
<script type="text/x-jquery-tmpl" id="goodsDetail_t">
        <table>
            <colgroup>
                <col>
                <col width="100px">
            </colgroup>
            <tbody><tr><td>
                <p class="goods-desc-title">${name}</p>
            </td>
                <td class="goods-share-td"><a href="#" class="share-bottom-bar-a" data-role="none" onclick="common.shareOnclick();"><span>分享</span></a></td></tr>
            <tr class="goods-ac-text-content xx-pending"><td>
                <b class="cff5555bx" style="font-size: 24px;">￥${salePrice}</b>  <s class="c50end" style="font-size: 20px">${marketPrice}</s>
                <span class="tg-tm-span-ico">团购特卖</span>
                <span class="tg-by-span-ico">${post}</span>
            </td><td></td></tr>
            <tr class="xx-pending">
                <td class="c50end">
                    <p>
                        <span>月销量</span><em>${saleNum}</em><span>库存</span><em>${kucun}</em>
                    </p>
                </td>
                <td></td>
            </tr>
            <tr class="xx-pending2"><td colspan="2" style="ba"><a href="#" class="btn-right-a ui-link" id="look-goods-cass" onclick="business.goodsDetail.lookGoodsCass()">查看规格</a> </td></tr>
            <tr class="xx-pending2"><td colspan="2"><a href="html/business/shop/customer-judge.html?id=${tradeGoodId}" target="_top" class="btn-right-a ui-link"><p>买家评论</p></a> </td></tr>

            </tbody></table>

</script>
<!--详细图片级-->
<script type="text/x-jquery-tmpl" id="goodsDetail_images_t">
    <p><img src="${url}"></p>
</script>
<!--查看规格-->
<script type="text/x-jquery-tmpl" id="goodsDetail_shotType_t">

    <div class="share-content">
        <div class="goods-sl-ico">
            <table>
                <colgroup>
                    <col width="180px">
                    <col>
                    <col>
                </colgroup>
                <tbody><tr>
                    <td rowspan="3"><img src="images/test-img/sp-xq.png"></td>
                    <td class="goods-ac-text-content"><b class="cff5555bx" style="font-size: 24px;">￥${salePrice}</b>  <s class="c50end" style="font-size: 20px">${marketPrice}</s></td>
                    <td class="c50end"><span><span>月销量</span><em>${saleNum}</em><span>库存</span><em>${kucun}</em></span></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p class="goods-desc-title">${name}</p>
                    </td>
                </tr>
                <tr>
                    <td></td><td></td>
                </tr>
                </tbody></table>
        </div>
        <div class="goods-gg-cs-text">
            <p>重量:</p>
            <p class="goods-gg-cs-p2">
                <input name="weight" id="weight1" type="radio" class="ext-box-btn wg-ext-box-btn" data-role="none">
                <label for="weight1">200g</label>
                <input name="weight" id="weight2" type="radio" class="ext-box-btn wg-ext-box-btn" data-role="none">
                <label for="weight2">500g</label>
                <input name="weight" id="weight3" type="radio" class="ext-box-btn wg-ext-box-btn" data-role="none">
                <label for="weight3">1000g</label>
            </p>
        </div>
        <div class="goods-gg-cs-text2">
            <p>包装:</p>
            <p class="goods-gg-cs-p2">
                <input name="goods-wrap" id="goods-wrap1" type="radio" class="ext-box-btn wg-ext-box-btn" data-role="none">
                <label for="goods-wrap1">散装</label>
                <input name="goods-wrap" id="goods-wrap2" type="radio" class="ext-box-btn wg-ext-box-btn" data-role="none">
                <label for="goods-wrap2">精品装</label>
                <input name="goods-wrap" id="goods-wrap3" type="radio" class="ext-box-btn wg-ext-box-btn" data-role="none">
                <label for="goods-wrap3">豪华装</label>
            </p>
        </div>
    </div>
</script>

<!--上架下架-->
<script type="text/x-jquery-tmpl" id="goodsDetail_shelve_t">
{{if status==1}}
<li><a href="#" class="manager-down-a-ico" onclick="business.goodsDetail.setGoodOutShelve()"><b>下架</b></a></li>
{{else}}
<li><a href="#" class="manager-put-a-ico" onclick="business.goodsDetail.setGoodShelve()"><b>上架</b></a></li>
{{/if}}
</script>

