


/**
*字体，图片适应屏幕


@media screen and (min-width:320px) and (max-width:410px) {
    body, input, select, textarea, button, .ui-btn {
        font-size: 20px!important;
    }
    h1, h2 ,h3 {
        font-size: 24px!important;
    }
}

@media screen and (min-width:640px) and (max-width:719px) {
    html {
        font-size: 20px
    }
}


@media screen and (min-width:720px) and (max-width:749px) {
    html {
        font-size: 22.5px
    }
}
*/

/*
*rem标准参考值
*/
html, body {-webkit-overflow-scrolling: touch;}
html {font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/}
body {font-size: 62.5%;/*1.4 × 10px = 14px */}
h1 { font-size: 2.4rem;/*2.4 × 10px = 24px*/}
/*
*页面主div样式
*/
.my-ui-content {
   padding: 0;
    margin: 0;
}

.ui-input-has-clear {
     padding-right: 0em; 
}
.ui-mobile .ui-page-active,.ui-content {
    display: block;
   /* overflow: visible;*/
    overflow-x: hidden;
}
 body, input, select, textarea, button, h1 {
     font-size:1.5rem ;
    line-height: 100%;
   /* font-family: sans-serif;*/
  font-family: "微软雅黑";
    word-wrap: normal;
    font-style:normal;
     font-weight: normal;
     outline:none!important;
}
 h1,p {
     margin: 5px 0;
 }

ul,li,a {
    text-decoration: none;
    list-style: none;
    color: #000;
    font-weight: normal!important;
    font-size: 2.0rem;
    outline:none!important;
}
span,em,p{
    font-weight: normal!important;
    font-style: normal!important;
    /*font-size: 1.6rem;*/
   font-size: 1.4rem;
}
.font2rem {
    font-size: 2.4rem!important;
}
.font1_5rem {
    font-size: 2.0rem!important;
}
.font1_2rem {
    font-size: 1.6rem!important;
}

    /**
    *按钮同意背景红色
    */
.red{
 color:#ff6e82!important;
}
/**
*999灰色
*/
.c999{
    color: #999999 !important;
    text-shadow: none!important;
}
/**
*999灰色
*/
.c666{
    color: #666666 !important;
}
/**
*bbb灰色
*/
.cbbb{
    /*color: #bbbbbb !important;*/
   color: #000!important;
}
/**
*fff白色
*/
.cfff{
    color: #ffffff !important;
}
/**
*辅助色-红
*/
.cFF5555 {
    color: #ff5555;
}
.cff5555 {
    color: #ff5555;
}
/**
*辅助色黑
*/
.c2e2e2e {
    color: #2e2e2e;
}
.cffbc3d {
    color: #ffbc3d;
}
.c5395d1 {
    color: #5395d1;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
/**
*头部样式开始
**/
.my-header {}
.my-header>h2 {
    font-size:2.2rem!important;
    font-family: "Lithos Pro Regular";
    line-height: 100%;
    margin: 0 15%;
    font-weight: normal ;
}
.my-header .ui-title {
    padding: 0.9rem 0;
}
.my-header .my-header-back-btn{
    background: url("../imgs/an/hdpi/dpgl_fh.png") no-repeat center;
    display: inline-block;
    height: 3.7rem;
    line-height: 100%;
    width: 2rem;
    background-size: cover;
    position: absolute;
    top: 0;
}
/**
*头部右边按钮样式
*/
.my-header .my-header-right-btn {
    padding: 0;
    margin: 0;
    font-size:2.0rem;
    line-height: 100%;
    height: 100%;
    padding: 10px 0;
    color: #fff!important;
    font-family: "Lithos Pro Regular";
}
/*头部点点按钮样式
*/
.my-header-right-btn-ad {
    line-height: 100%;
    top: -.4em;
    right: .5em;
}
.my-header-right-btn-ad span{
    display: list-item;
    color: #fff!important;
    font-family: "Lithos Pro Regular";
    font-size:3.0rem;
    height: 12px;
}
/***结束**/

.my-header .my-header-ddd-btn  {
    padding: 0 12px;
    margin: 0;
    right: 9px;
    top: -5px;
}
/**
*头部分享按钮样式
*/
.my-header-share-a {
    height: 68px;
    width: 30px;
    background: url("../imgs/an/hdpi/yxtg_fx.png") no-repeat;
    background-position-y: 12px;
    background-size: 50px;
}
/*
*头部样式结束
**/	
/***
 *搜索框样式
 **/
.my-ui-search-input {
    border: 1px solid #aaa;
    background:url("../images/hdpi/sy_ss.png")no-repeat right;
    background-size: contain;
    width: 100%!important;
    display: inline-block;
}
.my-ui-search-input>input {
    height: 3rem;
}
.my-ui-search tr>td:first-child{
    padding: 3px 3px 3px 16px;
}
.my-ui-search tr>td:not(:first-child) {
    width: 1%;
}
.my-ui-search tr>td:first-child+td {
    text-align: right;
}

.my-goods-cart-search-a,.my-info-search-a {
    width: 2.8rem;
    height: 3.7rem!important;
    height: 100%;
    display: inline-block;
}
.my-info-search-a {
    background: url("../images/hdpi/sy_grzx.png")no-repeat;
    background-size: cover;
}

.my-goods-cart-search-a {
    background: url("../images/hdpi/sy_gwch.png")no-repeat center;
    background-size: cover;
}
/**
 * 自定义单复选按钮-勾选样式
 */
.ext-box-select,.ext-box-btn{
    display: none;
}
.ext-box-select+label::before {
    content: "";
    width: 4rem;
    height: 4rem;
    margin-right: -0.5rem;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/hdpi/gwc_xzk.png) no-repeat;
    background-size: cover;
}
.ext-box-select:checked+label::before{
    background: url(../images/hdpi/gwc_xzg.png) no-repeat;
    background-size: cover;
}
/**
 * 自定义单复选按钮,按钮样式
 */
.ext-box-btn+label{
    width: 90%;
    height: 2.0rem;
    line-height: 2.0rem;
    display: inline-block;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 8px;
}
.ext-box-btn:checked+label{
    color:rgba(255,255,255,0.70);
    background-color: rgba(255,85,85,0.80);
    border-color: rgba(255,85,85,0.80);
    border-radius: 8px;
    text-shadow: none;
}
/**
 * 自定义按钮默认灰色，点击变红色
 */
.ext-change-btn{
    width: 5rem;
    height: 2.0rem;
    font-size: 2.0rem;
    outline:none;
    background-color: #e5e5e5;
    border-radius: 8px;
    border-width: 1px;
}
.ext-change-btn:active{
    outline:none;
    border-width:0px;
    border-radius: 8px;
    color: #fff;
    background-color: #ff6e82;
}
/**
 * 自定义按钮灰色
 */
.ext-grid-btn{
    width: 4.2rem;
    height: 2.0rem;
    font-size: 2.0rem;
    outline:none;
    background-color: #e5e5e5;
    border-radius: 8px;
    border-width: 1px;
}
/**
 * 自定义按钮红色
 */
.ext-red-btn{
    width: 4.2rem;
    height: 2.0rem;
    font-size: 2.0rem;
    outline:none;
    color: #fff;
    background-color: #ff6e82;
    border-radius: 8px;
    border-width: 1px;
}
/**
 * 自定义文件输入框
 */
.ext-text{
    width: 6rem;
    height: 1.6rem;
    padding-left: 10px;
    border-radius:7px;
    background-color: #E8E4E4;
    border: 0;
    outline:none;
    -webkit-appearance: none;
}

/**
 * 自定义白色输入框
 */
.ext-text-w{
    width: 80%;
    height: 2.6rem;
    padding-left: 10px;
    border-radius:7px;
    background-color: #FFF;
    border: 0;
    outline:none;
    -webkit-appearance: none;
}
#addressInfo .btn-right-a {padding-left: 10px}
/**
 * 自定义灰色输入框
 */
.ext-text-eee{
    width: 80%;
    height: 2.6rem;
    padding-left: 10px;
    border-radius:7px;
    background-color: #eee;
    border: 0;
    outline:none;
    -webkit-appearance: none;
}
/**
*白底红字按钮样式
*/
.cancel-order-btn {
    background:#fff;
    color:#ff6e82!important;
    border: 2px solid #ff6e82;
    border-radius: 10px;
    padding: 0.7rem 1.5rem;
    font-weight: normal!important;
    text-decoration: none;
}
/**
*删除按钮样式
*/
.del-order-btn {
    background:#fff;
    color: #000!important;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 0.7rem 1.5rem;
    font-weight: normal!important;
    text-decoration: none;
}


/**
*红色按钮样式
*/
.ok-order-btn{
    background:#ff6e82;
    color: #fff!important;
    border: 1px solid #ff6e82;
    border-radius: 10px;
    text-decoration: none;
    padding: 0.7rem 1.5rem;
    font-weight: normal!important;
}

/**
*红色按钮样圆角式
*/
.ok-order-btn-radius{
    background:#ff6e82;
    color: #fff!important;
    border: 0;
    border-radius: 31px;
    text-decoration: none;
    padding: 0.7rem 1.5rem;
    font-weight: normal!important;
}

/**
*红色按钮样式 右浮出
*/
.ok-order-btn-r{
    background:#ff6e82;
    color: #fff!important;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
    padding: 0.5rem 1rem!important;
    float: right;
    margin-right: 2rem;
    font-weight: normal!important;
    min-width: 65px;
    text-align: center;
    text-shadow:none!important;
    font-size: 1.6rem!important;
}
/**
*a标签右侧按钮 >
*/
.btn-right-a {
    width: 85%;
    display: inline-block;
    color: #000!important;
    font-weight:normal!important;
    line-height: 100%;
    text-decoration: none;
    background:url("../imgs/an/hdpi/dpgl_spxq_jt.png")no-repeat right;
}

/*
*提示弹窗样式
*/
#my-dialog-popup {
/* width: 80%;*/
	width: 85%;
    display: inline-block;
}

#my-dialog-popup .img-p-notice {
    display: inline-block;
    height: 100px;
    width: 100%;
    background: url("../images/hdpi/zfcg.png") no-repeat center;
    background-size: contain;
    margin: 0;
}
#my-dialog-popup .img-p-notice+p{
    margin:0 ;
    position: relative;
    top:-19px;
}
#my-dialog-popup .img-p-notice+p+p {
    margin-top:0 ;
    margin-bottom: 40px;
}

#my-dialog-popup .dialog_close{
    background-color:rgba(255,255,255,0) ;
    border: 0;
}
#my-dialog-popup .ok-order-btn {
    padding: 6px 10px;
}


/**
*style 2新增样式
*/
.cf63b3b{
    color: #f63b3b;
}
.cend{
    color: rgba(0, 0, 0, 0.26);
}
.c50end{
    color: rgba(0, 0, 0, 0.50);
}

.hidden {
    display: none;
}
/**
*输入框样式
*/
.my-ui-input{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    /*padding: 1px 1px 2px 20px;*/
    background-color: #f5f5f5;
    border-radius: 8px;
    max-height: 46px;
    width: 80%;
    text-align: left;
}
.my-ui-input>input {
    height: 3rem;
    background: rgba(255,255,255,0);
    outline:none;
    border: 0;
    color: #000;
    /*font-size: 1.6rem;*/
   font-size: 1.4rem;
   line-height: 3rem;
    width: 70%;
}
.my-ui-input>input:focus,input:active{
    border-radius: 8px!important;
}
.my-ui-input>span {
    height: 3rem;
    color: rgba(255,255,255,0);
    width: 45px;
    background-position-y: -3px;
    padding-top: 6px;
}
.clear-a-text {
    float: right;
    line-height: 100%;
    /*height: 28px;*/
    color: #FFF!important;
    filter: chroma(color=#FFFFFF)!important;
    background: url("../imgs/an/hdpi/home_yxdc.png") no-repeat center;
    /*width: 32px;*/
    background-size: contain;
    /*background-position-y: 3px;*/
    vertical-align: middle;
    display: none;
    width: 20px;
    height: 20px;
    margin: .65rem .6rem 0 0;
}
/**
*输入框结束
*/
/**
*fildset全局样式
*/
fieldset {
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 15px;
    padding: 50px 0px;
    text-align: center;
}
/**
*fildset全局样式结束
*/

/**
*up悬浮按钮全局样式
*/
.my-ui-up-btn {
    position: fixed;
    z-index: 90;
    bottom: 128px;
    right: 90px;
    display: inline-block;
    border-radius: 100%;
    background: url("../imgs/an/hdpi/dpgl_zd.png") no-repeat;
}

.my-ui-up-btn a{
    width: 73px;
    height: 73px;
    display: inline-block;
}
/**
*悬浮按钮结束
*/
/*
*顶部悬浮提示条
*/
.my-ui-top-notice  {
    position: absolute;
    z-index: 99;
    top: 62px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    width: 100%;
    display: inline-block;
    background-color: rgba(0,0,0,0.7);
}
.my-ui-top-notice>span {
    margin: 0;
    font-size: 20px;
    color: rgba(255,255,255,0.5);
}
/**
*滚图开始
*/
#slider-content {
    padding: 0;
    border: 0;
    margin: 0;
}
#slider-content .slides img {
    /*max-height:15rem;*/
}
#slider-content .flex-control-nav {
    bottom: -2.7rem;
}
#slider-content ol>li>a {
    width: 0.6rem;
    height:  0.6rem;
    background-color: #fff;
}
#slider-content .flex-active,#slider-content ol>li>a:hover  {
    background-color: #ff5555;
    width: 0.6rem;
    height:  0.6rem;
}
.ui-page ul li,.ui-page ul li a{
	font-size: 1.6rem!important;
}
