.flex-line {
    display: -webkit-box;
    text-align: center;
}
.flex-item-two {
	display: block;
    width: 50%;
    -webkit-box-flex: 1;
    position: relative;
}
.flex-item-three {
	display: block;
    width: 33.33%;
    -webkit-box-flex: 1;
    position: relative;
}
.flex-item-five {
	display: block;
    width: 20%;
    -webkit-box-flex: 1;
    position: relative;
}
.flex-item {
	display: block;
	-webkit-box-flex: 1;
    position: relative;
}
.flex-left {
    width: 34%;
    text-align: right;
}
.flex-right {
    -webkit-box-flex: 1;
    text-align: left;
    font-size: .6rem;
    padding-left: 4%;
}
/*tab*/
.tab {
    width: 100%;
    height: 1.06rem;
    background-color: #eee;
    color: #b5b5b6;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9999;
}
.tab .flex-item-three > img {
    width: .5rem;
    margin-top: 6px;
    margin-bottom: -2px;
}
.tab .active {
    color: #24936e;
}
.tab .flex-item-three:active {
    background-color: #e6e6e6;
}
/*msg*/
.msg-ring {
	position: absolute;
    top: 2%;
    right: 3%;
    z-index: 9999;
}
.msg-ring > img {
	width: .35rem;
}
.msg-ring > span {
	background-color: #f00;
    position: absolute;
    top: -12%;
    right: -35%;
    width: .26rem;
    height: .26rem;
    line-height: .26rem;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: .24rem;
}

/*reset slider*/
.swiper-container {
    padding-bottom: 0px;
}
.swiper-pagination-bullet {
	width: .2rem;
	height: .2rem;
	background: #fff;
	opacity: .4;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff;
}
.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet {
    margin: 0 .15rem;
}
.swiper-container-horizontal>.swiper-pagination {
    bottom: 0.2rem;
}

/*商品*/
.goods-item {}
.goods-item .goods-title {
	width: 100%;
	height: .6rem;
	line-height: .6rem;
	background-color: #24936e;
	color: #fff;
	font-size: .3rem;
	letter-spacing: 1px;
	text-align: center;
}
.goods-item .flex-line {
	padding: .22rem 0 .22rem .22rem;
}
.goods-item .goods-thumb {
	width: 2.8rem;
}
.goods-item .goods-thumb > img {
	
}
.goods-item .goods-text {
	-webkit-box-flex: 1;
	padding-top: .32rem;
	position: relative;
}
.goods-item .goods-text .goods-tag {
	display: inline-block;
    width: .54rem;
    height: 1.6rem;
    font-size: .26rem;
    padding-left: .07rem;
    margin-right: 4%;
    background: url(./../images/shop/paizi.png) no-repeat;
    background-size: 100% 100%;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    -webkit-writing-mode: vertical-lr;
    writing-mode: tb-rl;
    writing-mode: vertical-lr;
}
.goods-item .goods-text .goods-tag:last-child {
	margin-right: 0;
}
.goods-item .goods-price {
	width: 100%;
	text-align: left;
	font-size: .34rem;
	position: absolute;
	bottom: .1rem;
	left: 6%;
}
.goods-price .goods-money {
	color: #ff4300;
}
.goods-price .goods-nolike {
	display: inline-block;
	width: .4rem;
	height: .4rem;
	position: absolute;
	right: 18%;
	background: url(./../images/xin-hui.png) no-repeat;
	background-size: 100% 100%;
}
.goods-price .goods-like {
	background: url(./../images/xin-hong.png) no-repeat;
	background-size: 100% 100%;
}

/*list item*/
.list-icon {
	display: inline-block;
	width: .39rem;
	height: .42rem;
	vertical-align: middle;
	position: relative;
	top: -2px;
	left: 16%;
}
.list-item {
	display: -webkit-box;
	position: relative;
	height: .8rem;
	line-height: .8rem;
	font-size: .28rem;
	color: #999;
}
.list-item:after {
	content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    -webkit-transform: scale(1, .5);
    transform: scale(1, .5);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}
.list-item-link {
	background-color: #fff;
}
.list-item-link:active {
	background-color: #eee;
	color: #999;
}
.list-item .list-item-media {
	width: 14%;
	text-align: center;
}
.list-item .list-item-inner {
	-webkit-box-flex: 1;
	display: -webkit-box;
	position: relative;
}
.list-item-inner .list-item-after {
	position: absolute;
	right: 10%;
}
.list-item-link .list-item-inner:after {
    content: '>';
    position: absolute;
    right: 6%;
    color: #999;
    font-size: .4rem;
    font-family: serif;
    font-weight: bold;
}
/*icon*/
.icon-order {
	background: url(./../images/my/wo-de-dingdan.png) no-repeat;
	background-size: 100% 100%;
}
.icon-peo {
	background: url(./../images/my/zhanghu.png) no-repeat;
	background-size: 100% 100%;
}
.icon-fav {
	height: .35rem;
	background: url(./../images/my/shouc.png) no-repeat;
	background-size: 100% 100%;
}
.icon-gcart {
	width: .42rem;
	height: .37rem;
	background: url(./../images/my/gouwuc.png) no-repeat;
	background-size: 100% 100%;
}
.icon-address {
	width: .32rem;
	height: .42rem;
	background: url(./../images/my/dizhi.png) no-repeat;
	background-size: 100% 100%;
}
.icon-voucher {
	width: .38rem;
	height: .38rem;
	background: url(./../images/my/quan.png) no-repeat;
	background-size: 100% 100%;
}
.icon-kefu {
	width: .42rem;
	height: .37rem;
	background: url(./../images/my/kefu.png) no-repeat;
	background-size: 100% 100%;
}
.icon-setting {
	width: .38rem;
	height: .37rem;
	background: url(./../images/my/shez.png) no-repeat;
	background-size: 100% 100%;
}

/*遮罩*/
.box-mask {
	width: 100%;
	min-height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,.5);
	z-index: 99999;
	display: none;
}

/*reset sm.css*/
.bar {
	height: .88rem;
    padding-right: .1rem;
    padding-left: .1rem;
    background-color: #24936e;
} 
.bar:after {
	height: 0;
}
.bar .icon {
    padding: 0 .1rem;
    font-size: .4rem;
    line-height: .88rem;
}
.title {
	margin: 0;
    font-size: .34rem;
    height: .88rem;
    line-height: .88rem;
    color: #fff;
    text-align: left;
    padding-left: .88rem;
}
.icon-back {
	display: inline-block;
	width: .44rem;
	height: .44rem;
	background: url(./../images/back.png) no-repeat;
	background-size: 100%;
	margin-top: .24rem;
	margin-left: .22rem;
}
.bar-nav~.content {
    top: .88rem;
}