.zhanting {
    width: 100%;
    min-height: 100%;
    background: url(./../../img/l-4.jpg) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    text-align: center;
}
.zhanting .tab {
    background-color: rgba(0,0,0, .4);
}
.zh-i-title {
    width: 55%;
    margin-top: 4%;
}
.zh-i-link {
    margin-top: 12%;
    text-align: left;
    padding: 0 10%;
}
.zh-i-link > a {
    display: inline-block;
    width: 2rem;
    height: 5.8rem;
}
.zh-i-mo {
    background: url(./../../img/zh-02.png) no-repeat;
    background-size: 100% 100%;
}
.zh-i-chai {
    float: right;
    background: url(./../../img/zh-03.png) no-repeat;
    background-size: 100% 100%;
}
/**/
.zh-items {
    margin-top: 6%;
    margin-bottom: 18%;
}
.zh-item {
    padding: 0 5%;
    text-align: right;
    position: relative;
}
.zh-item-pic {
    text-align: center;
}
.zh-item-pro {
    display: inline-block;
    width: 5.5rem;
    height: 3rem;
}
.zh-item-pro1 {
    background: url(./../../img/zh-m-01.png) no-repeat;
    background-size: 100% 100%;
}
.zh-item-pro2 {
    background: url(./../../img/zh-m-02.png) no-repeat;
    background-size: 100% 100%;
}
.zh-item-pro3 {
    background: url(./../../img/zh-m-03.png) no-repeat;
    background-size: 100% 100%;
}
.zh-item-pro4 {
    background: url(./../../img/zh-m-04.png) no-repeat;
    background-size: 100% 100%;
}
.zh-item-pro5 {
    background: url(./../../img/zh-m-05.png) no-repeat;
    background-size: 100% 100%;
}
.zh-item-pro6 {
    background: url(./../../img/zh-m-06.png) no-repeat;
    background-size: 100% 100%;
}
.zh-item-pro7 {
    background: url(./../../img/zh-m-07.png) no-repeat;
    background-size: 100% 100%;
}
.zh-item-pro8 {
    background: url(./../../img/zh-m-08.png) no-repeat;
    background-size: 100% 100%;
}
.zh-item-pro9 {
    background: url(./../../img/zh-m-09.png) no-repeat;
    background-size: 100% 100%;
}
.zh-item-pro10 {
    background: url(./../../img/zh-m-10.png) no-repeat;
    background-size: 100% 100%;
}
.zh-item-pro11 {
    background: url(./../../img/zh-m-11.png) no-repeat;
    background-size: 100% 100%;
}
.zh-item-pro12 {
    background: url(./../../img/zh-m-12.png) no-repeat;
    background-size: 100% 100%;
}
.zh-item-pro13 {
    background: url(./../../img/zh-m-13.png) no-repeat;
    background-size: 100% 100%;
}
.zh-item-pro14 {
    background: url(./../../img/zh-m-14.png) no-repeat;
    background-size: 100% 100%;
}
.zh-item-good {
    display: inline-block;
    color: #fff;
    font-size: .24rem;
    padding-right: 4%;
    padding-top: .01rem;
    padding-bottom: .15rem;
}
.zh-heart {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(./../../img/zh-04.png) no-repeat;
    background-size: 17px 40px;
    background-position: 0 -24px;
    vertical-align: middle;
    position: relative;
    left: -2%;
}
.zh-heart-filled { background-position: 0 0;}
.zh-i-con {
    margin-top: 4%;
    width: 5.6rem;
    height: 5.6rem;
}
.zh-i-desc {
    width: 5.6rem;
    height: .6rem;
    line-height: .6rem;
    margin: 0 auto;
    background-color: rgb(61,107,50);
    color: #fff;
    font-size: .24rem;
    margin-top: 4%;
    border-radius: 3px;
    text-align: left;
}
.zh-i-desc > span:first-child {
    padding-left: 1rem;
    padding-right: .5rem;
}
.zh-i-judge {
    color: #fff;
    width: 5.6rem;
    margin: 0 auto;
    margin-top: 5%;
    text-align: left;
    font-size: .25rem;
    margin-bottom: 16%;
}
.zh-i-judge > span:first-child {
    margin-left: 1rem;
}
.zh-i-judge > span:nth-child(2) {
    margin-right: .4rem;
}
.zh-i-judge > span:last-child {
    position: relative;
    top: 1px;
}
.zh-star {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(./../../img/zh-05.png) no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
    margin-right: .03rem;
}