@charset"utf-8";
/* 通用样式 */
.banner {
    min-width: 1000px;
}
.img-response {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.img-block {
    display: block;
    margin: 0 auto;
}
.m-t-4 {
    margin-top: 40px;
}
.m-t-6 {
    margin-top: 30px;
}
.m-b-11 {
    margin-bottom: 60px;
}
.m-r-0 {
    margin-right: 0px !important;
}
.v-a-b {
  vertical-align: bottom;  
}

/* 寻找热血青年 */
.find {
    margin: 0 auto;
    height: 276px;
    text-align: center;
    padding-top: 84px;
    padding-bottom: 48px;
    font-size: 18px;
    color: #9d9e9e;
    cursor: default;
}
.find .find-text {
    line-height: 33px;
    letter-spacing: 1px;
}

/* 加入我们 */
.join {
    min-width:1000px;
    position: relative;
    background-image: url("../i/cbuildbg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 5.05%;
    padding-bottom: 5.781%;
    cursor: default;
}
.join .join-content {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
}
.join .join-hr {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    letter-spacing: 1px;
}
.join .join-box {
    width: 100%;
}
.join .join-boxitem {
    text-align: left;
    margin-top: 30px;
}
.join .join-smallbox {
    display: inline-block;
    width: 234px;
    height: 113px;
    padding-top: 24px;
    margin-right: 17px;
    text-align: center;
    background-color: #1f7eea;
}
.join-icon1 {
    display: inline-block;
    margin: 0 auto;
    background: url('../i/cMetoolbar.png') no-repeat -24px 0;
	width: 38px;
	height: 59px;
}
.join-icon2 {
    display: inline-block;
    margin: 0 auto;
    background: url('../i/cMetoolbar.png') no-repeat -14px -89px;
	width: 58px;
	height: 59px;
}
.join-icon3 {
    display: inline-block;
    margin: 0 auto;
    background: url('../i/cMetoolbar.png') no-repeat 0 -179px;
	width: 86px;
	height: 59px;
}
.join-icon4 {
    display: inline-block;
    margin: 0 auto;
    background: url('../i/cMetoolbar.png') no-repeat -14px -264px;
	width: 43px;
	height: 59px;
}

.join-icon5 {
    display: inline-block;
    margin: 0 auto;
    background: url('../i/cMetoolbar.png') no-repeat -143px -4px;
	width: 48px;
	height: 45px;
}
.join-icon6 {
    display: inline-block;
    margin: 0 auto;
    background: url('../i/cMetoolbar.png') no-repeat -143px -100px;
	width: 46px;
	height: 45px;
}
.join-icon7 {
    display: inline-block;
    margin: 0 auto;
    background: url('../i/cMetoolbar.png') no-repeat -147px -188px;
	width: 44px;
	height: 45px;
}
.join-icon8 {
    display: inline-block;
    margin: 0 auto;
    background: url('../i/cMetoolbar.png') no-repeat -145px -267px;
	width: 41px;
	height: 45px;
}
.join-text1 {
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
    cursor: default;
}
.join-text2 {
    margin-top: 30px;
    font-size: 16px;
    color: #fff;
    cursor: default;
}

/*  联系我们 */
.call {
    width: 1000px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
}
.call-title {
    width: 1000px;
    height: 36px;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}
.call .call-status {
    padding: 0 14px;
}
.call .call-item {
    display: inline-block;
    width: 240px;
    text-align: center;
}

.call-icon1 {
    display: inline-block;
    margin: 0 auto;
    background: url('../i/cMestatus.png') no-repeat 0 0;
	width: 127px;
	height: 127px;
}
.call-icon2 {
    display: inline-block;
    margin: 0 auto;
    background: url('../i/cMestatus.png') no-repeat -260px 0;
	width: 127px;
	height: 127px;
}
.call-icon3 {
    display: inline-block;
    margin: 0 auto;
    background: url('../i/cMestatus.png') no-repeat -515px 0;
	width: 127px;
	height: 127px;
}
.call-icon4 {
    display: inline-block;
    margin: 0 auto;
    background: url('../i/cMestatus.png') no-repeat -770px 0;
	width: 127px;
	height: 127px;
}
.call-text {
    font-size: 20px;
    height: 60px;
    line-height: 30px;
    color: #808383;
    margin-top: 16px;
    cursor: pointer;
}

.ccfoot {
    width: 1000px;
    margin: 0 auto;
}
