html {  font-size: 62.5%;  }
.help {
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(255,255,255);
}
.banner {
    width: 100%;
}
.help-container {
    width: 100%;
    background-color: rgb(242,242,242);
    margin-top:-3px;
}
.help-navbar {width: 1002px;margin: 0 auto;padding-top: 50px}
.help-navbar ul {height: 60px;}
.help-navbar ul li {
    width: 200px;
    text-align: center;
    font-size: 20px;
    line-height: 60px;
    border-top: 1px solid rgb(214,214,214);
    border-bottom: 1px solid rgb(214,214,214);
    letter-spacing: 1px;
}
.help-navbar ul li:first-child {
    border-left: 1px solid rgb(214,214,214);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.help-navbar ul li:last-child {
    border-right: 1px solid rgb(214,214,214);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.help-item, .help-item:visited, .help-item:hover, .help-item:active { color: rgb(128,128,128);}
.help-item {
    display: inline-block;
    width: 100%;
    position: relative;
}
.help-item:after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 30px;
    background-color: rgb(214,214,214);
    position: absolute;
    top: 15px;
    margin-left: 29%;
}
.help-navbar ul li.help-active {
    background-color: rgb(255,255,255);
    border-top: 1px solid rgb(255,255,255);
    position: relative;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-left: none;
    border-right: none;
}
.help-navbar .help-active .help-item:after {display: none;  }
.help-navbar .help-active:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 8px;
    background-color: rgb(80,176,255);
    position: absolute;
    top: -8px;
    left:0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.help-navbar .help-active:after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 68px;
    background: url(../../../src/pc/i/icons.png) no-repeat -545px 0;
    background-size: 560px 600px;
    position: absolute;
    left: 100%;
    top: -8px;
}

.help-content {
    width: 1001px;
    margin: 0 auto;
    background-color: rgb(255,255,255);
}
.question-list {
    width: 92%;
    margin: 0 auto;
}
.question-item {
    margin-top: 50px;
}
.question-item:first-child {margin-top: 70px}
.question-icon {
    display: inline-block;
    width:35px;
    height: 35px;
    background: url(../../../src/pc/i/icons.png) no-repeat -369px 0;
    background-size: 560px 600px;
}
.question-title {
    color: rgb(77,77,77);
    font-size: 18px;
    letter-spacing: 1px;
}
.question-title span {
    position: relative;
    top: -11px;
    left: 9px;
}
.question-text {
    min-width: 846px;
    padding: 20px 35px;
    margin-top: 10px;
    /*    background: url(../../../src/pc/i/h-02.png) no-repeat;
        background-size: 100% 100%;*/
    color: rgb(137, 137, 137);
    font-size: 14px;
    line-height: 30px;
    text-align: justify;
    position: relative;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    box-shadow: 0 0 1px rgb(214,214,214);
    -webkit-box-shadow: 0 0 1px rgb(214,214,214);
    -moz-box-shadow: 0 0 1px rgb(214,214,214);
}
.arrow-top {
    position: absolute;
    top: -16px;
    left: 56px;
    font-family: simsun;
    font-size: 24px;
}
.arrow-top em {
    color: rgb(214,214,214);
}
.arrow-top i {
    color: rgb(255,255,255);
    font-style: normal;
    margin-left: -24px;
    position: absolute;
    top: 1px;
}
table {
    width: 100%;
    text-align: center;
    border: 1px solid rgb(188,188,188);
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 20px;
}
th {
    line-height: 50px;
    background-color: rgb(242,242,242);
    font-weight: normal;
    border: 1px solid rgb(188,188,188);
}
td {
    line-height: 80px;
    font-weight: normal;
    border: 1px solid rgb(188,188,188);
}
tr td:last-child {
    text-align: left;
    padding-left: 120px;
}
tr th:nth-of-type(1), tr th:nth-of-type(2) {
    width: 18%;
}
.multi-col {line-height: 25px}
.multi-col span {
    display: inline-block;
    width:18px;
    height:18px;
    line-height: 18px;
    text-align: center;
    border: 1px solid rgb(188,188,188);
    border-radius: 50%;
    font-size: 15px;
}
#guanzhu {height: 1920px;}
#touzi-help {height: 1520px;display: none;}
#zhuce {height: 2850px; display: none;}
#in-out {height: 2000px; display: none;}
.list-title p {
    font-size: 22px;
    color: rgb(77,77,77);
    margin-top: 40px;
    margin-bottom: -10px;
    letter-spacing: 1px;
}
.shuoming {
    height: 1000px;
    line-height: 30px;
    padding: 0 100px;
    letter-spacing: 1px;
    display: none;
}
.para {
    font-size: 14px;
    color: rgb(114,113,113);
    text-align: justify;
}
.para-title {
    font-size: 18px;
    color: rgb(77,77,77);
    margin-top: 40px;
    margin-bottom: -10px;
    letter-spacing: 1px;
}
.para1 { padding-top: 50px;  text-indent: 30px;}
.para2 {margin-top: 30px}
.para-tip {
    color: rgb(38,37,37);
    margin-top: 20px;
}