/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */,
img {
    margin: 0;
    padding: 0;
}

/** 设置默认字体 **/
body{
    font-family: Microsoft Yahei, Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
ul, ol { list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; }
a:hover { text-decoration: none; }


/** 重置表单元素 **/
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }
a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
    cursor: pointer;
}

/*header*/
header {
    width:1000px;
    height:78px;
    margin: 0 auto;
}
.nav {display: inline-block;float: right;}
ul li {float: left;}
.brand{display: inline-block;float: left}
.brand .logo {
    display: inline-block;
    width: 155px;
    height: 55px;
    background: url(/pc/i/icons.png) no-repeat 0 0;
    background-size: 560px 600px;
    margin-top: 10px;
    margin-right: 6px;
}
.kefu {display: inline-block;  }
.kefu-title {
    width: 165px;
    height: 18px;
    background: url(/pc/i/icons.png) no-repeat -159px 0;
    background-size: 560px 600px;
    position: relative;
    top: -15px;
}
.kefu-text {
    font-size: 13px;
    position: relative;
    top: -8px;
}
.nav li {
    width: 100px;
    height: 78px;
    line-height: 78px;
    text-align: center;
    color: rgb(31,126,234);
    background-color: rgb(255,255,255);
    font-size: 16px;
    letter-spacing: 1px;
}
.nav li a {
    display: block;
    color: rgb(31,126,234);
    text-align: center;
}
.nav li a:hover, .nav li.active a, .nav li.current a {
    background-color: rgb(31,126,234);
    color: rgb(255,255,255);
}
.current {  background-color: rgb(31,126,234);  color: rgb(255,255,255);  }
.home-about {  position: relative;  }
.about-list {
    display: none;
    position: absolute;
    z-index: 999;
    background: #fff;
}
.about-list li {  height: 50px;  line-height: 50px;  }

/*侧边栏*/
.service-box {
    position: fixed;
    right: 20px;
    top:193px;
    z-index: 99;
}
.service-item {
    width: 56px;
    height: 56px;
    background: url(/pc/i/icons.png) no-repeat;
    background-size: 420px 450px;
    cursor: pointer;
}
.service-box .return-top {
    background-position: -364px -222px;
    opacity: 0;
}
.service-box .concern-weixin {
    background-position: -364px -279px;
}
.service-box .app-download {
    background-position: -364px -337px;
}
.service-box .go-old {
    background-position: -364px -394px;
}
/*hover浮窗*/
.hover-box {
    position: fixed;
    right: 90px;
    z-index: 99;
    text-align: center;
    color: rgb(89,89,89);
    background-color: rgb(255,255,255);
    width: 150px;
    -webkit-box-shadow: 0 0 10px rgb(178,178,178);
    -moz-box-shadow:  0 0 10px rgb(178,178,178);
    box-shadow:  0 0 10px rgb(178,178,178);
    display: none;
}
.hover-box img {width: 75%;margin-top: 6%}
.hover-box:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 8px;
    border-color: transparent transparent transparent rgb(255,255,255);
    border-style: solid;
    position: absolute;
    left: 100%;
    top: 18%;
}
.hover-weixin {  top: 250px;  }
.hover-weixin p:nth-of-type(1) {  margin-top: 2%;  }
.hover-weixin p:nth-of-type(2) {  padding-bottom: 6%;  }
.hover-app { top: 305px;}
.hover-app p {  padding-bottom: 6%;  }
.hover-old {
    top: 360px;
    padding-top: 45px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}
.hover-old p:last-child {
    color: rgb(117,166,240);
    margin: 20px 0;
}
/*投资入口*/
.home-invest {
    width:100%;
    height: 120px;
    background-color: rgb(0,6,33);
    color: rgb(68,70,79);
    font-size: 1rem;
    letter-spacing: 1px;
    position: absolute;
}
.invest-container {  width: 1000px;  margin: 0 auto; padding-left: 70px; }
.invest-container p {  line-height: 20px;  }
.invest-container p:nth-of-type(1) {  padding-top: 24px;  }
.join-us, .help-center {
    color: rgb(255,255,255);
    position: absolute;
    top:24px;
    right: 16%;
}
.join-us {right: 23%;}

@media screen and (max-width: 1024px) {
    html {font-size: 50%}
}
@media screen and (min-width: 1366px) and (max-width: 1690px) {
    html {font-size: 70%}
}
@media screen and (min-width: 1690px) {
    html {font-size: 80%}
}