#card_list {
    width: 100%;
    z-index: 1;
    /* position: absolute;
     top: 4rem;
     bottom: 0;*/
}

.exchange-card-main {
    padding: 0;
}

/**
*头部bar样式
*/
/*.my-exchange-card-top-bar {
    width: 100%;
    background-color:#fff!important;
    padding: 9px 0px;
    margin: 0 0 20px 0;
    display: inline-block;
}
.my-exchange-card-top-bar li {
    float: left;
    width: 49.5%;
    text-align: center;
    line-height: 100%;
    background-color: #FFF;
    padding: 14px 0;
}
.my-exchange-card-top-bar li:first-child {
    border-right: 2px dashed #999;
}
.my-exchange-card-top-bar a{
    padding: 8px 26px;
}
.my-exchange-card-top-bar li:last-child>a{
    color: #999;
}
.my-exchange-card-top-bar a:active,.my-exchange-card-top-bar a:focus,.my-exchange-card-top-bar a:hover {
    color: #FF5555!important;
    border-bottom: 2px solid #ff5555;
}
.my-exchange-card-active{
    color: #FF5555!important;
    border-bottom: 2px solid #ff5555;
}
.my-exchange-card-top-bar li:first-child>a{
    color: #000;
}*/

.my-activity-top-bar {
    width: 100%;
    height: 1.6rem;
    background-color:#fff!important;
    margin: 6px 0px 0px;
    padding: 0;
    display: inline-block;
}
.my-activity-top-bar>li {
    float: left;
    width: 49.5%;
    text-align: center;
    line-height: 100%;
    background-color: #FFF;
    padding: 0 !important;
    margin: 0 !important;
}
.my-activity-top-bar>li a{
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 1.6rem;
    line-height: 1.6rem;
    float: left;
    border: none;
}
.my-activity-top-bar>li a.my-exchange-card-active b{
    padding: 0.4rem 0.6rem;
    border-bottom: 2px solid #ff5555;
}
.my-activity-top-bar>li:first-child {
    border-right: 1px dashed #999;
}
.my-activity-top-bar a{
    padding: 8px 26px;
}
.my-activity-top-bar li:last-child>a{
    color: #999;
}
.my-activity-top-bar  a:active,.my-activity-top-bar a:focus,.my-activity-top-bar a:hover {
    color: #FF5555!important;
    border-bottom:none;
}

.my-activity-bar-active {
    color: #FF5555!important;
    border-bottom: 2px solid #ff5555;
}
.my-activity-top-bar li:first-child>a{
    color: #000;
}


/**
*头部bar结束
*/

.my-card-list-view ul {
    display: inline-block;
    width: 100%;
    padding:0px;
}
.my-card-list-view ul>li{
    border-radius:10px;
    background: #ffffff;
    margin: 0 20px 20px 20px;
}
.my-card-list-view ul>li>div {
    padding: 0 20px;
    line-height: 50px;
}
.my-card-list-view ul>li>div span {
    font-size:0.74rem!important;
}
.my-card-list-view ul>li>div:first-child {
    border-radius:10px ;
    line-height: 50px;
    color: #ffffff;
    border-bottom: 5px dashed #ffffff;
    margin-bottom: 20px;
}
 .exchange-card-top-out>span:last-child,.exchange-card-top-active>span:last-child,.exchange-card-top-used>span:last-child{
    float: right;
    color: #fff!important;
}
.exchange-card-top-active {
   background: #ff5555;
}
.exchange-card-top-out {
   background: #ccc;
}
.exchange-card-top-used {
    background: #999999;
}


.exchange-card-main {
    padding: 0;
    /*margin: 20px 0;*/
}
.exchange-card-main  li a:link,.exchange-card-main  li a:active,.exchange-card-main  li a:visited {
    color: #000000;
}
.exchange-card-main ul {
    margin: 0;
    display: inline-block;
    width: 100%;
    padding:0px;
}
.exchange-card-main ul li{
    border-radius:10px;
    background: #ffffff;
    margin: 0.57rem;
    margin-top: 0;
    padding-bottom: 0.57rem;
}
.exchange-card-main ul li div {
    padding: 0 0.57rem;
    line-height: 1.7rem;
    font-size: 0.74rem;
    font-weight: normal;
}

.exchange-card-main ul li div:first-child {
    height: 1.7rem;
    background: #FF5555;
    border-radius:10px ;
    line-height: 1.7rem;
    color: #ffffff;
    border-bottom: 5px dashed #ffffff;
    margin-bottom: 0.57rem;
}
.exchange-card-main ul li div:last-child{
    line-height: 0.74rem!important;
}

#thelist{
    margin: 0.57rem 0;
}
#thelist li div{
    font-size: 0.74rem;
}