html {
    font-size : 20px;
}
@media only screen and (min-width: 401px){
    html {
        font-size: 25px !important;
    }
}
@media only screen and (min-width: 428px){
    html {
        font-size: 26.75px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 30px !important; 
    }
}
@media only screen and (min-width: 569px){
    html {
        font-size: 35px !important; 
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 40px !important; 
    }
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-style: normal;
}
.ui-page {
    background: url("../../../imgs/an/hdpi/home_bj.png") no-repeat;
    background-size: 100%;
}
.login_main {
    padding: 0;
    margin: 0;
}
.login_main .my-ui-input{
    padding-left: 2.5rem;
}
.login_main .my-ui-input:first-child {
    background: url("../../../imgs/an/hdpi/dl_yhm.png") no-repeat  #f5f5f5 left;
    background-position-x: 0.5rem;
    background-position-y: 0.3rem;
    background-size: 1.5rem;
    margin-bottom: 1.2rem;
}
.login_main .my-ui-input:first-child+div {
    background: url("../../../imgs/an/hdpi/dl_mm.png") no-repeat left #f5f5f5;
    background-position-x: 0.5rem;
    background-position-y: 0.3rem;
    background-size: 1.5rem;
}
span,em,p{
    line-height: 100%;
    display: inline-block;
}
.login_main fieldset {
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 15px;
    padding: 50px 0px;
    margin: 60px 20px 20px 20px;
    text-align: center;
}

.my-ui-input-xy {
    width: 80%;
    height: 46px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-top: 1rem;
}
.my-ui-input-xy dt{
    width: 40px;
    line-height: 35px;
    float: left;
}
.my-ui-input-xy dd{
    float: left;
    margin: 0;
    padding-top: 3px;
}
.my-ui-input-xy dd>span,dd>a {
    font-size: 0.7rem!important;
}
.my-ui-input-xy dd>a {
    color: #FF5555;
}
.ext-box-select+label::before {
    background: url(../../../imgs/an/hdpi/home_gx_md.png) no-repeat;
    width: 30px;
    height: 30px;
    background-size: 25px;
}
.ext-box-select:checked+label::before{
    background: url(../../../imgs/an/hdpi/home_gx_dl.png) no-repeat;
    width: 30px;
    height: 30px;
    background-size: 25px;
}

.login-btn-div {
    margin-top: 56px;
}

.login-btn-div>a {
    color: rgba(255,255,255,0.7)!important;
    border: 0;
    border-radius: 10px;
    padding: 5px 0;
    font-weight: normal;
    font-size: 20px;
    display: inline-block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    line-height: 40px;
}

.login-no-checked {
    background: #ff8888;
    pointer-events: none;
    cursor:default
}
.login-checked {
    background: #ff5555;
}
.login-btn-div>a:active{
    background: #f63b3b;
}
.forget-password {
    color: #000!important;
    font-size: 16px!important;
    font-family: "Regular";
    margin-left: 50px;
}
.my-ui-input input{
    font-size: 0.9rem;
}