body {
    background-color: #f5f5f5!important;
    width: 100%;
    padding: 0;
    margin: 0;
    font-style: normal;
}
.activity_bl_main {
    padding: 0;
}

.my-activity-top-bar {
    width: 100%;
    height: 1.6rem;
    background-color:#fff!important;
    margin: 6px 0px 0px;
    padding: 0;
    display: inline-block;
}
.my-activity-top-bar>li {
    float: left;
    width: 49.5%;
    text-align: center;
    line-height: 100%;
    background-color: #FFF;
    padding: 0 !important;
    margin: 0 !important;
}
.my-activity-top-bar>li a{
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 1.6rem;
    line-height: 1.6rem;
    float: left;
    border: none;
}
.my-activity-top-bar>li a.my-activity-bar-active b{
    padding: 0.4rem 0.6rem;
    border-bottom: 2px solid #ff5555;
}
.my-activity-top-bar>li:first-child {
    border-right: 1px dashed #999;
}
.my-activity-top-bar a{
    padding: 8px 26px;
}
.my-activity-top-bar li:last-child>a{
    color: #999;
}
.my-activity-top-bar  a:active,.my-activity-top-bar a:focus,.my-activity-top-bar a:hover {
    color: #FF5555!important;
    border-bottom:none;
}

.my-activity-bar-active {
    color: #FF5555!important;
    border-bottom: 2px solid #ff5555;
}
.my-activity-top-bar li:first-child>a{
    color: #000;
}


.my-list-view-t>table {
    width: 100%;
    background: #fff;
    margin-top: 10px;
    border-collapse:collapse;
}

.my-list-view-t>table tr>td:first-child {
    width: 14%;
}
.my-list-view-t p {
    margin: 0;
}
.my-list-view-t .address-img-p,.my-list-view-t .address-img-p+p {
    height: 1rem;
    line-height: 1rem;
    padding-left: 1.26rem;
    margin-top: 0.38rem;
    font-size: 0.55rem;
    color: #999;
    background-size: auto;
}
.my-list-view-t .address-img-p{
    background: url("../../../imgs/an/hdpi/hdbl_dd.png") no-repeat left center;
}
.my-list-view-t .address-img-p+p {
    background: url("../../../imgs/an/hdpi/hdbl_sj.png") no-repeat left center;
}
.my-list-view-t td {
    border-bottom: 1px solid #f5f5f5;
}
 .my-activity-title{
     width: 100%;
    padding: 0.2rem 0 0 0;
    margin: 0;
    font-size: 0.6rem;
    line-height: 1rem;
    height: 2rem;
    overflow: hidden;
    text-overflow:ellipsis;
}
.my-activity-del-a {
    display: inline-block;
    width: 100%;
    height:0.86rem ;
    background: url("../../../imgs/an/hdpi/me_sc.png")no-repeat right center;
    background-size: 1.2rem 1.2rem;
}
.my-activity-cy-num{
    height:0.86rem ;
    line-height: 0.86rem;
    float: right;
    margin-top: 3rem!important;
    padding-left: 1.2rem;
    background: url("../../../imgs/an/hdpi/hdbl_bmry.png")no-repeat left center;
    background-size: 1.2rem 1.2rem;
    text-align: right;
}


/**
*提示框样式
*/
#my-activity-del-show {
    width: 355px;
    height: 355px;
    background-color: #fff;
}
#my-activity-del-show>.img-notice {
    line-height: 70px;
    text-align: center;
}
#my-activity-del-show>.img-notice>span {
    display: inline-block;
    height: 110px;
    width: 110px;
    background: #f5f5f5;
    border-radius: 100%;
}
#my-activity-del-show>.img-notice>span>img {
    position: absolute;
    top: 15%;
    left: 45%;
}
#my-activity-del-show>.text-notice {
    text-align: center;
   color: #000;
    font-size: 24px;
}
#my-activity-del-show .btn-a{
    margin-top: 79px;
    text-align: center;
}
#my-activity-del-show .btn-a>a {
    margin-right: 30px;
}

#thelist{
    width: 100%;
    padding: 0;
    margin: 0;
    border-top:6px solid #EDEDED ;
}
#thelist li{
    width: 97%;
    height: 5.1rem;
    padding: 0.4rem 0.2rem;
    border-bottom: solid 1px #dddddd;
}
.ui-block-a{
    padding-right: 0.4rem;
}
.ui-grid-b, .ui-grid-b div{
    height: 5.1rem;
}
.ui-grid-b a{
    margin: 0!important;
    padding: 0!important;
    border: 0!important;
}
.ui-block-a img {
    max-width: 100%;
    border-radius: 6px;
}
.line_c{
    position: relative;
    width: 46.333%!important;
}
.line_r{
    position: relative;
    width: 20.333%!important;
    word-break:keep-all;           /* 不换行 */
    white-space:nowrap;          /* 不换行 */
}


