.address-main{
    padding: 0;
}

.address-main dt,dd{
    background-color:#fff ;
    text-align: left;
    margin-left: 0;
    line-height: 100%;
}
.address-main dt>p,dd>p{
    margin: 1rem 0;
}
.address-main dt{
    float: left;
    margin-left: 10px;
}
.address-main dd{
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
.address-main ul{
    margin: 0;
    padding: 0;
}

.address-main li{
    /* border-bottom: 1px solid #bbb;*/
    float: left;
    width: 100%;
    padding: 0;
    list-style: none;
    background-color: #fff;
    margin-top: 10px;
    padding: 10px 0 0px 0;

}
.address-main li>dt:first-child {
    width: 50%;
}
.address-main dl{
    border-top: 1px solid #eee;
    display: inline-block;
    width: 100%;
    margin: 0;
}
.address-main dl>dd {
    height: 4rem;
    line-height: 4rem;
}
.address-main .right-dd-a {
    float: right;
/*    width: 43%;*/
}
.right-dd-a a{
	height: 1.5rem;
	line-height: 1.5rem;
}
.address-main .edit-btn{
    padding: 0.4rem;
    border-radius: 5px;
}
.ext-box-select+label{

}
.ext-box-select+label::before {
}
.address-main li dl dd a{
	min-width: 50px;
	display: inline-block;
	float: left;
	margin: .8rem 0 0 .5rem;
	text-align: center;
	font-size: 1.5rem!important;
	text-shadow: none!important;
}
.address-main li dl dd label{
	font-size: 1.2rem;
}
@media screen and (max-width: 350px){
    span, em, p {
        font-weight: normal!important;
        font-style: normal!important;
        font-size: 1.4rem;
    }
    .ext-box-select+label{
        font-size: 1.4rem;
    }
    .address-main .edit-btn {
        font-size: 1.6rem;
    }
}
@media screen and (min-width: 350px) and (max-width: 380px) {
	.address-main li dl dd a{
    	min-width: 62px;
    }
}

@media screen and (min-width: 380px) {
	.address-main li dl dd a{
    	min-width: 70px;
    }
}
