html {
  font-size: 62.5%;
}
body {
  color: rgba(0, 0, 0, 0.3);
  font-family: 微软雅黑;
}
.page {
  width: 100%;
}
.aside {
  width: 35%;
  background-color: #f6f6f6;
  padding-left: 5%;
}
.aside .author {
  padding-top: 150px;
}
.aside ul {
  padding-top: 10%;
  padding-left: 5%;
}
.aside ul li {
  padding-bottom: 5px;
}
.aside .category {
  padding-top: 30px;
  color: #666;
}
.aside .category .lists {
  width: 60%;
}
.aside .category .list-num {
  float: right;
}
.main {
  width: 60%;
  float: right;
}
h1 {
  margin: 0;
  font-size: 60px;
  color: blue;
  background-color: black;
}
h2 {
  font-size: 2rem;
}
