@import "base.css";
@import "common.css";

.app {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: #fff;
}
.index-menu {
    padding: 4% 2% 16% 2%;
}
.index-menu > a {
    -webkit-box-flex: 1;
    display: block;
}
.index-menu > a:nth-child(2) {
    margin: 0 1%;
}
.copyright {
    width: 100%;
    text-align: center;
    color: rgb(153,153,153);
    font-size: 14px;
    letter-spacing: 1px;
    position: absolute;
    bottom: 2%;
    left: 0;
}