@charset "utf-8";

@import "./../base.css";
@import "./../common.css";

/*我的首页*/
.page-my {
	padding-bottom: 14%;
	background-color: #e7e7e7;
}
.page-my .my-top {
	width:100%;
	height: 2rem;
	background-color: #24936e;
	position: relative;
}
.page-my .my-top:after {
	content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #f0f0f0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    -webkit-transform: scale(1, .5);
    transform: scale(1, .5);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}
.my-top .my-icon {
    width: 1.4rem;
    margin-left: 8%;
    margin-top: 4%;
}
.my-top .my-info {
	-webkit-box-flex: 1;
	text-align: left;
	margin-top: 7%;
	margin-left: 4%;
	font-size: .26rem;
	color: #fff799;
}
.my-top .my-info > p {
	width: 90%;
	position: relative;
	line-height: .5rem;
}
.my-top .my-info .my-nickname {
	color: #fff;
	font-size: .32rem;
}
.my-top .my-info .my-level {
	position: absolute;
	right: 0;
}
.my-top .my-info-chance {
	margin-top: 5%;
	font-size: .24rem;
}
.my-top .my-info-chance > p {
	width: 92%;
	position: relative;
	line-height: .4rem;
}
.my-top .my-info-chance .my-level-up {
	display: inline-block;
	background-color: #096148;
	color: #fff;
	border-radius: 5px;
	padding: .04rem 4%;
	margin-top: 2%;
}
.page-my .my-refer {
	width:100%;
	height: .8rem;
	line-height: .8rem;
	font-size: .3rem;
	letter-spacing: 1px;
	background-color: #24936e;
	color: #fff;
	position: relative;
}
.my-refer .flex-item-two:first-child:before {
	content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: #f0f0f0;
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
    top: 0;
    -webkit-transform: scale(.5, 1);
    transform: scale(.5, 1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.my-refer .refer-icon-peo,
.my-refer .refer-icon-link {
	display: inline-block;
	width: .44rem;
	height: .44rem;
	background: url(./../../images/my/User.png) no-repeat;
	background-size: 100% 100%;
	vertical-align: middle;
	position: relative;
    top: -3px;
    margin-right: 4%;
}
.my-refer .refer-icon-link {
	width: .72rem;
	background: url(./../../images/my/Group.png) no-repeat;
	background-size: 100% 100%;
}

.my-order-list {
	height: 1.2rem;
	color: #999;
	background-color: #fff;
	position: relative;
}
.my-order-list:after {
	content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #999;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    -webkit-transform: scale(1, .5);
    transform: scale(1, .5);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}
.my-order-list .flex-item-five {
	position: relative;
	height: 1.2rem;
}
.my-order-list .flex-item-five:active {
	background-color: #eee;
}
.my-order-list .flex-item-five > img {
	width: .46rem;
	margin-top: 12%;
}
.my-order-list .flex-item-five:nth-child(2) > img,
.my-order-list .flex-item-five:nth-child(4) > img {
	width: .42rem;
	margin-top: 14%;
}
.my-order-list .flex-item-five:nth-child(3) > img {
	width: .48rem;
	margin-top: 16%;
}
.my-order-list .flex-item-five:nth-child(5) > img {
	width: .42rem;
	margin-top: 16%;
}
.my-order-list .flex-item-five > p {
	width: 100%;
	position: absolute;
	bottom: 8%;
}
.my-order-list .flex-item-five .new-order {
	position: absolute;
    background-color: red;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
    top: 6%;
    right: 22%;
    display: inline-block;
    width: .3rem;
    height: .3rem;
    text-align: center;
    line-height: .3rem;
}
/*my menu*/
.my-menu {
	margin-top: 3%;
}
.my-logout {
	width: 80%;
	margin: 6% auto;
	height: .8rem;
	line-height: .8rem;
	text-align: center;
	background-color: #24936e;
	color: #fff;
	font-size: .38rem;
	letter-spacing: 1px;
	border-radius: 8px;
}

.level-box {
	width: 86%;
	margin: 0 auto;
	margin-top: 26%;
	position: relative;
}
.box-btns {
	width: 80%;
	position: absolute;
	top: 42%;
	left: 10%;
}
.box-btns > img {
	width: 44%;
}
.box-btns > img:last-child {
	float: right;
}