/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */
div, img, span, i {margin: 0;padding: 0;}
/** 重置列表元素 **/
ul, ol { list-style: none; }
/** 重置文本格式元素 **/
a { text-decoration: none; }
ul li {list-style: none;  }
input { border: none;outline: none;}
body {font-size: 12px;-webkit-tap-highlight-color: rgba(0,0,0,0);width: 100%;height: 100%;position: absolute;}
::-webkit-scrollbar {width: 0;}

.voucher {
    width: 100%;
    min-height: 100%;
    background: url(./../../img/l-4.jpg) no-repeat;
    background-size: 100% 100%;
    position: absolute;
}
.voucher .tab {
    background-color: rgba(0,0,0, .4);
}
.v-menus {
    width: 4.6rem;
    margin: 0 auto;
    text-align: left;
    margin-top: 10%;
}
.v-menus-btn {
    display: inline-block;
    width: 2.1rem;
    height: .65rem;
    line-height: .65rem;
    background-color: rgb(61,107,50);
    color: rgb(160,160,160);
    border-radius: 5px;
    text-align: center;
    font-size: .36rem;
    letter-spacing: 2px;
}
.v-menus .v-menus-btn:last-child {
    float: right;
}
.v-menus-active {
    background-color: rgb(79,153,39);
    color: rgb(241,219,119);
}
/**/
.v-list {
    margin-bottom: 18%;
    margin-top: 10%;
}
.v-item {
    width: 4.6rem;
    height: 2.9rem;
    margin: 0 auto;
    background: url(./../../img/v-01.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    margin-bottom: 12%;
    -webkit-box-shadow: 1px 1px 20px rgba(115,87,2,1);
    text-align: left;
}
.v-item-title {
    font-size: .54rem;
    font-weight: bold;
    color: rgb(84,63,2);
    padding-left: .5rem;
    padding-top: .2rem;
}
.v-item-type {
    font-size: .48rem;
    font-weight: bold;
    color: rgb(225,3,5);
    padding-left: .5rem;
}
.v-item-time {
    position: absolute;
    bottom: .2rem;
    left: .25rem;
    line-height: .28rem;
    font-size: .24rem;
    color: rgb(109,88,23);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transform:scale(0.9);
    transform:scale(0.9);
}
.v-item-over {
    background: url(./../../img/v-02.png) no-repeat;
    background-size: 100% 100%;
    -webkit-box-shadow: 1px 1px 20px rgba(66,66,66,.6);
}
.v-item-over .v-item-title, .v-item-over .v-item-type, .v-item-over .v-item-time {
    color: rgb(66,66,66);
}
.v-item-over .v-item-tag {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    top: .3rem;
    right: .8rem;
    z-index: 99;
}
/**/
.v-used {
    display: none;
}
.v-used .v-item-type {
    color: rgb(84,63,2);
}
.v-item-utime {
    display: inline-block;
    margin-left: .25rem;
    margin-top: .1rem;
    font-size: .24rem;
    background: -webkit-linear-gradient(top, rgb(171,1,18), rgb(229,4,4) 50% ,rgb(171,1,18));
    color: #fff;
    padding: 4px 3px;
    border: 1px solid rgb(255,241,147);
    border-radius: 5px;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transform:scale(0.9);
    transform:scale(0.9);
}

/*活动页面*/
.fanfan {
    width: 100%;
    min-height: 100%;
    background: url(./../../img/l-4.jpg) no-repeat;
    background-size: 100% 100%;
    position: absolute;
}
.fanfan .tab {
    background-color: rgba(0,0,0, .4);
}
.f-list {
    margin-top: 12%;
    position: relative;
}
.f-list:after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
.f-mouse {
    position: absolute;
    left: .9rem;
    top: 2.9rem;
    width: .8rem;
    height: 1rem;
    background: url(./../../img/v-12.png) no-repeat;
    background-size: 100% 100%;
    z-index: 9;
    -webkit-animation: run .8s ease infinite;
}
@-webkit-keyframes run {
    0% { -webkit-transform: translate3D(0,0,0);}
    50% { -webkit-transform: translate3D(0,-5px,0);}
    100% { -webkit-transform: translate3D(0,0,0);}
}
.f-item {
    display: inline-block;
    width: 1.2rem;
    height: 3.2rem;
    position: relative;
    float: left;
    margin-left: .32rem;
    margin-bottom: 12%;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}
.f-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    background: url(./../../img/v-p-0.png) no-repeat;
    background-size: 100% 100%;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
.f-font {
    width: .8rem;
    height: .8rem;
    -webkit-backface-visibility: hidden;
    position: relative;
}
.f-font1 {
    background: url(./../../img/v-p-1.png) no-repeat;
    background-size: 100% 100%;
}
.f-font2 {
    background: url(./../../img/v-p-2.png) no-repeat;
    background-size: 100% 100%;
}
.f-font3 {
    background: url(./../../img/v-p-3.png) no-repeat;
    background-size: 100% 100%;
}
.f-font4 {
    background: url(./../../img/v-p-4.png) no-repeat;
    background-size: 100% 100%;
}
.f-font5 {
    background: url(./../../img/v-p-5.png) no-repeat;
    background-size: 100% 100%;
}
.f-font6 {
    background: url(./../../img/v-p-6.png) no-repeat;
    background-size: 100% 100%;
}
.f-font7 {
    background: url(./../../img/v-p-7.png) no-repeat;
    background-size: 100% 100%;
}
.f-font8 {
    background: url(./../../img/v-p-8.png) no-repeat;
    background-size: 100% 100%;
}
.f-font-light {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
@-webkit-keyframes fade {
    0% {opacity: 0;}
    5% {opacity: 1;}
    10% {opacity: 0;}
    100% {opacity: 0;}
}
.f-font-light1 {
    opacity: 0;
    z-index: 2;
    background: url(./../../img/v-p-1-1.png) no-repeat;
    background-size: 100% 100%;
    -webkit-animation: fade 8s linear infinite;
}
.f-font-light2 {
    opacity: 0;
    z-index: 2;
    background: url(./../../img/v-p-2-1.png) no-repeat;
    background-size: 100% 100%;
    -webkit-animation: fade 8s 1s linear infinite;
}
.f-font-light3 {
    opacity: 0;
    z-index: 2;
    background: url(./../../img/v-p-3-1.png) no-repeat;
    background-size: 100% 100%;
    -webkit-animation: fade 8s 2s linear infinite;
}
.f-font-light4 {
    opacity: 0;
    z-index: 2;
    background: url(./../../img/v-p-4-1.png) no-repeat;
    background-size: 100% 100%;
    -webkit-animation: fade 8s 3s linear infinite;
}
.f-font-light5 {
     opacity: 0;
     z-index: 2;
     background: url(./../../img/v-p-5-1.png) no-repeat;
     background-size: 100% 100%;
    -webkit-animation: fade 8s 4s linear infinite;
 }
.f-font-light6 {
    opacity: 0;
    z-index: 2;
    background: url(./../../img/v-p-6-1.png) no-repeat;
    background-size: 100% 100%;
    -webkit-animation: fade 8s 5s linear infinite;
}
.f-font-light7 {
    opacity: 0;
    z-index: 2;
    background: url(./../../img/v-p-7-1.png) no-repeat;
    background-size: 100% 100%;
    -webkit-animation: fade 8s 6s linear infinite;
}
.f-font-light8 {
    opacity: 0;
    z-index: 2;
    background: url(./../../img/v-p-8-1.png) no-repeat;
    background-size: 100% 100%;
    -webkit-animation: fade 8s 7s linear infinite;
}

.f-price {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    -webkit-transform: rotateY(180deg);
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
}
.f-price-show {
    z-index: 9;
    -webkit-transform: rotateY(0deg);
    -webkit-transition: -webkit-transform .6s ease-in-out;
}
.f-cover-hide {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -webkit-transform: rotateY(180deg);
}
.f-shine-hide {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -webkit-transform: rotateY(180deg);
}
.f-price1 {
    background: url(./../../img/v-13.png) no-repeat;
    background-size: 100% 100%;
}
.f-price2 {
    background: url(./../../img/v-14.png) no-repeat;
    background-size: 100% 100%;
}
.f-price3 {
    background: url(./../../img/v-15.png) no-repeat;
    background-size: 100% 100%;
}
.f-price4 {
    background: url(./../../img/v-16.png) no-repeat;
    background-size: 100% 100%;
}
.f-price5 {
    background: url(./../../img/v-17.png) no-repeat;
    background-size: 100% 100%;
}
.f-price6 {
    background: url(./../../img/v-18.png) no-repeat;
    background-size: 100% 100%;
}
@-webkit-keyframes fade {
    0% {opacity: 0;}
    6% {opacity: 1;}
    12% {opacity: 0;}
    100% {opacity: 0;}
}
.f-shine {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    z-index: 2;
}
.f-shine1 {
    background: url(./../../img/v-04-01.png) no-repeat;
    background-size: 100% 100%;
    animation: fade 3s linear infinite;
}
.f-shine2 {
    background: url(./../../img/v-05-01.png) no-repeat;
    background-size: 100% 100%;
    animation: fade 3s 1s linear infinite;
}
.f-shine3 {
    background: url(./../../img/v-06-01.png) no-repeat;
    background-size: 100% 100%;
    animation: fade 3s 2s linear infinite;
}
.f-list {
    /*display: none;*/
}
.f-price-detail {
    text-align: center;
    display: none;
}
.f-d-title {
    width: 45%;
    margin-top: 8%;
}
.f-price-area {
    margin-top: 10%;
}
.f-d-pic {
    width: 66%;
}
.f-d-text {
    margin-top: 6%;
    color: #fff;
    font-size: .34rem;
    font-weight: bold;
    font-family:Arial;
}
.f-d-tip {
    width: 70%;
    margin-top: 12%;
}
.f-price-detail .v-item {
    margin-bottom: 0;
}
/**/
.f-mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
.f-played {
    display: -webkit-box;
    background-color: rgb(51,141,59);
    margin-top: 40%;
    padding: .3rem 0;
}
.f-played-icon {
    width: 2rem;
    height: 2.5rem;
    background: url(./../../img/j-1.png) no-repeat;
    background-size: 100% 100%;
    margin: 0 .4rem;
}
.f-played-text {
    -webkit-box-flex: 1;
    color: rgb(229,199,95);
    font-size: .26rem;
    line-height: .36rem;
}
.f-qrcode {
    color: #fff;
    margin-top: .3rem;
    display: -webkit-box;
}
.f-qrcode-pic {
    width: 1.25rem;
    height: 1.25rem;
}
.f-qrcode-text {
    position: relative;
    top: .25rem;
    left: .2rem;
}