.settings-main {
    padding: 0;
    margin-top:8px;
}

.settings-main ul {
    padding: 0;
    margin:0 ;
    background: #fff;
}
.settings-main li {
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
    display: block;
}

.settings-main li {
    line-height: 50px;
    height: 50px;
}
.settings-main li a{
    line-height: 50px;
    height: 50px;
    display: inline-block;
    color: #000!important;
}

.btn-right-a {
    width: 100%;
}
.settings-main .text-right {
    float: right;
    margin-right: 60px;
}
.settings-main li>a>span:first-child {
    display: inline-block;
    width: 60px;
    height: 50px;
    float: left;
}
.notice-settings>span:first-child {
    background: url("../../../imgs/an/hdpi/me_sz_xxts.png")no-repeat center;
}
.edit-password>span:first-child {
     background: url("../../../imgs/an/hdpi/me_sz_xgmm.png")no-repeat center;
 }
.suggestions>span:first-child {
     background: url("../../../imgs/an/hdpi/me_dz_yjfk.png")no-repeat center;
 }
.about>span:first-child {
     background: url("../../../imgs/an/hdpi/me_sz_gywm.png")no-repeat center;
 }
.agreement>span:first-child {
    background: url("../../../imgs/an/hdpi/me_sz_fwxy.png")no-repeat center;
}
.check-update>span:first-child {
    background: url("../../../imgs/an/hdpi/me_sz_jcbb.png")no-repeat center;
}
.clear-cache>span:first-child {
    background: url("../../../imgs/an/hdpi/me_sz_qchc.png")no-repeat center;
}

.login-out {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 100px;
}
.login-out a {
    background: #fff;
    width: 80%;
    display: inline-block;
    color: #000!important;
    padding: 20px 0;
    border-radius: 10px;
}