#article_detail_xxs {
    text-align: center;
    background-color: #fff;
    margin: 0;
    padding: 20px;
}

#article_detail_xxs > h1 {
    padding: 0;
    margin: 0;
    line-height: 126%;
    font-style: normal;
    font-size: 2rem;
    overflow: hidden;
    height: 50px;
    text-overflow: ellipsis;
    text-align: left;
    color: #000;
}

#article_detail_xxs > p {
    font-size: 1.6rem;
    color: #000 !important;
    text-indent: 20px;
}

#article_detail_xxs > div {
    text-align: left;
}
#article_detail_xxs .left-div, #article_detail_xxs .right-div {
    margin-top: 10px;
}
#article_detail_xxs .left-div {
      float: left;
      width: 46%;
  }
#article_detail_xxs .left-div>span {
    background:url('../../../images/hdpi/wzxq_sj.png')no-repeat left;
}
#article_detail_xxs .right-div {
    float: right;
    width: 46%;
}
#article_detail_xxs .right-div>span {
    background:url('../../../images/hdpi/wzxq_ll.png')no-repeat left;
}
#article_detail_xxs div > span {
    color: #999;
    padding:5px 0 5px 36px;
}

#contact_share_article .ui-li-static {
    color: #000;

}
#article_detail_xxs .ui-li-static>span {
    font-weight: normal!important;
    font-size: 2rem;
}
#contact_share_article span {
    padding: 6px 0 6px 36px;
    line-height: 100%;


}

#contact_share_article  .btn-right-a{
    color: #000;
    width: auto;
    font-size: 1.6rem;
    padding-right: 10px;
    background-position: 48px;
}

.jqm-main {
    background-color: #FFF;
}