<!DOCTYPE html>
<html>
<meta charset="utf-8" />
 <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5,maximum-scale=1.0 , user-scalable=0">
<base href="../../../"/>
  <link rel="stylesheet" href="css/common/jquery.mobile-1.4.5.min.css"/>
  <link rel="stylesheet" href="css/style-final.css" />
  <link rel="stylesheet" href="css/customer/order/order-detail.css" />
</head>
<body>
<div data-role="page" class="jqm-main" data-quicklinks="true">
    <section data-role="header" data-theme="b" class="my-header" id="my-header">
        <a href="javascript:history.back();"  data-role="none" class="my-header-back-btn"></a>
        <h2>订单详情</h2>
        <a href="#" class="my-header-right-btn-ad" data-role="none"><span>.</span><span>.</span><span>.</span></a>
    </section>
<section data-role="content" role="main" class="order-detail-main">
    <ul class="order-info-s" id="OrderDetail_showInfo">
       <!-- <li>
            <dd style="width:50%"><h1>订单信息</h1></dd>
            <dd class="text-right" style="width:50%">
            </dd>
        </li>

        <li>
            <dt class="time-status-ico">
                <img src="images/hdpi/ddxq_ddxx.png"/></dt>
            <dd class="pay-type-text">
                <p> 订单编号：<span>11234534tgddff</span></p>
                <p>下单时间：<span>2016-04-29 12:00:00</span></p>
                <p>订单状态：<span>支付中</span></p>
            </dd>
        </li>
        <li>
            <dt class="reason-ico"><img src="images/hdpi/wddd_thyy.png"/></dt>
            <dd class="pay-type-text">
                <p> 退货原因：<span>与预期不符</span></p>
                <p>退货说明：<span>颜色不符合</span></p>
            </dd>
        </li>
        <li>
            <dt class="address-ico"><img src="images/hdpi/ddxq_shxx.png"/></dt>
            <dd class="pay-type-text">
                <p> 收货人：<span >苟小敏</span> <span>17897878989</span></p>
                <p>收货地址：<span >北京市东花市北里20号楼6北里20号单元501室</span></p>
            </dd>
        </li>
        <li>
            <dt class="message-ico"><img src="images/hdpi/ddxq_mjly.png"/></dt>
            <dd class="pay-type-text">
                <p> 买家留言<span></span>:</p>
                <p><span>推荐已安装支付宝客户端使用</span></p>
            </dd>
        </li>-->
    </ul>

</section>
<section data-role="content" class="order-detail-main my-list-view">
<h1>商品详情</h1>
    <div style="clear: both"></div>
    <table id="OrderDetail_showImage">
       <!-- <tr >
            <td class="td-left"> <img  src="images/test-img/goods.png"></td>
            <td class="td-middle"><p>云南七子饼普洱茶云南七子饼普洱茶云南七子饼普洱茶</p>
                <p><em class="text-color">￥588</em> </p>
                <p><span>500g</span><span>精包装</span></p>
            </td>
            <td class="td-right"><p>x1</p></td>
        </tr>
        <tr >
            <td class="td-left"> <img  src="images/test-img/goods.png"></td>
            <td class="td-middle"><p>云南七子饼普洱茶</p>
                <p><em class="text-color">￥588</em> </p>
                <p><span>500g</span><span>精包装</span></p>
            </td>
            <td class="td-right"><p>x1</p></td>
        </tr>-->
    </table>
    <div class="bar-b-tj" id="bar-b-tj">
      <!-- <dl>
           <dd><em>商品总额</em> <em class="text-right"> ￥588</em></dd>
           <dd ><em>运费</em><em class="text-right">￥18</em></dd>
       </dl>
        <dl>
            <dd class="text-right" style="width: 93%"><em>共</em><em>2</em><em>件商品 合计:</em><em class="red">￥588</em>&nbsp;&nbsp;</dd>
        </dl>-->
    </div>
</section>

    <section id="ps-info">
       <!-- <div class="bar-b-tj">
            <dl>
                <dd><em>配送信息</em> <em class="text-right"> 商家配送</em></dd>
            </dl>
             <dl>
                 <dd><em>发票信息</em> <em class="text-right"> 单位发票</em></dd>
                 <dd ><em>发票抬头</em><em class="text-right">厦门茶商</em></dd>
             </dl>
        </div>-->
    </section>

    <section  data-role="footer"  data-disable-page-zoom="false" data-position="fixed" style="background-color: #ffffff;padding: 10px" id="order-cast-info">

<!--        <span class="order-cast-info">实际收款：<em class="red">￥588</em> (含运费：<em>包邮</em>)</span>
        <a  href="#myPopup" data-rel="popup" data-position-to="window" data-role="none" class="ok-order-btn-r wait-pay-btn">等待卖家确认</a>-->
    </section>

</div>

</body>
    
<script src="js/common/jquery.min.js"></script>
<script src="js/common/common.js"></script>
 <script>
     Util.common.setWxTitle('订单详情');
    $(document).bind('mobileinit',function(){
        $.mobile.changePage.defaults.changeHash = false;
        $.mobile.hashListeningEnabled = false;
        $.mobile.pushStateEnabled = false;
    });
</script> 
<script src="js/common/jquery.mobile-1.4.5.min.js" ></script>
<script src="js/customer/order/order-detail-submit.js" ></script>

<script src="js/common/jquery.tmpl.min.js" ></script>

<script type="text/x-jquery-tmpl" id="OrderDetail_showInfo_t">
    <li>
    <dd style="width:50%"><h1>订单信息</h1></dd>
     <dd class="text-right" style="width:50%">
     </dd>
    </li>

     <li>
      <dt class="time-status-ico">
      <img src="images/hdpi/ddxq_ddxx.png"/></dt>
      <dd class="pay-type-text">
      <p> 订单编号：<span>${name}</span></p>
    <p>下单时间：<span>${createTime}</span></p>
    <p>订单状态：<span id="statusName">${statusName}</span></p>
    </dd>
    </li>
  {{if statusName == "退货中" || statusName == "已退货"}}
    <li>
    <dt class="reason-ico"><img src="images/hdpi/wddd_thyy.png"/></dt>
            <dd class="pay-type-text">
            <p> 退货原因：<span>${returnName}</span></p>
    <p>退货说明：<span>${returnRemark}</span></p>
    </dd>
    </li>
    {{/if}}
     {{if statusName == "退款中" || statusName == "已退款"}}
    <li>
    <dt class="reason-ico"><img src="images/hdpi/wddd_thyy.png"/></dt>
            <dd class="pay-type-text">
            <p> 退款原因：<span>${refundName}</span></p>
    <p>退款说明：<span>${refundRemark}</span></p>
    </dd>
    </li>
    {{/if}}
    <li>
    <dt class="address-ico"><img src="images/hdpi/ddxq_shxx.png"/></dt>
            <dd class="pay-type-text">
            <p> 收货人：<span >${receiver}</span> <span>${receiverPhone}</span></p>
            <p>收货地址：<span >${fullAddress}</span></p>
    </dd>
    </li>
   <!-- <li>
    <dt class="message-ico"><img src="images/hdpi/ddxq_mjly.png"/></dt>
            <dd class="pay-type-text">
            <p> 买家留言<span></span>:</p>
    <p><span>平时不在家，周末送货</span></p>
    </dd>
    </li>-->
</script>
<script type="text/x-jquery-tmpl" id="OrderDetail_showImage_t">
{{each(i,good) datas}}
     <tr id=${good.tradeGoodSku.goodId} onclick="customer.order.goDetailPro(this);">
            <td class="td-left"> <img  src="${good.tradeGoodImgUrl}"></td>
            <td class="td-middle"><p>${good.tradeGoodName}</p>
                <p><em class="text-color">￥${good.tradeGoodAmount}</em> </p>
                <p><span>${good.tradeGoodType}</span></p>
            </td>
            <td class="td-right"><p>x${good.number}</p></td>
        </tr>
{{/each}}
</script>
<script type="text/x-jquery-tmpl" id="bar-b-tj_t">
     <dl>
           <dd><em>商品总额</em> <em class="text-right"> ￥${totalAmount}</em></dd>
           <dd ><em>运费</em><em class="text-right">￥0.00</em></dd>
       </dl>
        <dl>
            <dd class="text-right" style="width: 93%"><em>共</em><em>${number}</em><em>件商品 合计:</em><em class="red">￥${paymentAmount}</em>&nbsp;&nbsp;</dd>
        </dl>
</script>
<script type="text/x-jquery-tmpl" id="order-cast-info_t">
            <span class="order-cast-info"><span>实际收款：</span><em class="red">￥<span id="all">${totalAmount}</span></em></span>
        <a  href="#" class="ok-order-btn-r wait-pay-btn" onclick="customer.order.goPay(this);">${statusName}</a>
        {{if statusName == "待付款"}}
        <a  href="#" class="cancel-order-btn-r cancel-pay-btn" onclick="customer.order.cancelOrder(${id});">取消订单</a>
        {{/if}}
</script>
<script type="text/x-jquery-tmpl" id="ps-info-t">
 <div class="bar-b-tj">
            <dl>
                <dd><em>配送信息</em> <em class="text-right"> 商家配送</em></dd>
            </dl>
             <dl>
             {{if invoiceName.indexOf("公司") != -1}}
                 <dd><em>发票信息</em> <em class="text-right"> 单位发票</em></dd>
                 <dd ><em>发票抬头</em><em class="text-right">${invoiceContent}</em></dd>
                 {{else invoiceName.indexOf("个人") != -1}}
                 <dd><em>发票信息</em> <em class="text-right"> 个人发票</em></dd>
                 {{else}}
                 <dd><em>发票信息</em> <em class="text-right"> 不开发票</em></dd>
             {{/if}}

             </dl>
        </div>
</script>
</html>