.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}

.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}

/* 自定义图标 */
.icon-logout{
	background:url('icons/logout.png') no-repeat center center;
}
.icon-new{
	background:url('icons/new.gif') no-repeat center center;
}
.icon-new-png{
	background:url('icons/new.png') no-repeat center center;
}

/* 新UI图标，2014年6月30日09:24:41 */
.icon-newui-1{
	background:url('icons/newui/1.png') no-repeat center center;
}
.icon-newui-2{
	background:url('icons/newui/2.png') no-repeat center center;
}
.icon-newui-3{
	background:url('icons/newui/3.png') no-repeat center center;
}
.icon-newui-4{
	background:url('icons/newui/4.png') no-repeat center center;
}
.icon-newui-5{
	background:url('icons/newui/5.png') no-repeat center center;
}
.icon-newui-6{
	background:url('icons/newui/6.png') no-repeat center center;
}
.icon-newui-7{
	background:url('icons/newui/7.png') no-repeat center center;
}
.icon-newui-8{
	background:url('icons/newui/8.png') no-repeat center center;
}
.icon-newui-9{
	background:url('icons/newui/9.png') no-repeat center center;
}
.icon-newui-10{
	background:url('icons/newui/10.png') no-repeat center center;
}
.icon-newui-11{
	background:url('icons/newui/11.png') no-repeat center center;
}
.icon-newui-12{
	background:url('icons/newui/12.png') no-repeat center center;
}
.icon-newui-13{
	background:url('icons/newui/13.png') no-repeat center center;
}
.icon-newui-14{
	background:url('icons/newui/14.png') no-repeat center center;
}
.icon-newui-15{
	background:url('icons/newui/15.png') no-repeat center center;
}
.icon-newui-16{
	background:url('icons/newui/16.png') no-repeat center center;
}
.icon-newui-17{
	background:url('icons/newui/17.png') no-repeat center center;
}
.icon-newui-18{
	background:url('icons/newui/18.png') no-repeat center center;
}
.icon-newui-19{
	background:url('icons/newui/19.png') no-repeat center center;
}
.icon-newui-20{
	background:url('icons/newui/20.png') no-repeat center center;
}
.icon-newui-21{
	background:url('icons/newui/21.png') no-repeat center center;
}
.icon-newui-22{
	background:url('icons/newui/22.png') no-repeat center center;
}
.icon-newui-23{
	background:url('icons/newui/23.png') no-repeat center center;
}
.icon-newui-24{
	background:url('icons/newui/24.png') no-repeat center center;
}
.icon-newui-25{
	background:url('icons/newui/25.png') no-repeat center center;
}
.icon-newui-26{
	background:url('icons/newui/26.png') no-repeat center center;
}

.icon-newui-tongji{
	background:url('icons/newui/tongji.png') no-repeat center center;
}
.icon-newui-chanpin{
	background:url('icons/newui/chanpin.png') no-repeat center center;
}
.icon-newui-qudao{
	background:url('icons/newui/qudao.png') no-repeat center center;
}
.icon-newui-main{
	background:url('icons/newui/main.png') no-repeat center center;
}
.icon-newui-xitong{
	background:url('icons/newui/xitong.png') no-repeat center center;
}
