ul {
    margin: 0;
    padding: 0;
}

/**
*头部分享按钮
*/
.my-header-ddd-btn {
    height: 2rem;
    width: 1.5rem;
    background: url("../../../imgs/an/hdpi/dpgl_ss.png") no-repeat;
}

.article-list-show {
    padding: 0 10px;
    margin: 0;
    background: #ffffff;
}
.article-list-show ul {
    margin: 0;
}
.article-list-show-bar>ul>li {
    float: left;
    width: 33%;
    text-align: left;
    font-size: 24px;
    padding: 20px 0px;
}

.article-list-show-bar>ul>li a:active,.article-list-show-bar>ul>li a:hover,.article-list-show-bar>ul>li a:focus,.article-list-show-bar>ul>li a:visited {
    color: #FF5555;
}
.article-list-show-bar>ul>li:first-child a:active,.article-list-show-bar>ul>li:first-child a:hover,.article-list-show-bar>ul>li:first-child a:focus,.article-list-show-bar>ul>li:first-child a:link{
    background: url("../../../imgs/an/hdpi/yxtg_qbfl_dl.png")no-repeat right;
    background-position-y: -11px
}
.article-list-show-bar>ul>li:first-child a{
    /*width: 100px;*/
    padding-left: 10px;
}
.article-list-show-bar>ul>li a {
    background-position-y: -8px;
    padding: 0px 40px;
    display: inline-block;
}
.article-list-show-bar>ul>li:first-child a{
    background: url("../../../imgs/an/hdpi/yxtg_qbfl_md.png")no-repeat right;
}
.article-list-show-bar>ul>li:first-child+li a{
    background: url("../../../imgs/an/hdpi/yxtg_jx.png")no-repeat right;
}
.article-list-show-bar>ul>li:first-child+li+li a{
    background: url("../../../imgs/an/hdpi/yxtg_jx.png")no-repeat right;
}

.article-bar-list {
    width: 100%;
    margin: 0;
    left: 0!important;
    border: 1px solid #f2f2f2;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.43);
    top:136px;
    position: absolute;
    height: 100%;
    border-top: 1px solid #bbb;
}
.article-bar-list>.share-content {
    bottom: 0;
    position: relative;
    top: 0px;
    width: 100%;
    background-color: #fff;
    text-align: left;
}
.article-bar-list ul>li{
    line-height: 44px;
    border-bottom: 1px solid #bbb;
    padding: 6px 30px;
}
.article-bar-list ul>li a {
    padding: 5px 43px;
}
.article-bar-list ul>li:first-child a{
    background: url("../../../imgs/an/hdpi/yxtg_xl_qbfl_md.png")no-repeat;
    background-position-y: -4px;
}
.article-bar-list ul>li:first-child a:active,.article-bar-list ul>li:first-child a:hover,.article-bar-list ul>li:first-child a:focus{
    color: #ff5555;
    background: url("../../../imgs/an/hdpi/yxtg_xl_qbfl_dl.png")no-repeat;
    background-position-y: -4px;
}
.article-type1>a {
    background: url("../../../imgs/an/hdpi/yxtg_xl_cpzx_md.png")no-repeat;
    background-position-y: -4px;
}

.article-type1>a:active,.article-type1>a:hover,.article-type1>a:focus{
    color: #ff5555;
    background: url("../../../imgs/an/hdpi/yxtg_xl_cpzx_dl.png")no-repeat;
    background-position-y: -4px;
}
.article-type2>a {
    background: url("../../../imgs/an/hdpi/yxtg_xl_qwtw_md.png")no-repeat;
    background-position-y: -4px;
}
.article-type2>a:active,.article-type2>a:hover,.article-type2>a:focus{
    color: #ff5555;
    background: url("../../../imgs/an/hdpi/yxtg_xl_qwtw_dl.png")no-repeat;
    background-position-y: -4px;
}
.article-type3>a {
    background: url("../../../imgs/an/hdpi/yxtg_xl_ssrd_md.png")no-repeat;
    background-position-y: -4px;
}
.article-type3>a:active,.article-type3>a:hover,.article-type3>a:focus{
    color: #ff5555;
    background: url("../../../imgs/an/hdpi/yxtg_xl_ssrd_dl.png")no-repeat;
    background-position-y: -4px;
}
.checked-bar {
    background: url("../../../imgs/an/hdpi/yxtg_xl_dg.png")no-repeat right;

}
.checked-bar a{ color: #FF5555;}
.article-bar-list ul>li:active,.article-bar-list ul>li:active:focus,.article-bar-list ul>li:active:visited {
    background: url("../../../imgs/an/hdpi/yxtg_xl_dg.png")no-repeat right;
}
/**
*list-view
*/
.article-list-view li {
    width: 100%;
    padding:10px 10px;
    height: 4rem;
    display: inline-block;
    border-bottom: 1px solid #bbbbbb;
}
.article-list-view h3 {
    font-size: 24px;
    margin: 0;
    max-height: 62px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 141%;
}

.article-list-view dt {
    width: 70%;
    height: 100%;
    float: left;
}
.article-list-view dt>p {
    margin-bottom: 10px;
}
.article-list-view dt>p>span {
    display: inline-block;
    padding-left: 44px;
    height: 30px;
    height: 30px;
    line-height: 30px;
}
.article-list-view dt>p>span:first-child {
    background: url("../../../imgs/an/hdpi/yxtg_sj.png")no-repeat;
    background-position-y: -7px;
}
.article-list-view dt>p>span:first-child+span {
    background: url("../../../imgs/an/hdpi/yxtg_ll.png")no-repeat;
    background-position-y: -7px;
    float: right;
}
.article-list-view dd {
     display: inline-block;
    position: absolute;
    -webkit-margin-start: 10px;
 }
.article-list-view  dd img {
    max-height: 120px;
}
.article-list-view a{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
	height: 70%;
}
.article-list-view p{
	margin-top:0px
}