.judge-main {
    padding: 0;
   /* margin-top: 1.3rem;*/
}
.ui-content {
    overflow: hidden;
}
.judge-main img{
    max-width: 200px;
    max-height: 200px;
    width: 20%;
    margin-right: 0%;
}
.judge-main .add_img {
    margin-right: 2%;
}
.judge-content-dl img {
    margin-bottom: 2%;
}
.judge-main dt,dd{
    display: inline-block;
    display: inline-block;
    float: left;
}
.judge-img-star dt{
  width:30% ;
    max-width: 200px;
}

.judge-img-star dt>img {
    width: 100%;
    /*border-radius: 10px;*/
}
.judge-img-star dd {
    margin: 0;
    width: 66%;
    padding-left: 3%;
}
.judge-img-star .score-text {
    position: relative;
    top: -8px;
}
.judge-content-dl {
    width: 100%;
    display: inline-block;
    border-bottom: 1px dashed #ccc;
}
.judge-content-dl dd {
    margin: 0;
}
.judge-main dl{
    margin: 3px 0;
    padding: 10px 10px;
    background: #ffffff;
    position: relative;
}
.judge-main dl:after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
.pingfen{
	position: absolute;
	bottom: 0.5rem;
	left: 36%;
}
.judge-main textarea{
    width: 95%!important;
    border: 0;
    font-size: 1.5rem;
    padding: 8px;
}
.judge-main-score img {
    width: 15%;
    max-width: 36px;
}
.nm-judge-checkbox-div {
    text-align: right;
    margin: 20px;
}
#my-dialog-popup {
    width: 120%;
    left: -20%;
    padding-bottom: 1.6em;
    visibility: hidden;
}
#my-dialog-popup .img-p-notice+p {
    top: 0;
    font-size: 1.2em;
    letter-spacing: 2px;
}
#my-dialog-popup .img-p-notice+p+p {
    margin-top: 20px;
    margin-bottom: 40px;
}
#my-dialog-popup .ok-order-btn {
    padding: 2px 20px;
    font-size: 1.2em;
    text-shadow: none;
    letter-spacing: 4px;
}

#selectPic {
    position: absolute;
    left: -9999em;
}