/*my-已登录*/
.m-content-logout {
    text-align: center;
}
.m-pic {
    text-align: center;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    border: 1px solid rgb(54,146,62);
    border-radius: 50%;
    margin-top: 8%;
}
.m-pic img {
    width: 1.8rem;
    height: 1.8rem;
    margin-top: .1rem;
}
.m-phone {
    text-align: center;
    padding: .15rem 0;
    color: rgb(79,153,39);
    font-size: .4rem;
}
/*iconfont*/
@font-face {font-family: "iconfont";
    src: url('./../font/iconfont.eot'); /* IE9*/
    src: url('./../font/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
    url('./../font/iconfont.woff') format('woff'), /* chrome, firefox */
    url('./../font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('./../font/iconfont.svg') format('svg'); /* iOS 4.1- */
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:.35rem;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon-yduizhengquekongxin:before { content: "\e6a8"; }
.icon-yduiwenhao:before { content: "\e69f"; }
.icon-yduicuowukongxin:before { content: "\e675"; }
.m-status {
    font-size: .3rem;
    color: rgb(108,105,104);
    padding: .05rem 0;
}
.m-status-text {vertical-align: top;}
.status-active , .status-active .icon-yduizhengquekongxin:before {color: rgb(79,153,39);}
.m-sug {
    padding: .4rem .2rem;
    display: -webkit-box;
}
.m-tjr, .m-tjlink {-webkit-box-flex: 1;}
.m-tj-box {
    display: inline-block;
    width: 2.2rem;
    height: 2.2rem;
    background-color: rgb(79,153,39);
    border-radius: 10px;
    color: #fff;
    font-size: .3rem;
    letter-spacing: 1px;
}
.icon-p-one {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 auto;
    background: url(./../img/p-1.png) no-repeat;
    background-size: 100% 100%;
    margin-top: .3rem;
    margin-bottom: .15rem;
}
.icon-p-two {
    display: block;
    width: 1.8rem;
    height: 1.2rem;
    margin: 0 auto;
    background: url(./../img/p-2.png) no-repeat;
    background-size: 100% 100%;
    margin-top: .3rem;
    margin-bottom: .15rem;
}
.btn-logout {
    display: inline-block;
    width: 86%;
    height: .65rem;
    line-height: .65rem;
    text-align: center;
    color: #fff;
    font-size: .3rem;
    background-color: rgb(79,153,39);
    border-radius: 5px;
    letter-spacing: 2px;
    margin-top: 6%;
}
/*my-推荐人*/
.m-content-refer {
    text-align: center;
}
.icon-refer {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 auto;
    margin-top: 14%;
}
.m-r-input {
    text-align: center;
    border: none;
    outline: none;
    padding: .5rem 0 .2rem 0;
    font-size: .4rem;
    color: rgb(160,160,160);
    letter-spacing: 1px;
    border-bottom: 1px solid rgb(160,160,160);
}
.m-r-tip {
    text-align: left;
    padding-left: 20%;
    color: rgb(79,153,39);
    font-size: .24rem;
    margin-top: 2%;
    line-height: .4rem;
}
.m-r-tip-2 {
    text-align: left;
    padding-left: 20%;
    margin-top: 6%;
}
.m-r-tip-2 > p {
    position: relative;
    color: rgb(255,68,0);
    font-size: .26rem;
    line-height: .6rem;
}
.m-r-tip-2 > p:before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: rgb(255,68,0);
    border-radius: 50%;
    position: relative;
    top: -.05rem;
    margin-right: .1rem;
}
.m-r-btn-submit {
    display: inline-block;
    width: 90%;
    line-height: .65rem;
    color: #fff;
    background-color: rgb(79,153,39);
    font-size: .3rem;
    border-radius: 5px;
    margin-top: 12%;
}
/*my-推广链接*/
.m-content-referlink {
    text-align: center;
}
.m-rl-line {
    width: 86%;
    margin: 0 auto;
    padding: 0 .1rem;
    line-height: .65rem;
    font-size: .24rem;
    border-radius: 6px;
    background-color: rgb(149,149,149);
    color: #fff;
    margin-top: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.m-rl-copy {
    background-color: rgb(79,153,39);
    letter-spacing: 4px;
}
/*my-未登录*/
.m-content-login {
    text-align: center;
    width: 100%;
    min-height: 100%;
    background: url(./../img/l-4.jpg) no-repeat;
    background-size: 100% 100%;
    position: absolute;
}
.m-l-logo {
    width: 4rem;
    height: 1.4rem;
    margin-top: 16%;
}
.m-l-form {
    width: 86%;
    margin: 0 auto;
    margin-top: 14%;
    border: 1px solid rgb(79,153,39);
    border-radius: 5px;
}
.m-l-line {
    display: -webkit-box;
    background-color: rgba(255,255,255,.2);
}
.m-l-line:nth-child(1) {border-bottom: 1px solid rgb(79,153,39);}
.m-l-icon {width: 20%;}
.m-l-icon-1 {
    display: inline-block;
    width: .5rem;
    height: .5rem;
    background: url(./../img/l-2.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: .2rem;
}
.m-l-icon-2 {
    display: inline-block;
    width: .38rem;
    height: .5rem;
    background: url(./../img/l-3.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: .2rem;
}
.m-l-input {
    -webkit-box-flex: 1;
    padding: .3rem 0;
    font-size: .28rem;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0);
    color: rgb(160,160,160);
}
.m-l-login {
    display: inline-block;
    width: 86%;
    line-height: .65rem;
    background-color: rgb(79,153,39);
    color: #fff;
    font-size: .36rem;
    margin-top: 12%;
    border-radius: 6px;
}
.m-l-forget {
    width: 86%;
    margin: 0 auto;
    margin-top: 8%;
    font-size: .3rem;
    position: relative;
    text-align: left;
}
.m-l-forget > a {
    text-decoration: underline;
    color: rgb(160,160,160);
}
.m-l-reg {
    position: absolute;
    right: 0;
}