<!DOCTYPE html>
<html>
<meta charset="utf-8"/>
<meta charset="utf-8"/>
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.5,maximum-scale=0.65 , user-scalable=0">
<base href="../../../"/>
<link rel="stylesheet" href="css/common/jquery.mobile-1.4.5.min.css"/>
<link rel="stylesheet" type="text/css" href="css/common/common.css"/>
<link rel="stylesheet" href="css/style2.css"/>
<link rel="stylesheet" type="text/css" href="css/common/flexslider.css"/>
<link rel="stylesheet" href="css/business/activity/details.css"/>
</head>
<body>
<div data-role="page" class="jqm-main" data-quicklinks="true">
    <section data-role="header" data-theme="b" class="my-header" id="my-header">
        <a href="javascript:history.back();" data-rel="back" data-role="none" class="my-header-back-btn"></a>
        <h2>活动详情</h2>
        <a href="#" class="my-header-ddd-btn share-bottom-bar-a my-header-share-a" id="share-bottom-bar-a"
           data-role="none"></a>
    </section>
    <section data-role="content" role="main">
        <!-- 幻灯片 开始 -->
        <!--图片滚动-->
        <div id="slider-content" class="flexslider">
            <ul class="slides">

            </ul>
        </div>
        <div id="detailsId" class="activity-main">
        </div>
        <div class="activity-main">
            <dl>
                <dd>
                    <h3>评论</h3>
                </dd>
                <dd style="border-top: 1px solid #eee" class="ac-comment-ul">
                    <ul class="my-apply-list-view" id="commentId">

                    </ul>
                </dd>
            </dl>
        </div>
    </section>

    <section id="register" data-role="footer" data-disable-page-zoom="false" data-position="fixed" class="my-ui-footer-bar"
             style="background-color: #ffffff;display:none;">
        <ul>
            <li>
                <input type="text" data-role="none" class="ext-text-eee" id="public_comment_text" style="height: 2rem"
                       placeholder="请输入电话号码..."/>
                <a href="#" id="registerActivity" class="judge-put-a" onclick="business.activityDetails.register();"><b>报名</b></a></li>
        </ul>
    </section>
    <div class="my-ui-share-bottom hidden" id="share-bottom-bar-div">

        <div class="share-content">
            <p>分享到</p>
            <ul>
                <li onclick="window.shareActivityToWexin()"><a href="#"><img src="imgs/test-img/share-wx.png"/><span>微信</span></a></li>
                <li onclick="window.shareActivityToWexinCircle()"><a href="#"><img src="imgs/test-img/share-fd.png"/><span>朋友圈</span></a></li>
                <!--<li><a href="#"><img src="imgs/test-img/share-sina.png"/><span>微博</span></a></li>-->
            </ul>
        </div>
    </div>
</div>
<!--<div class="my-activity-bm-btn">
    <a href="#" ></a>
</div>-->
</body>

<script src="js/common/jquery.min.js"></script>
<script src="js/common/jquery.mobile-1.4.5.min.js"></script>
<script src="js/business/common/common.js"></script>
<script src="js/slider/jquery.flexslider-min.js"></script>
<script src="js/common/jquery.tmpl.min.js"></script>
<script src="js/common/common.js"></script>
<script src="js/business/activity/details.js"></script>
<script>
    window.shareActivityToWexin = function () {
        var content = business.activityDetails.content;
        window.app.wxShareJS(content.title, content.content, location.href + '&isShared=true', content.image[0] || '');
    };
    window.shareActivityToWexinCircle = function () {
        var content = business.activityDetails.content;
        window.app.wxShareCircleJS(content.title, content.content, location.href + '&isShared=true', content.image[0] || '');
    };
    $(document).bind('mobileinit', function () {
        $.mobile.changePage.defaults.changeHash = false;
        $.mobile.hashListeningEnabled = false;
        $.mobile.pushStateEnabled = false;
    });
</script>

</html>
<!--初始化幻灯片-->
<!--图片滚动-->
<script type="text/x-jquery-tmpl" id="activity_images_t">
      {{each(i,data) image}}
        <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: {{if i==0}}1{{/if}}{{if i!=0}}0{{/if}}; display: block; transition: opacity 0.8s ease; z-index: {{if i==0}}2{{/if}}{{if i!=0}}1{{/if}};" class="{{if i==0}}flex-active-slide{{/if}}">
             <img src="${data.picUrl}" draggable="false">
        </li>
      {{/each}}


</script>
<!--活动信息-->
<script type="text/x-jquery-tmpl" id="activity_details_t">
               <ul>
            <li class="activity-title">
                <h1>${title}</h1>
                <p class="bm-time-ps">报名截止时间：<em>${regEndTime}</em> <span>${participation}</span></p>
            </li>
            <li>
                <a href="#" class="btn-right-a activity-address-a" data-role="none" onclick="business.activityDetails.showMap('${activityAddress}')"><span>${activityAddress}</span></a>
            </li>
            <li>
             <p class="activity-bm-time"> <span>${beginTime}</span></p>
            </li>
            <li style="border: none">
                <p class="activity-bm-type"><span>${typeName}</span></p>
            </li>
        </ul>
        <div style="clear: both"></div>
      <dl>
          <dd>
            <h3>活动介绍</h3>
          </dd>
          <dd style="border-top:1px solid #eee;">
              <p>主办方介绍，组织者:<span>${sponsorName}</span></p>
              <p>主办地点：<span>${createAddress}</span></p>
              <p>集合地点：<span>${activityAddress}</span></p>
          </dd>
      </dl>
        <dl>
            <dd style="padding: 0 25px">
                <h3>主办方</h3> <span style="float: right;line-height: 55px ">${sponsorName}</span>
            </dd>
        </dl>
        <dl>
            <dd style="padding: 0 25px">
                <h3>报名人数</h3><a style="width:50%;float:right;" href="html/business/activity/apply-list.html?id=${id}"  target="_top" class="btn-right-a btn-bm-num-a" data-role="none"> <span>${participation}人</span></a>
            </dd>
        </dl>
        {{if canEdit}}
        <div class="my-activity-bm-btn my-activity-bm-edit-btn">
         <a href="html/business/activity/publish-activity.html?id=${id}" target="_top"></a>
        </div>
        {{/if}}


</script>
<!--活动评论-->
<script type="text/x-jquery-tmpl" id="activity_comment_t">
<li>
    <div class="comment-info">
        <span class="left-apply"><img src="${headImgUrl}"></span>
        <span class="left-apply comment-name"><b>${nickname}</b></span>
        <span class="right-apply comment-date">${createTime}</span>
    </div>
    <div style="clear: both;"></div>
    <div class="judge-content">
        ${content}
    </div>
</li>


</script>
