
body {
    background-color: #f5f5f5!important;
    width: 100%;
    padding: 0;
    margin: 0;
    font-style: normal;
}
.manager_shop_main {
    padding: 0;
}

.my-header-ddd-btn {
    height: 2.5rem;
    width: 1.5rem;
    background: url("../../../imgs/an/hdpi/dpgl_ss.png") no-repeat;
    background-size: 2rem;
}
.my-header-cancel {
    float: right;
}
.my-ui-search-input {
    border: 1px solid #aaa;
    background: url("../../../images/hdpi/sy_ss.png")no-repeat left #f5f5f5;
    background-size: contain;
    width: 90%!important;
    display: inline-block;
    padding: 0.1rem 0 0.1rem 1.3rem;
}
.my-ui-search-input>input {
    height: 1rem;
}
.my-ui-search tr>td:first-child{
    padding: 3px 3px 3px 10.3rem;
}
.my-ui-search tr>td:not(:first-child) {
    width: 1%;
}
.my-ui-search tr>td:first-child+td {
    text-align: right;
}
.my-ui-input {
    margin: 0;
}
.goods-search-cancel-a {
    color: #ffffff!important;
}
.manager-shop-top-bar {
    width: 100%;
    background-color:#fff!important;
    padding: 0.4rem 0px;
    margin: 0;
    height: 1rem;
}
.manager-shop-top-bar li {
    float: left;
    float: left;
    width: 50%;
    text-align: center;
    line-height: 100%;
    background-color: #FFF;
}
.manager-shop-top-bar a{
    padding: 0.2rem 1rem;
}
.manager-shop-top-bar a:visited,.manager-shop-top-bar  a:active,.manager-shop-top-bar a:focus,.manager-shop-top-bar a:hover {
    color: #FF5555!important;
    border-bottom: 2px solid #ff5555;
}
.manager-shop-bar-a-active {
    color: #FF5555!important;
    border-bottom: 2px solid #ff5555;
}

.manager-shop-top-bar a:link{
    color: #000;
}
.my-list-view-t table {
    width: 100%;
    background: #fff;
    margin-top: 10px;
    border-collapse:collapse;
}
.my-list-view-t ul {
    padding:0 ;
    width: 100%;
    margin-top: 0;
}

.my-list-view-t .goods-img-td{
    text-align: center;
}
.my-list-view-t td {
    border-bottom: 1px solid #f5f5f5;
    padding: 0.2rem 0.2rem;
}
.goods-img-td img {
    border-radius: 10px;
    min-width: 6rem;
    min-height: 6rem;
    max-width: 6rem;
    max-width: 6rem;
}
.my-list-view-t td>div{
    width: 96%;
    height: 1.2rem;
}
.my-list-view-t td>div:nth-child(2),.my-list-view-t td>div:nth-child(3){
    padding: 0.3rem 0;
}
.my-list-view-t td>div>p {
    margin: 0;
    line-height: 1.1rem;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.tj-goods-ico-ing {
    padding: 0.1rem 0.2rem;
    background-color: #ff5555;
    color: rgba(255,255,255,1);
    border-radius: 0.3rem;
    margin-right: 1rem;
    font-size: 0.6rem;
    font-weight: normal!important;
}
.tj-goods-ico-djs {
    padding: 0.1rem 0.2rem;
    background-color: #ff5555;
    color: rgba(255,255,255,0.7);
    border-radius: 0.3rem;
    margin-right: 1rem;
    font-size: 0.6rem;
    font-weight: normal!important;
}

.tj-goods-ico-end {
    padding: 0.1rem 0.2rem;
    background-color: #ff5555;
    color: rgba(255,255,255,0.5);
    border-radius: 0.3rem;
    margin-right: 1rem;
    font-size: 0.6rem;
    font-weight: normal!important;
}

.goods-count-p {
    color: rgba(0, 0, 0, 0.47);
    font-size: 0.7rem;
}
/*.goods-count-p s{*/
/*color: rgba(0, 0, 0, 0.26);*/
/*}*/
.goods-put-time-sw {
    float: right;

}

/*
*底部导航
*/
.my-ui-footer-bar ul{
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: 100!important;
    font-size: 0.7rem!important;
}
.my-ui-footer-bar ul>li{
    float: left;
    width: 33%;
    height: 65px;
    line-height: 65px;
    text-align: center;
}
.my-ui-footer-bar ul>li a:visited{
    color: #000;
}
.my-ui-footer-bar ul>li a:active,.my-ui-footer-bar ul>li a:focus,.my-ui-footer-bar ul>li a:hover {
    color: #FF5555!important;
}
.my-ui-footer-bar ul>li>a:link{
    color: #000;
}
.my-ui-footer-bar ul>li a {
    height: 65px;
    display: inline-block;
    line-height: 65px;
    display: inline-block;

}
.my-ui-footer-bar .manager-shop-a-ico {
    background:url("../../../imgs/an/hdpi/dpgl_dbl_yldp.png")no-repeat ;
    padding-left: 1.3rem;
    background-position: 1px;
    background-size: 1.3rem;
}
.my-ui-footer-bar .manager-batch-a-ico {
    background:url("../../../imgs/an/hdpi/dpgl_dbl_plgl.png")no-repeat ;
    padding-left: 1.3rem;
    background-position: 1px;
    background-size: 1.3rem;
}
.my-ui-footer-bar .shop-ewm-a-ico {
    background:url("../../../imgs/an/hdpi/dpgl_dbl_dpewm.png")no-repeat ;
    padding-left: 1.2rem;
    background-position: 1px;
    background-size: 1.2rem;
}
.pullDownLabel{
    font-size: 0.7rem;
}



.goods-put-time-sw {
    float: right;

}

.activity-options-td a{
    text-align: center;
    line-height: 2rem;
    display: inline-block;
    width: 31%;
    text-align: right;
    border-right: 1px dashed #cccccc;
}
.activity-options-td a span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0 46px;
    display: inline-block;
}
.activity-judge-num>span {
    background: url("../../../imgs/an/hdpi/hdbl_ly.png") no-repeat left;
    color: #000000;
}
.activity-bm-num>span{
    background: url("../../../imgs/an/hdpi/hdbl_bmry.png") no-repeat left;
    color: #000000;
}
.activity-dz-num>span {
    background: url("../../../imgs/an/hdpi/hdbl_dz_md.png") no-repeat left;
    color: #000000;
}
.activity-dz-num-active>span {
    background: url("../../../imgs/an/hdpi/hdbl_dz_dl.png") no-repeat left;
    color: #FF5555;
}


/***
*悬浮按钮
*/

.my-activity-bm-btn {
    position: fixed;
    z-index: 99999;
    bottom: 128px;
    right: 90px;
    display: inline-block;
    border-radius: 100%;
    background: url("../../../imgs/an/hdpi/hdbl_tjhd.png") no-repeat;
}

.my-activity-bm-btn a{
    width: 73px;
    height: 73px;
    display: inline-block;
}

.address-back-img,.activity-time-img {
    color: rgba(0, 0, 0, 0.47);
    font-size: 0.6rem;
    padding-left: 55px;

}
.address-back-img {
    background: url("../../../imgs/an/hdpi/hdbl_dd.png") no-repeat 0px -6px;
    line-height: 35px;
    vertical-align: middle;
    margin: 0px;
}
.activity-time-img {
    background: url("../../../imgs/an/hdpi/hdbl_sj.png") no-repeat 0px -6px;
}


.my-list-view-t td>div>p b{
    display: inline-block;
    width: 40%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;

}