html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }
img {width: 100%}
a {
    color: #777;
    text-decoration: none;
}
ul, ul li {list-style: none}
body {
    font-family: "Helvetica Neue",Helvetica,STHeiTi,sans-serif;
    -webkit-user-select: none;
    background-color: #f2f2f2;
}
::-webkit-scrollbar {width: 0}
/*bookstore*/
.banner {
    display: block;
    width: 100%;
    height: 2.5rem;
}
.top-menu {
    display: -webkit-box;
    width: 100%;
    height: 1.2rem;
    background-color: #f8f9f9;
}
.top-menu > li {
    position: relative;
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    background-color: #f8f9f9;
}
.top-menu p {
    font-size: .2rem;
    color: #777;
    line-height: .3rem;
}
.menu-icon {
    display: block;
    width: .5rem;
    height: .5rem;
    background-repeat: no-repeat;
    background-size:  100%;
}
.category .menu-icon {
    background-image: url(./../img/icon_category.png);
}
.range .menu-icon {
    background-image: url(./../img/icon_board.png);
}
.cheap .menu-icon {
    background-image: url(./../img/icon_cheap.png);
}
.free .menu-icon {
    background-image: url(./../img/icon_free.png);
}
.panel {
    margin-bottom: .2rem;
    background-color: #fff;
}
.panel-heading {
    width: 100%;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    padding: .4rem 0;
}
.panel-heading h2 {
    line-height: .6rem;
    font-size: .4rem;
}
.panel-heading p {
    font-size: .2rem;
    color: #777;
}
.panel-heading p:before {
    content: '[';
    margin-right: .1rem;
}
.panel-heading p:after {
    content: ']';
    margin-left: .1rem;
}
.book-list {position: relative}
.book-list:after {
    content: '';
    width: 8px;
    height: 8px;
    border: 1px solid #e8e8e8;
    position: absolute;
    bottom: -4px;
    left: 50%;
    margin-left: -4px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
}
.book-item {
    display: -webkit-box;
    position: relative;
    margin: 0 .2rem;
}
.book-item:first-child:before {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #e9e9e9;
    position: absolute;
    top: -3px;
    left: 0;
    -webkit-transform: rotate(45deg);
}
.book-item:first-child:after {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #e9e9e9;
    position: absolute;
    top: -3px;
    right: 0;
    -webkit-transform: rotate(45deg);
}
.book-item > a {
    display: -webkit-box;
    position: relative;
    margin-bottom: .2rem;
    overflow: hidden;
    width: 100%;
}
.book-item .book-img {
    position: relative;
    width: 1.9rem;
    height: 2.8rem;
    background-color: rgba(222,222,222,.1);
    margin: .2rem .2rem .2rem 0;
}
.book-img span {
    display: block;
    width: 100%;
    height: 100%;
}
.book-item .book-info {
    display: -webkit-box;
    padding: .2rem 0;
    -webkit-box-flex: 1;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    min-height: 2.8rem;
    position: relative;
}
.book-info h4 {
    min-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: .3rem;
    line-height: 2;
    color: rgb(0,0,0);
}
.book-info .book-desc {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.3;
    font-size: 14px;
    color: #777;
}
.book-info .book-author {
    min-width: 100%;
    line-height: 2;
    font-size: 14px;
    color: rgb(0,0,0);
    margin: 2px 0;
}
.book-author .label {
    color: #87ccd0;
    display: inline-block;
    width: .6rem;
    margin-left: .1rem;
    line-height: .3rem;
    position: relative;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #87ccd0;
    border-radius: 3px;
}
.book-more {
    display: block;
    padding: .4rem 0;
    color: #44c8d8;
    width: 100%;
    text-align: center;
    font-size: 14px;
}
.book-more:after {
    content: '>';
    font-size: 18px;
    color: #44c8d8;
    position: relative;
    top: 3px;
}
.suggest-list {
    margin: 0 .2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal;
}
.suggest-item {
    margin-right: 8%;
}
.suggest-item:nth-child(3n) {
    margin-right: 0;
}
.suggest-item h4 {
    min-width: 100%;
    font-size: 15px;
    color: rgb(127,127,127);
    margin-top: .2rem;
    line-height: 1.3;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.suggest-item p {
    font-size: 13px;
    color: #777;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}
footer {
    font-size: 13px;
    color: #777;
    text-align: center;
    line-height: 1.4;
    padding: .2rem 0;
    background-color: #fff;
}
footer span {
    color: #0b97c4;
    margin-left: .2rem;
}
.shine-box {
    position: fixed;
    width: 100%;
    bottom: 30px;
    margin: 0 auto;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: -webkit-linear-gradient(0deg, rgba(255,255,255,.6) 40%, rgb(255,255,255) 50%, rgba(255,255,255,.6) 60%);
    background-size: 200%;
    -webkit-animation: shine 3s infinite;
}
@-webkit-keyframes shine {
    0% {background-position: 100%}
    100% {background-position: 0}
}