input[type=checkbox] {
    visibility: hidden;
}
.ui-icon-check:after, html .ui-btn.ui-checkbox-on.ui-checkbox-on:after {
    background-image: url(images/hdpi/gwc_xzg.png);
    background-color: #FFFFFF;
}
.ui-checkbox label {
    position: absolute;
    left: .466em;
    top: 40%;
    width: 22px;
    height: 22px;
    margin: -11px 0 0 0;
    outline: 0!important;
    z-index: 1;
    border: 0;
    background-color: rgba(0,0,0,0)!important;
}

.my-goods span{
    min-width:50px;
    border:1px solid #bbb;
    padding:10px;
    margin-right:10px;
    color:#999;
    border-radius:8px;
}
.my-goods dl{
    padding:0;
    margin:0;
    float:left;
    position: relative;
    left: 6rem;
}

.my-goods dd h1{
    padding:0;
    margin:0;
}
.my-goods dd,dt{
    padding: 6px 0px;
    line-height: 100%;
}
.my-goods .c999 {
    padding-right: 5px!important;
}

@media screen and (max-width: 321px){
    .my-goods dl {
        width: 50%;
    }
    .ui-listview>li p {
        font-size: 1.2rem;
    }
    .ui-listview>li em {
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 333px) and (max-width: 410px){
    .my-goods dl {
        width: 60%;
    }
    .ui-listview>li p {
        font-size: 1.4rem;
    }
    .ui-listview>li em {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 412px) and (max-width: 450px){
    .my-goods dl {
        width: 60%;
    }
    .ui-listview>li p {
        font-size: 1.4rem;
    }
    .ui-listview>li em {
        font-size: 1.4rem;
    }
}
@media screen and (min-width: 450px){
    .my-goods dl {
        width: 70%;
    }
    .ui-listview>li p {
        font-size: 1.6rem;
    }
    .ui-listview>li em {
        font-size: 1.4rem;
    }
}
.my-goods .text-color{
    color:#999;
}
.my-goods .text-color-red{
    color:#ff6e82;
}
.my-goods .ui-listview .ui-li-has-thumb>img:first-child, .ui-listview .ui-li-has-thumb>.ui-btn>img:first-child, .ui-listview .ui-li-has-thumb .ui-li-thumb {
    position: absolute;
    left: 14px;
    top: 12%;
    max-height: 5rem;
    max-width: 5rem;

}

#collection_list {
    background-color: #ffffff;
}
#collection_list li {
    background-color: #ffffff;
    outline: none!important;
}
#collection_list li a{
    background-color: #ffffff;
    outline: none!important;
    padding: 0;
    margin: 0;
}

#collection_list li a:focus{
    box-shadow: none;
}
.my-goods .ui-checkbox, .ui-radio {
    margin:  0;
    position: initial;
}

.my-goods .ui-checkbox input,label {
    z-index: 2;
}
.my-goods a{
    width:100%
}
.my-goods .edit-btn{
    float:right;
    width: 6rem;
}
.my-goods .edit-btn>dd,dt{
    padding-top:16px;
    font-weight:normal;
}
.edit-show-num{
    margin:41% 41%;
}
.my-goods .ui-btn{
    margin:0;
}
.ui-checkbox {
    position: initial;
}
#collection_del {
    background: url(../../../images/hdpi/wdsc_sc.png)no-repeat center;
    width: inherit;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    background-size: cover;
}
#collection_del:hover{
    background:url(../../../images/hdpi/sy_sc.png) no-repeat center;
    background-size: cover;
}