.sy-line {
    width: 100%;
    display: -webkit-box;
}
/*内容块*/
.detail-desc-title{
    padding: .3rem 0;
    font-size: .26rem;
    position: relative;
}
.detail-desc-title > span {
    background-color: #548dd4;
    color: #fff;
    padding: 2px 4px;
    letter-spacing: 1px;
}
.detail-desc-text {
    text-align: justify;
    line-height: .4rem;
   /* padding-bottom: .2rem;*/
    border-bottom: 1px dashed #c7c7c7;
}

.copyright {
    width: 100%;
    text-align: center;
    font-size: .2rem;
    color: #999;
    position: absolute;
    bottom: 2%;
    left: 0;
    letter-spacing: 1px;
}

.judge-list {}
.judge-list .judge-item {
    padding: 8% 0 3% 0;
    border-bottom: 1px dashed #c7c7c7;
}
.judge-list .judge-item:last-child {
    border-bottom: none;
}
.judge-item .judge-info {
    position: relative;
}
.judge-icon {
    display: inline-block;
}
.judge-info .judge-header {
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 4%;
}
.judge-info .judge-name {
    display: inline-block;
    position: absolute;
    top: .24rem;
    margin-left: 3%;
    font-size: .24rem;
    color: #999;
}
.judge-info .judge-name p:first-child {
    color: #555;
    font-size: .28rem;
    margin-bottom: .08rem;
    font-weight: bold;
}
.judge-item .judge-content {
    padding-top: .1rem;
    font-size: .26rem;
    color: #666;
    margin: 0 0 0 4%;
    letter-spacing: 1px;
    white-space: normal;
    word-break: break-all;
    text-align: left;
    letter-spacing: 1px;
}
.judge-item .judge-status {
    text-align: right;
    color: #3fac08;
    margin-top: 2px;
    font-size: .24rem;
}
.judge-status .judge-good {
    display: inline-block;
    width: .26rem;
    height: .28rem;
    background: url(./../images/shuyuan/good-no.png) no-repeat;
    background-size: 100% 100%;
    margin-left: 2%;
    position: relative;
    top: 1px;
}
.judge-status .judge-yes {
    background: url(./../images/shuyuan/good-yes.png) no-repeat;
    background-size: 100% 100%;
}

/*popup*/
.popup-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    text-align: center;
    z-index: 9999;
}
.popup-mask .popup-content {
    background-color: #000;
    color: #fff;
    font-size: .3rem;
    border-radius: 8px;
    padding: 4px 10px;
    display: inline-block;
    margin-top: 66%;
    letter-spacing: 1px;
}

/*empty-list*/
.empty-list {
    text-align: center;
    font-size: .28rem;
    letter-spacing: 2px;
}
.empty-list img {
    width: 50%;
    margin-top: 12%;
}