.page-qiandao {
    width: 100%;
    min-height: 100%;
    background: url(./../../img/l-4.jpg) repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    overflow: hidden;
}
.page-qiandao > form {
    font-size: .3rem;
    padding: 18% 14% 0 10%;
}
.page-qiandao .input-item {
    margin-bottom: 10%;
}
.page-qiandao .input-item label {
    display: block;
    margin-bottom: 3%;
    padding-left: 2%;
    letter-spacing: 1px;
}
.page-qiandao .input-item > input {
    width: 100%;
    font-size: .3rem;
    padding: .15rem 0 .15rem 4%;
    color: #a0a0a0;
    border-radius: 3px;
}
.page-qiandao .btn-submit {
    display: block;
    width: 3.6rem;
    height: 1.2rem;
    margin: 0 auto;
    margin-top: 22%;
    background: url(./../../img/qd-01.png) no-repeat;
    background-size: 100% 100%;
}
.page-qiandao .btn-active {
    background: url(./../../img/qd-02.png) no-repeat;
    background-size: 100% 100%;
}

.page-qiandao .qd-result {
    display: -webkit-box;
    margin-top: 32%;
}
.qd-result .qd-img {
    padding-left: 8%;
    padding-right: 2%;
}
.qd-result .qd-img > img {
    width: 1.8rem;
}
.qd-result .qd-text {
    -webkit-box-flex: 1;
    font-size: .32rem;
    position: relative;
}
.qd-result .qd-text > img {
    width: 3.4rem;
    position: absolute;
    bottom: 0;
}
.page-qiandao .qd-tip {
    width: 90%;
    margin-left: 5%;
    position: absolute;
    bottom: 10%;
}