body {font-family: "Microsoft Yahei"}
.icon-n {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
    margin-left: .5rem;
}
.toast-box {
    color: #fff;
    background-color: #f40;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: .65rem;
    border-radius: 3px;
}
.page {
    width: 100%;
    min-height: 100%;
    position: absolute;
    background: url(./../../img/sh-01.png) no-repeat;
    background-size: cover;
}
.page .bar {background-color: #3d6b32;}
.page .bar:after {display: none;}
.page .bar .title {color: #fff;font-size: 1rem}
/*编辑收货人*/
.page .bar-nav .button {
    border: 0;
    color: #fff799;
    letter-spacing: 1px;
    font-size: .75rem;
}
.page-edit-receiver .list-block {margin: 0}
.page-edit-receiver .list-block .item-inner {
    padding-top: .5rem;
    padding-bottom: .4rem;
}
.page-edit-receiver .list-block .item-content {padding-left: 0}
.page-edit-receiver .list-block .item-title.label {
    width: 32%;
    color: #7d7d7d;
    letter-spacing: 1px;
}
.page-edit-receiver .list-block .item-title.ls5 {letter-spacing: 5px}
.page-edit-receiver .list-block input[type=text],
.page-edit-receiver  .list-block input[type=tel] {
    color: #000;
    padding: 0;
}
.page-edit-receiver .list-block .item-input {color: #000;}
.page-edit-receiver .list-block textarea {
    height: auto;
    padding-top: .6rem;
    overflow: hidden;
    text-align: left;
    word-break: break-all;
    color: #000;
    padding-left: 0;
}
.page-edit-receiver .item-input > input[type="radio"] {
    position: absolute;
    left: -999rem;
    opacity: 0;
}
.page-edit-receiver .item-input .icon-empty {
    background: url(./../../img/check-1.png) no-repeat;
    background-size: 100%;
    border-radius: 50%;
    margin-top: .3rem;
    margin-right: .4rem;
}
.page-edit-receiver .item-input .icon-default {
    background: url(./../../img/check-0.png) no-repeat;
    background-size: 100%;
}
.page-edit-receiver .item-input .label-default {
    position: relative;
    top: -0.3rem;
}
.page-edit-receiver .list-block .item-add .item-input {
    margin-top: -.1rem;
    margin-bottom: -.05rem;
}
.page-edit-receiver .item-icon-wid {
    width: 30%;
    display: inline-block;
    text-align: right;
}
.page-edit-receiver .btn-save {
    width: 80%;
    margin: 0 auto;
    margin-top: 8%;
    height: 2rem;
    line-height: 2rem;
    font-size: .9rem;
    letter-spacing: 4px;
    border: 0;
    background-color: #cce198;
    color: #083f21;
    font-weight: bold;
}
/*订单详情*/
.page-order-detail {}
.order-item,
.trans-item {
    background-color: #fff;
    padding: .4rem 1rem;
    font-size: .7rem;
    color: #6c6968;
}
.order-item .order-status,
.order-item .order-id,
.order-item .order-time,
.trans-item .trans-status,
.trans-item .trans-id,
.trans-item .trans-unit {padding: .05rem 0;}
.order-item .order-title, .trans-item .trans-title {color: #000;}
.order-item .order-status, .trans-item .trans-status {margin-top: .3rem;}
.order-item .order-status > span {
    color: #f40;
    margin-left: .2rem;
}
.order-item .order-time, .trans-item .trans-unit {
    padding-bottom: .4rem;
    position: relative;
}
.order-item .order-time:after, .trans-item .trans-unit:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.order-item  .order-receiver,
.order-item .order-address {
    color: #000;
    padding-top: .3rem;
}
.order-item  .order-name,
.order-item  .order-phone { display: inline-block; }
.order-item  .order-name {margin-right: 1rem}
.order-item .order-address {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pro-item {
    background-color: #fff;
    margin-top: 5%;
    padding: .4rem 1rem;
    position: relative;
    text-align: right;
}
.pro-media {
    display: -webkit-box;
    text-align: left;
}
.pro-media .pro-img {
    width: 4rem;
    height: 4rem;
    padding: 2px;
    border: 1px solid #959595;
    position: relative;
}
.pro-media .pro-img > img {width: 100%}
.pro-text {
    font-size: .7rem;
    color: #000;
    padding-left: .5rem;
    position: relative;
    -webkit-box-flex: 1;
}
.pro-text .pro-type {
    font-size: .7rem;
    color: #6c6968;
    position: absolute;
    bottom: 2px;
    width: 100%;
}
.pro-count {
    margin-top: .4rem;
    border-top: 1px solid #6c6968;
    border-bottom: 1px solid #6c6968;
    font-size: .7rem;
    text-align: left;
    color: #000;
    position: relative;
    padding: .2rem 0;
    padding-left: .5rem;
}
.pro-count .pro-money {
    position: absolute;
    right: 0;
}
.pro-count .pro-money > span {color: #f40;}
.btn-delete {
    display: inline-block;
    margin-top: .3rem;
    border: 1px solid #959595;
    color: #000;
}
.trans-item {margin-top: 5%}
.trans-more {
    text-align: right;
    margin-top: .3rem;
    position: relative;
    padding-right: .6rem;
}
.trans-more > span {
    margin-top: 0;
    right: 0;
}
/*发表评论*/
.page-edit-judge {}
.judge-item {
    background-color: #fff;
    padding: .5rem 1rem;
    font-size: .7rem;
    color: #fff;
}
.judge-item .pro-text {padding-left: .6rem}
.judge-item .judge-title {
    margin-top: .2rem;
}
.stars {
    margin-top: .5rem;
}
.star {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    background: url(./../../img/sh-03.png) no-repeat;
    background-size: 100%;
    margin-right: .2rem;
}
.star-filled {
    background: url(./../../img/sh-03-2.png) no-repeat;
    background-size: 100%;
}
.page-edit-judge textarea {
    width: 100%;
    margin-top: 5%;
    resize: none;
    padding: .4rem 1rem;
    height: 8rem;
    color: #6c6968;
}
.page-edit-judge .btn-save {
    width: 80%;
    margin: 0 auto;
    margin-top: 8%;
    height: 2rem;
    line-height: 2rem;
    font-size: .9rem;
    letter-spacing: 4px;
    border: 0;
    background-color: #cce198;
    color: #083f21;
    font-weight: bold;
}
/*购物车*/
.page-cart {}
.cart-item {
    background-color: #fff;
    padding: .5rem 1rem .2rem 1rem;
    margin-bottom: 4%;
    position: relative;
}
.cart-item .pro-media .pro-img {
    width: 3.6rem;
    height: 3.6rem;
}
.cart-item  .pro-text {padding-left: 1rem;}
.cart-select {
    width: 1.8rem;
}

.item-cover {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    display: none;
    -webkit-transition: all 5s linear;
    transition: all 5s linear;
}
.item-cover .item-delete {
    width: 2.6rem;
    height: 100%;
    text-align: center;
    background-color: #f40;
    color: #fff;
    letter-spacing: 1px;
    font-size: .75rem;
    position: absolute;
    right: 0;
    top: 0;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.icon-circle {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    -webkit-box-shadow: 1px 0 1px #959595 inset,0 1px 1px #959595 inset,-1px 0 1px #959595 inset,0 -1px 1px #959595 inset;
    box-shadow: 1px 0 1px #959595 inset,0 1px 1px #959595 inset,-1px 0 1px #959595 inset,0 -1px 1px #959595 inset;
    border-radius: 50%;
    margin-top: 1.2rem;
}
.icon-circle-select {
    background-color: #fff;
    -webkit-box-shadow: 1px 0 1px #4f9927 inset,0 1px 1px #4f9927 inset,-1px 0 1px #4f9927 inset,0 -1px 1px #4f9927 inset;
    box-shadow: 1px 0 1px #4f9927 inset,0 1px 1px #4f9927 inset,-1px 0 1px #4f9927 inset,0 -1px 1px #4f9927 inset;
    background: url(./../../img/check-0.png) no-repeat;
    background-size: 100%;
}
.cart-item  .pro-text .cart-item-money {
    text-align: right;
    color: #f40;
}
.cart-item-ctrl {
    display: inline-block;
    margin-left: 1.8rem;
    border: 1px solid #959595;
    border-radius: 3px;
    width: 3.6rem;
    height: 1.1rem;
    line-height: 1.1rem;
    margin-top: .3rem;
    text-align: center;
}
.cart-item-ctrl .ctrl-minus,
.cart-item-ctrl .ctrl-count,
.cart-item-ctrl .ctrl-plus {
    display: inline-block;
    float: left;
}
.cart-item-ctrl .ctrl-minus,
.cart-item-ctrl .ctrl-plus {
    width: 1rem;
    color: #000;
}
.cart-item-ctrl .ctrl-count {
    width: 1.5rem;
    border-left: 1px solid #959595;
    border-right: 1px solid #959595;
}
.cart-item-lack {
    padding: .8rem 1rem .8rem 2.8rem;
    position: relative;
}
.cart-item .pro-img {position: relative}
.cart-item-tag {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #4f9927;
    color: #fff;
    font-size: .7rem;
    letter-spacing: 1px;
    text-align: center;
}
.cart-go-pay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.2rem;
    line-height: 2.2rem;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    font-size: .85rem;
}
.cart-go-pay .icon-circle-white {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    -webkit-box-shadow: 1px 0 1px #fff inset,0 1px 1px #fff inset,-1px 0 1px #fff inset,0 -1px 1px #fff inset;
    box-shadow: 1px 0 1px #fff inset,0 1px 1px #fff inset,-1px 0 1px #fff inset,0 -1px 1px #fff inset;
    border-radius: 50%;
    margin-top: 0;
    vertical-align: middle;
    margin-left: .6rem;
    margin-right: .3rem;
    position: relative;
    top:-.1rem;
}
.cart-go-pay .cart-go-all {
    margin-left: 12%;
}
.cart-go-pay > a {
    display: inline-block;
    height: 2.2rem;
    line-height: 2.2rem;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #4f9927;
    padding: 0 .8rem;
}
/*购物车为空*/
.cart-empty {
    width: 100%;
    height: 100%;
    background: url(./../../img/sh-05.png) no-repeat;
    background-size: cover;
    position: absolute;
}
.cart-empty-icon {
    width: 9rem;
    height: 9rem;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #707070;
    margin-top: 20%;
    position: relative;
    text-align: center;
}
.cart-empty-icon:after {
    content: '';
    display: inline-block;
    width: 9.4rem;
    height: 9.4rem;
    position: absolute;
    left: -.2rem;
    top: -.2rem;
    border: 1px solid #707070;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.cart-empty-icon > span {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin-top: 2rem;
    background: url(./../../img/sh-04.png) no-repeat;
    background-size: 100%;
}
.cart-empty > p {
    color: #fff;
    font-size: 1rem;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 1rem;
}
/*评价*/
.page-judge .judge-content {
    background-color: #fff;
}
.page-judge .judge-tabs {
    padding: .6rem 0;
    margin: 0 1rem;
    display: -webkit-box;
    position: relative;
}
.page-judge .judge-tab {
    display: block;
    -webkit-box-flex: 1;
    height: 1.3rem;
    line-height: 1.3rem;
    background-color: #4f9927;
    color: #fff;
    font-size: .7rem;
    text-align: center;
    margin-right: 3%;
    border-radius: 3px;
}
.page-judge .judge-tab:last-child {margin-right: 0}
.page-judge .judge-tab-active {background-color: #f40}
.page-judge .judge-tabs:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.page-judge .judge-list {padding-bottom: 6%}
.page-judge .judge-list-item {
    padding: .5rem 0;
    margin: 0 1rem;
    position: relative;
}
.page-judge .judge-list-item:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.page-judge .judge-name {
    position: relative;
    padding-bottom: .4rem;
}
.page-judge .judge-name:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.page-judge .judge-name > span {font-weight: bold}
.page-judge .judge-list-item .stars {
    position: absolute;
    margin-top: 0;
    top: 0;
    left: 22%;
}
.page-judge .judge-list-item .star {
    width: 1rem;
    height: 1rem;
}
.page-judge .judge-text {
    color: #4f9927;
    font-size: .7rem;
    padding: .5rem 0;
}
.page-judge .judge-desc {
    font-size: .6rem;
    color: #a0a0a0;
    position: relative;
}
.page-judge .judge-pro-num {padding-left: 2%}
.page-judge .judge-pro-type {
    position: absolute;
    right: 0;
}
/*确认订单*/
.page-order-confirm {

}
.page-order-confirm .oc-top {
    background-color: #fff;
    position: relative;
    padding: .6rem 1rem;
    color: #000;
}
.page-order-confirm .oc-top:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: auto;
    right: auto;
    top: 0;
    height: 3px;
    width: 100%;
    background: url(./../../img/sh-07.png) repeat-x;
    background-size: contain;
    display: block;
    z-index: 15;
}
.page-order-confirm .oc-top:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 3px;
    width: 100%;
    background: url(./../../img/sh-07.png) repeat-x;
    background-size: contain;
    display: block;
    z-index: 15;
}
.oc-top .oc-top-title {
    font-size: 1rem;
    color: #3d6b32;
}
.oc-top .oc-top-title > span {
    display: inline-block;
    width: .75rem;
    height: 1rem;
    background: url(./../../img/sh-06.png) no-repeat;
    background-size: 100%;
    margin-right: .3rem;
    position: relative;
    top: .15rem;
}
.oc-top .oc-top-name {
    font-size: .65rem;
    position: relative;
    padding: .2rem 0;
    margin-right: 2rem;
}
.oc-top .oc-top-phone {
    position: absolute;
    right: 0;
}
.oc-top .oc-top-address {
    font-size: .65rem;
    padding: .2rem 0;
}
.oc-item {
    background-color: #fff;
    margin-top: 2%;
    padding: .4rem 1rem;
    position: relative;
}
.oc-count-change {
    margin-top: .3rem;
    position: relative;
    padding-bottom: .3rem;
}
.oc-count-change > span {
    display: inline-block;
    width: 4rem;
    padding-left: .6rem;
    font-size: .7rem;
    color: #a0a0a0;
}
.oc-count-change .oc-count-ctrl {
    display: inline-block;
    position: absolute;
    right: 0;
}
.oc-count-ctrl .oc-count-minus,
.oc-count-ctrl .oc-count-num,
.oc-count-ctrl .oc-count-plus {
    display: inline-block;
    float: left;
}
.oc-count-ctrl .oc-count-minus,
.oc-count-ctrl .oc-count-plus {
    width: 1rem;
    height: 1.2rem;
    line-height: 1.2rem;
    background-color: #a0a0a0;
    color: #fff;
    text-align: center;
    font-size: .9rem;
}
.oc-count-ctrl .oc-count-minus {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.oc-count-ctrl .oc-count-plus {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.oc-count-ctrl .oc-count-num {
    width: 3rem;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    border-top: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
    color: #a0a0a0;
}
.oc-count-change:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.oc-backup {
    padding: .5rem 0 .3rem .6rem;
    color: #a0a0a0;
    font-size: .7rem;
    position: relative;
}
.oc-backup > input {
    outline: 0;
    width: 12rem;
    position: absolute;
    right:0;
    text-align: center;
    padding: .2rem 0;
    border-radius: 3px;
    background-color: #e7f0cf;
    color: #6c6968;
    font-size: .7rem;
    border: 1px solid #a0a0a0;
}
.page-order-confirm .oc-money {
    background-color: #fff;
    margin-top: 2%;
    padding: .4rem 1rem;
    font-size: .75rem;
    color: #6c6968;
    position: relative;
    margin-bottom: 2%;
}
.page-order-confirm .oc-money > span {
    position: absolute;
    right: 1rem;
    color: #f40;
}
.page-order-confirm .oc-go-pay {
    width: 100%;
    height: 2.2rem;
    line-height: 2.2rem;
    background-color: #000;
    color: #fff;
    font-size: .8rem;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 1.5rem;
}
.page-order-confirm .oc-go-pay > span {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: #4f9927;
    font-size: .8rem;
    padding: 0 1rem;
}
.oc-top .oc-top-add-icon {
    width: 2rem;
    height: 2.5rem;
    margin: 0 auto;
    margin-top: .3rem;
    background: url(./../../img/sh-08.png) no-repeat;
    background-size: 100%;
}
.oc-top .oc-top-add-text {
    text-align: center;
    color: #4f9927;
    font-size: .75rem;
    margin-top: .3rem;
}

/*我的订单*/
.page-my-order .content {
    background-color: #e7e7e7;
}
.page-my-order .buttons-tab .button.active {
    color: #4f9927;
    border-color: #4f9927;
    z-index: 100;
}
.page-my-order .content-block {
    margin: 0;
    padding: 0;
}
.page-my-order .content-block .pro-item {border-top: 1px solid rgba(128, 128, 128, .4);}
.page-my-order .content-block .pro-item .pro-count {
    border-top: 1px solid rgba(128, 128, 128, .4);
    border-bottom: 1px solid rgba(128, 128, 128, .4);
    padding-left: .2rem;
}
.page-my-order .pro-pre-pay {
    text-align: left;
    padding-top: .4rem;
    padding-bottom: .4rem;
    font-size: .7rem;
    color: #000;
    padding-left: .2rem;
    position: relative;
}
.page-my-order .multi-btn {
    padding-bottom: .8rem;
}
.page-my-order .multi-btns {
    padding-bottom: 2.8rem;
}
.pro-yellow {color: #f40;}
.page-my-order .pro-pre-pay .pro-pre-btn {
    position: absolute;
    right: 0;
    padding: .3rem 0;
    width: 4rem;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 2px;
    color: #fff;
    background-color: #4f9927;
}
.page-my-order .pro-pre-pay .pro-pre-cancel {
    top: 62%;
    background-color: #fff;
    color: #000;
    border: 1px solid rgba(125,125,125,.3);
}
/* 我的收藏*/
.page-my-collection .content {
    background-color: #e7e7e7;
}
.page-my-collection .content .pro-item {margin-top: 4%}
.page-my-collection .content .pro-item .pro-name {color: #231815}
.page-my-collection .content .pro-item .my-col-price {
    position: absolute;
    right: 1rem;
    color: #f40;
}
.page-my-collection .content .pro-item:first-child {margin-top: 0}
.page-my-collection .content .pro-item .my-col-tag {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    font-size: .7rem;
    letter-spacing: 1px;
    text-align: center;
}

/*我的账号*/
.page-my-account .content {background-color: #fff}
.page-my-account .content .list-block {margin: 0}
.page-my-account .content .list-block .item-after {
    max-height: 3rem;
}
.page-my-account .content .list-block .item-after > img {
    width: 2.5rem;
    height: 2.5rem;
}

/*物流详情*/
.page-trans-detail .td-top {
    background-color: #fff;
    padding: .8rem 1rem 1rem 1rem;
    font-size: .7rem;
    color: #333;
}
.page-trans-detail .td-top > div {margin-top: .2rem}
.page-trans-detail .td-status-title {
    margin-top: 4%;
    padding: .4rem 1rem 0 1rem;
    background-color: #fff;
}
.page-trans-detail .td-status {
    padding: 0 1rem .4rem 1rem;
    background-color: #fff;
    font-size: .7rem;
    color: #333;
}
.td-status .td-status-item {
    display: -webkit-box;
    position: relative;
    color: #666;
}
.td-status-item .td-status-icon {
    width: 2.6rem;
    position: relative;
    text-align: center;
}
.td-status-icon .td-status-ball {
    display: inline-block;
    width: .5rem;
    height: .5rem;
    background-color: #ccc;
    border-radius: 50%;
    position: absolute;
    top: 1.1rem;
    left: .8rem;
    z-index: 9;
}
.td-status-icon .td-status-line {
    display: inline-block;
    width: .05rem;
    height: 3.6rem;
    background-color: #ccc;
    position: absolute;
    top: 1.5rem;
    left: 1.05rem;
}
.td-status-item .td-status-text {
    -webkit-box-flex: 1;
    position: relative;
    padding-top: .8rem;
    padding-bottom: .6rem;
    line-height: 1.2rem;
}
.td-status-item .td-status-text:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.td-status .td-status-item:first-child {
    color: #4f9927;
}
.td-status .td-status-item:first-child .td-status-ball {
    width: .6rem;
    height: .6rem;
    background-color: #4f9927;
    -webkit-box-shadow: 0 0 4px #4f9927;
    box-shadow: 0 0 10px #4f9927;
}
.td-status .td-status-item:last-child {padding-bottom: 1rem}
.td-status .td-status-item:last-child .td-status-line {height: 2.2rem}

/*新建收货人*/
::-webkit-input-placeholder {color: #333}
.page-new-receiver .content {background-color: #e7e7e7}
.page-new-receiver .list-block {margin: 0;}
.page-new-receiver .list-block .item-media+.item-inner {margin-left: 0}
.page-new-receiver .list-block .item-title.label {width: 30%}
.page-new-receiver .list-block .item-title.ls4 {letter-spacing: 4px;}
.page-new-receiver .item-input > input[type="radio"] {
    position: absolute;
    left: -999rem;
    opacity: 0;
}
.page-new-receiver .item-input .icon-empty {
    background: url(./../../img/check-1.png) no-repeat;
    background-size: 100%;
    border-radius: 50%;
    margin-top: .3rem;
    margin-right: .4rem;
}
.page-new-receiver .item-input .icon-default {
    background: url(./../../img/check-0.png) no-repeat;
    background-size: 100%;
}
.page-new-receiver .item-input .label-default {
    position: relative;
    top: -0.3rem;
}
.page-new-receiver .list-block .item-add .item-input {
    margin-top: -.1rem;
    margin-bottom: -.05rem;
}
.page-new-receiver .item-icon-wid {
    width: 30%;
    display: inline-block;
    text-align: right;
}
.page-new-receiver .btn-save {
    width: 80%;
    margin: 0 auto;
    margin-top: 8%;
    height: 2rem;
    line-height: 2rem;
    font-size: .9rem;
    letter-spacing: 4px;
    border: 0;
    background-color: #5aa646;
    color: #fff;
    font-weight: bold;
}

/*商城主页*/
.page-home .bar {background-color: #000;}
.page-home .content {background-color: #e5e5e5;}
.page-home .icon-menu2 {
    background: url(./../../img/menu.png) no-repeat;
    background-size: 100% 100%;
    margin: .5rem;
}
.page-home .title > span {
    display: inline-block;
    width: 5rem;
    height: 1.8rem;
    background: url(./../../img/sh-09.png) no-repeat;
    background-size: 100% 100%;
    margin-top: .2rem;
}
.page-home .swiper-container {
    height: 8rem;
    border-bottom: 2px solid #4f9927;
}
.page-home .swiper-container .swiper-slide > img {
    width: 100%;
    height: 8rem;
}
.page-home .menu-list {
    background-color: #fff;
    position: relative;
}
.page-home .menu-list:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.page-home .menu-list .menu-line {
    display: -webkit-box;
    margin: 0 .2rem;
}
.page-home .menu-list .menu-line:first-child {padding-top: .2rem}
.page-home .menu-list .menu-item {
    display: block;
    -webkit-box-flex: 1;
}
.page-home .menu-list .menu-line .menu-item:nth-child(2n-1) {margin-right: .2rem}
.page-home .menu-list .menu-item > img {width: 100%;}
.home-suggest {
    background-color: #fff;
    display: -webkit-box;
    margin-top: 4%;
    padding: .2rem 0 .2rem .4rem;
}
.home-suggest .home-sug-pic {width: 48%;}
.home-suggest .home-sug-text {
    -webkit-box-flex: 1;
    padding-left: 2%;
    font-size: .6rem;
    color: #707070;
    position: relative;
}
.home-sug-text .home-sug-title {
    font-size: .8rem;
    color: #66ae34;
    padding-top: .4rem;
    padding-bottom: .2rem;
}
.home-sug-text .home-sug-p {
    width: 100%;
    color: #f40;
    font-size: 1rem;
    position: absolute;
    bottom: .6rem;
}
.home-sug-text .icon-heart-filled {
    display: inline-block;
    width: .9rem;
    height: .9rem;
    background: url(./../../img/sh-10.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 1.5rem;
    top: .25rem;
}
/*tab*/
nav.tab {height: 2.5rem;}
.tab ul li {
    font-size: .6rem;
    height: 2.5rem;
}
.tab-icon {
    width: 1.2rem;
    height: 1.2rem;
}
.tab ul li p {margin: 0;}
/**/
.box-mask {
    display: none;
}
.menu-box {
    background: #fff;
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: .8rem;
    color: #000;
    text-align: left;
    width: 40%;
    -webkit-transform-origin: top right;
    transform-origin: top right;
    -webkit-transform: scale(.01);
    transform: scale(.01);
    -webkit-transition: all 5s;
    transition: all 5s;
}
.menu-box .menu-item {
    display: -webkit-box;
    padding: .4rem .6rem;
    color: #000;
}
.menu-box .menu-item .menu-item-icon {
    width: 1rem;
    height: 1rem;
    margin-right: .6rem;
}
.menu-box .menu-item .menu-item-text {
    -webkit-box-flex: 1;
}
.menu-box .menu-item:nth-child(2n) {background-color: #bfbfbf}
.menu-box .menu-item .icon-menu-list {
    background: url(./../../img/sh-11.png) no-repeat;
    background-size: 100% 100%;
}
.menu-box .menu-item .icon-menu-home {
    background: url(./../../img/home.png) no-repeat;
    background-size: 100% 100%;
}
.menu-box .menu-item .icon-menu-cart {
    background: url(./../../img/sh-12.png) no-repeat;
    background-size: 100% 100%;
}
.menu-box .menu-item .icon-menu-account {
    background: url(./../../img/sh-13.png) no-repeat;
    background-size: 100% 100%;
}

/*商品列表*/
.page-pro-list .bar {background-color: #3d6b32;}
.page-pro-list .content {background-color: #e5e5e5;}
.page-pro-list .icon-menu2 {
    background: url(./../../img/menu.png) no-repeat;
    background-size: 100% 100%;
    margin: .5rem;
}
.page-pro-list .title > span {
    display: inline-block;
    width: 5rem;
    height: 1.8rem;
    background: url(./../../img/sh-09.png) no-repeat;
    background-size: 100% 100%;
    margin-top: .2rem;
}
.page-pro-list .search-bar {
    width: 100%;
    height: 2.2rem;
    background: -webkit-linear-gradient(top, #103308, #3c6a31);
}
.page-pro-list ::-webkit-input-placeholder {color: #959595}
.search-bar > input[type="text"] {
    width: 80%;
    height: 1.4rem;
    line-height: 1.4rem;
    margin-top: .35rem;
    padding-left: 1.8rem;
    margin-left: 1rem;
    font-size: .8rem;
    color: #959595;
    border-radius: 3px;
    background-image: url(./../../img/sh-14.png);
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    background-position: .4rem center;
}
.cart-icon {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    background: url(./../../img/sh-12.png) no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
    margin-left: 2%;
    position: relative;
}
.search-bar .badge {
    width: .7rem;
    height: .7rem;
    line-height: .7rem;
    text-align: center;
    padding: 0;
    background-color: #f40;
    color: #fff;
    position: absolute;
    right: -.3rem;
    top: -.1rem;
}
.page-pro-list .pro-nav {
    display: -webkit-box;
    background-color: #fff;
    font-size: .8rem;
    letter-spacing: 1px;
    line-height: 1.8rem;
    -webkit-box-shadow: 0 1px 2px #bfbfbf;
    box-shadow: 0 1px 2px #bfbfbf;
}
.page-pro-list .pro-nav > a {
    display: block;
    -webkit-box-flex: 1;
    text-align: center;
    color: #6c6968;
}
.page-pro-list .pro-nav .pro-nav-active {color: #4f9927}
.page-pro-list .order-bar {
    padding: .4rem 0 0 0;
    font-size: .7rem;
    color: #6c6968;
    letter-spacing: 1px;
    position: relative;
}
.page-pro-list .order-bar .order-bar-sold {
    padding-left: 5%;
    position: relative;
}
.page-pro-list .order-bar .order-bar-price {
    position: absolute;
    left: 50%;
}
.order-bar .by-up {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: .3rem .25rem;
    border-color: transparent transparent #959595 transparent;
    position: absolute;
    top: -3px;
    right: -.8rem;
}
.order-bar .by-down {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: .3rem .25rem;
    border-color: #959595 transparent transparent transparent;
    position: absolute;
    top: 12px;
    right: -.8rem;
}
.order-bar .by-up.by-active {border-color: transparent transparent #4f9927 transparent;}
.order-bar .by-down.by-active {border-color: #4f9927 transparent transparent transparent;}
.page-pro-list .home-suggest {
    margin-top: 2%;
    padding-top: .4rem;
    -webkit-box-shadow: 0 1px 2px #bfbfbf;
    box-shadow: 0 1px 2px #bfbfbf;
}
.page-pro-list .home-suggest:last-child {margin-bottom: 10%}

/*pro-detail*/
.page-pro-detail .content {background-color: #fff}
.page-pro-detail .cart-icon {margin-right: .5rem;}
.page-pro-detail .swiper-container {padding-bottom: 0;}
.page-pro-detail .swiper-pagination-bullet {
    width: .7rem;
    height: .7rem;
    background: #fff;
    opacity: 1;
}
.page-pro-detail .swiper-pagination-bullet-active {background: #4f9927;}
.page-pro-detail .detail-title {
    display: -webkit-box;
    margin: 2% 0;
}
.page-pro-detail .detail-name {
    -webkit-box-flex: 1;
    font-size: .85rem;
    padding-left: .4rem;
    text-align: left;
    color: #000;
}
.page-pro-detail .detail-share {
    width: 3.2rem;
    text-align: center;
    border-left: 1px solid #6c6968;
    color: #4f9927;
    font-size: .75rem;
    padding-top: .2rem;
}
.page-pro-detail .detail-share .share-icon {
    width: 1rem;
    height: 1.1rem;
    margin: 0 auto;
    background: url(./../../img/sh-16.png) no-repeat;
    background-size: 100% 100%;
    margin-bottom: .2rem;
}
.page-pro-detail .detail-price {
    color: #f40;
    padding-left: .7rem;
    font-size: 1.2rem;
    position: relative;
    line-height: 1.8rem;
    padding-top: .2rem;
}
.page-pro-detail .detail-ctrl {
    position: absolute;
    right: .8rem;
    top: .2rem;
}
.page-pro-detail .detail-ctrl > span {
    display: inline-block;
    width: 2rem;
    height: 1.8rem;
    line-height: 1.8rem;
    text-align: center;
    background-color: #a0a0a0;
    color: #fff;
    float: left;
}
.page-pro-detail .detail-ctrl .ctrl-count {
    background-color: #fff;
    color: #a0a0a0;
    border-top: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
}
.page-pro-detail .detail-ctrl .ctrl-minus,
.page-pro-detail .detail-ctrl .ctrl-plus {
    line-height: 1.4rem;
    font-size: 2rem;
}
.page-pro-detail .detail-type {
    padding: .4rem 0;
    position: relative;
    margin: 2% .7rem 0 .7rem;
}
.page-pro-detail .detail-type > span {
    font-size: .7rem;
    letter-spacing: 1px;
    background-color: #a0a0a0;
    color: #fff;
    padding: .15rem .4rem;
    border-radius: 5px;
    margin-right: .4rem;
}
.page-pro-detail .detail-type .detail-type-highlight {background-color: #4f9927;}
.page-pro-detail .detail-type:before,
.page-pro-detail .detail-type:after,
.page-pro-detail .detail-tag:after,
.page-pro-detail .detail-judge:after,
.page-pro-detail .detail-judge:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.page-pro-detail .detail-type:after { bottom: auto;top: 0;}
.page-pro-detail .detail-tag {
    padding: .4rem 0 .1rem 0;
    position: relative;
    margin: 0 .7rem;
}
.page-pro-detail .detail-intro {padding: .4rem .7rem;}
.page-pro-detail .detail-judge {
    display: block;
    color: #313131;
    background-color: #d2d2d2;
    height: 1.8rem;
    line-height: 1.8rem;
    font-size: .85rem;
    letter-spacing: 1px;
    padding-left: 1.2rem;
    position: relative;
}
.page-pro-detail .detail-judge > span {
     width: auto;
     height: auto;
     margin-top: 0;
     position: absolute;
     right: 1.6rem;
}
.page-pro-detail .detail-judge:after,
.page-pro-detail .detail-judge:before { background-color: #a0a0a0; }
.page-pro-detail .detail-judge:after { bottom: auto;top: 0;}
.page-pro-detail .load-more {
    padding: 1.2rem 0;
    text-align: center;
    font-size: .75rem;
    letter-spacing: 1px;
    color: #a0a0a0;
    position: relative;
}
.page-pro-detail .load-more > span {
    width: 3rem;
    height: 1px;
    background-color: #a0a0a0;
    position: absolute;
    left: 1rem;
    right: auto;
    top: 1.8rem;
}
.page-pro-detail .load-more > span:last-child { right: 1rem;left: auto}
.page-pro-detail .detail-btns {
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: .85rem;
    display: -webkit-box;
    text-align: center;
}
.page-pro-detail .detail-btn-fav,
.page-pro-detail .detail-btn-cart,
.page-pro-detail .detail-btn-buy {
    -webkit-box-flex: 1;
    letter-spacing: 1px;
}
.page-pro-detail .detail-btn-fav {
    background-color: #d2d2d2;
    color: #6c6968;
}
.page-pro-detail .detail-btn-cart > a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #313131;
    background-color: #4f9927;
}
.page-pro-detail .detail-btn-buy > a {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #3d6b32;
    color: #fff;
}
.page-pro-detail .detail-btn-fav > span {
    display: inline-block;
    width: .9rem;
    height: .9rem;
    background: url(./../../img/sh-10.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: .16rem;
}
.page-pro-detail .mask-arrow {
    width: 2.5rem;
    height: 4.3rem;
    background: url(./../../img/sh-18.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 5%;
    top: 2%;
}

/*search-detail*/
.page-search-detail {}
.page-search-detail .search-top {
    width: 100%;
    height: 2.4rem;
    background: -webkit-linear-gradient(top, #14380b, #39662e);
}
.search-top > input {
    width: 75%;
    margin-left: 1rem;
    margin-top: .45rem;
    padding: .2rem 2rem .2rem .6rem;
    font-size: .8rem;
    letter-spacing: 1px;
    color: #6c6968;
    border-radius: 6px;
    background-image: url(./../../img/sh-14.png);
    background-repeat: no-repeat;
    background-position: 96%;
    background-size: 1rem 1rem;
}
.search-top > span {
    display: inline-block;
    width: 16%;
    letter-spacing: 1px;
    text-align: center;
    padding: .2rem 0;
    color: #fff;
}
.history-record .history-title,
.history-record .history-item {
    display: block;
    width: 100%;
    background-color: #fff;
    padding: .4rem 0 .4rem 1.6rem;
    position: relative;
    font-size: .8rem;
    color: #a0a0a0;
}
.history-record .history-title {color: #313131;}
.history-record .history-title:after,
.history-record .history-item:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.history-record .history-clear {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 8%;
    padding: .3rem 0;
    border-radius: 3px;
    background-color: #4f9927;
    color: #fff;
    font-size: .9rem;
    letter-spacing: 1px;
    text-align: center;
}
.history-record-empty {
    color: #4f9927;
    font-size: .9rem;
    margin-top: 40%;
    text-align: center;
    letter-spacing: 1px;
}

/**/
.page-my-receiver {}
.page-my-receiver .address-item {
    background-color: #fff;
    padding: .9rem 0 .6rem 1rem;
    display: -webkit-box;
    position: relative;
}
.page-my-receiver .address-item:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.address-item .address-text {
    -webkit-box-flex: 1;
    position: relative;
    font-size: .75rem;
    color: #6c6968;
}
.address-item .address-contact {
    color: #000;
    position: relative;
}
.address-item .address-phone {
    position: absolute;
    right: 1rem;
}
.address-item .address-location {
    margin-top: .6rem;
    text-align: justify;
    padding-right: 1rem;
}
.address-item .address-edit {
    display: block;
    width: 20%;
    border-left: 1px solid #6c6968;
    text-align: center;
}
.address-item .address-edit > span {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: url(./../../img/sh-21.png) no-repeat;
    background-size: 100% 100%;
    margin-top: 1rem;
}
.page-my-receiver .address-item-active .address-contact {color: #4f9927}
.page-my-receiver .address-item-active .address-location {color: #4f9927}
.page-my-receiver .address-item-active .address-location:before {content: '【默认】';}
.page-my-receiver .address-item-active .address-default-icon {
    width: 1.2rem;
    height: 1.2rem;
    background: url(./../../img/check-0.png) no-repeat;
    background-size: 100% 100%;
    margin-top: 1.7rem;
    margin-right: .2rem;
}
.page-my-receiver .btn-new {
    display: block;
    width: 80%;
    height: 2rem;
    line-height: 2rem;
    margin: 10% auto;
    background-color: #4f9927;
    color: #fff;
    letter-spacing: 1px;
    font-size: .9rem;
    text-align: center;
    border-radius: 3px;
}

/**/
.page-my-center {}
.page-my-center .center-top {
    width: 100%;
    height: 7rem;
}
.center-top .center-login {
    display: -webkit-box;
    color: #fff;
    font-size: .75rem;
}
.center-login .center-login-pic {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid #7d9f73;
    text-align: center;
    margin: .6rem 0 0 .8rem;
}
.center-login .center-login-pic > img {
    width: 2.3rem;
    height: 2.7rem;
    margin-top: .3rem;
}
.center-login .center-login-msg {
    -webkit-box-flex: 1;
    margin-top: 1rem;
    padding: 0 1rem 0 .5rem;
}
.center-login-msg .center-login-line {
    position: relative;
    padding: .1rem 0;
}
.center-login-line .center-login-nickname {font-size: .9rem;}
.center-login-line .center-login-status {color: #fff799}
.center-login-line .center-login-status,
.center-login-line .center-login-account {
    position: absolute;
    right: 0;
}
.center-top .center-refer {
    text-align: center;
    margin-top: .5rem;
}
.center-refer .center-refer-1 {

}
.center-refer .center-refer-2 {

}
.center-top .center-no-login {
    color: #fff;
    font-size: .9rem;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 1.6rem;
}
.center-top .btn-go-reg {
    display: block;
    width: 42%;
    margin: .8rem auto;
    text-align: center;
    height: 1.6rem;
    line-height: 1.6rem;
    background-color: #fff799;
    color: #3d6b32;
    font-size: .9rem;
    border-radius: 15px;
}
.page-my-center .center-down {background-color: #e7e7e7;}
.center-down .list-block {margin: 0;}
.center-down .list-block .item-media+.item-inner {margin-left: .5rem}
.center-down .list-block .item-title {font-size: .8rem;}
.center-down .list-block .item-after {
    font-size: .75rem;
    color: #898989;
}
.center-down .icon-f {
    display: inline-block;
    width: .9rem;
    height: .9rem;
    vertical-align: middle;
}
.center-down .icon-f1 {
    background: url(./../../img/sh-24.png) no-repeat;
    background-size: 100% 100%;
}
.center-down .icon-f2 {
    width: 1rem;
    height: 1rem;
    background: url(./../../img/sh-27.png) no-repeat;
    background-size: 100% 100%;
    margin-bottom: .1rem;
}
.center-down .icon-f3 {
    width: .9rem;
    height: 1rem;
    background: url(./../../img/sh-28.png) no-repeat;
    background-size: 100% 100%;
    margin-bottom: .1rem;
}
.center-down .icon-f4 {
    width: .9rem;
    height: 1rem;
    background: url(./../../img/sh-29.png) no-repeat;
    background-size: 100% 100%;
    margin-bottom: .1rem;
}
.center-down .icon-f5 {
    width: .9rem;
    height: 1rem;
    background: url(./../../img/sh-30.png) no-repeat;
    background-size: 100% 100%;
    margin-bottom: .1rem;
}
.center-down .icon-f6 {
    background: url(./../../img/sh-10.png) no-repeat;
    background-size: 100% 100%;
}
.center-down .icon-f7 {
    width: 1rem;
    background: url(./../../img/sh-22.png) no-repeat;
    background-size: 100% 100%;
}
.center-down .icon-f8 {
    background: url(./../../img/sh-26.png) no-repeat;
    background-size: 100% 100%;
}
.center-down .icon-f9 {
    background: url(./../../img/sh-23.png) no-repeat;
    background-size: 100% 100%;
}
.center-down .icon-f10 {
    background: url(./../../img/sh-25.png) no-repeat;
    background-size: 100% 100%;
}

.center-down .down-list {
    display: -webkit-box;
    background-color: #fff;
    text-align: center;
    border-bottom: 1px solid #9d9d9d;
}
.down-list .down-list-item {
    -webkit-box-flex: 1;
    font-size: .75rem;
    color: #898989;
    padding: .35rem 0;
}
.center-down .down-menu,
.center-down .down-settings {
    margin-top: 6%;
    position: relative;
    border-bottom: 1px solid #9d9d9d;
}
.center-down .down-settings {padding-bottom: 18%}
.page-my-center nav.tab {
    border-top: 1px solid #9d9d9d;
    z-index: 999;
}
.page-my-center nav.tab .tab-icon {
    position: relative;
    top: .2rem;
}