* {
    -webkit-overflow-scrolling: touch;
}
::-webkit-scrollbar {
    width: 0;
}
img {
    width: 100%;
}
.title {
    background-color: #3d6b32;
    color: #fff;
}
.bar .icon {
    color: #fff;
}
.content-block {
    margin: .75rem 0;
}
.list-block {
    margin: 0;
}
.list-block ul {
    /*height: 4.4rem;*/
    overflow: hidden;
}
.list-block .item-link .item-after {
    color: blue;
}
.list-block .content-block {
    display: none;
}
.mr-top {
    margin-top: 1rem;
}
.mr-bottom {
    margin-bottom: 1rem;
}
/**/
.content-block {
    /*margin: 0;*/
    padding: 0;
}
.sub-menu {
    list-style: none;
    background-color: #fff;
    margin-top: 1.2rem;
}
.sub-menu li {
    height: 2.2rem;
    line-height: 2.2rem;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.sub-menu li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #666;
}

/**/
.page .bg-white {
    background-color: #fff;
}
input {
    border: none;
    outline: none;
}
.row {
    margin-left: 0;
}
.icon {
    margin-right: .2rem;
}
.input-field {
    background-color: #fff;
    padding: .6rem 1.4rem;
    position: relative;
    font-size: 1.4rem;
    text-align: center;
}
.input-field input {
    border-bottom: 1px solid #999;
    font-size: 1rem;
    margin-left: .4rem;
    letter-spacing: 1px;
    transition: border 100ms ease;
}
.input-field input[type=text]:focus,
.input-field input[type=password]:focus {
     border-bottom: 2px solid #26a69a;
}
.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label {
    left: 4.6rem;
    font-size: .6rem;
    top: 0;
    color: #26a69a;
}
.input-field label {
    position: absolute;
    left: 4.6rem;
    font-size: .7rem;
    top: 1rem;
    color: #999;
    transition: all 300ms ease-in-out;
}
.bg-white .icon {
    transition: all 300ms ease-in-out;
}
.bg-white .btn {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #3d6b32;
    color: #fff;
    border-radius: 5px;
    font-size: 1.2rem;
    line-height: 2.2rem;
}
.bg-white .mr-top {
    margin-top: 3rem;
}

/**/
.pagination {
    width: 100%;
    display: -webkit-box;
    height: 1.6rem;
    line-height: 1.6rem;
    text-align: center;
    margin: 1rem 0;
}
.pag-container {
    -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-pack: center;
}
.pag-paper {
    background-color: #fff;
    color: #333;
    font-size: .6rem;
    padding: 0 .6rem;
}
.pag-item {
    background-color: #fff;
    color: #333;
    margin-right: .3rem;
    width: 1.6rem;
}
.pag-active {
    background-color: #c9c9c9;
    color: #333;
}