* {
/*    margin: 0;
    padding: 0;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    -webkit-overflow-scrolling: touch;
    border: 0 none;
}
html {
    font-family: "microsoft yahei", sans-serif;
}
div, p, img, span {
    margin: 0;
    padding: 0;
}
.yellow {
    color: rgb(244,210,35);
}
.arrow {
    width: 8%;
    position: absolute;
    left: 46%;
    bottom: 3%;
    animation: up 1s ease-in infinite;
    -webkit-animation: up 1s ease-in infinite;
}
.circle {
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #ffffff;
    border-radius: 50%;
    position: relative;
    top: -3px;
    margin-right: 4px;
}
.title {
    width: 35%;
    height: 25px;
    background: url(../i/3-1.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 5%;
    left: 0;
}
.title p {
    font-size: 16px;
    color: #fff;
    letter-spacing: 2px;
    position: relative;
    top: -9px;
    left: 16%;
}
.section {
    width: 100%;
    height: 100%;
    background: url(../i/1-2.png) no-repeat;
    background-size: 100% 100%;
}
.section1 .banner {
    width: 50%;
    position: absolute;
    left: 25%;
    top: 35%;
}
.section2 .swiper-container {
    width: 100%;
    position: absolute;
    top: 10%;
}
.section2 .swiper-container .swiper-slide img {
    width: 90%;
    position: relative;
    left: 5%;
}
.section2 .swiper-container .swiper-slide .p1 {
    font-size: 16px;
    color: #fff;
    margin-top: 23%;
    text-align: center;
    letter-spacing: 1px;
}
.section2 .swiper-container .swiper-slide .p2 {
    font-size: 16px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
}
.section2 .swiper-container .swiper-pagination {
    position: relative;
    top: -120px;
}
.section3 .tree {
    width: 18%;
    height: 400px;
    background: url(../i/3-2.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 15%;
    left: 41%;
}
.section3 .tree .fir {
    width: 265%;
    position: absolute;
    top: 140%;
    left: 42%;
}
.section3 .tree .sec {
    width: 265%;
    position: absolute;
    top: 140%;
    left: -205%;
}
.section3 .tree .thi {
    width: 265%;
    position: absolute;
    top: 140%;
    left: 42%;
}
.section3 .tree .fou {
    width: 265%;
    position: absolute;
    top: 140%;
    left: -206%;
}
.section3 .tree .fiv {
    width: 265%;
    position: absolute;
    top: 140%;
    left: 42%;
}
.section4 .swiper-container {
    width: 100%;
    position: absolute;
    top: 20%;
}
.section4 .swiper-container .swiper-slide img {
    width: 92%;
    position: relative;
    left: 4%;
}
.section4 .swiper-container .swiper-pagination {position: relative; top: 0;}
.section5 .logo {
    width: 40%;
    position: absolute;
    top: 10%;
    left: 3%;
}
/*.section5 .shouyi {
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    position: absolute;
    top: 20%;
    font-size: 14px;
}*/
.section5 .progress {
    width: 80%;
    height: 11px;
    background: url(../i/5-2.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 31%;
    left: 10%;
}
.section5 .progress .in1,.section5 .progress .in2,.section5 .progress .in3,.section5 .progress .in4 {
    width: 15%;
    position: relative;
    top: -17px;
    left: 91%;
}
.section5 .progress .in2 {
    left: 60%;
    display: none;
}
.section5 .progress .in3 {
    left: 28%;
    display: none;
}
.section5 .progress .in4 {
    left: -5%;
    display: none;
}
.section5 .chart-title {
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    position: absolute;
    width: 100%;
    top: 38%;
    font-size: 14px;
}
.section5 .chart {
    width: 86%;
    position: absolute;
    left: 7%;
    top: 54%;
}
.section6 .line1 {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 15%;
}
.section6 .line1 .user,.section6 .line1 .jingyu {width: 20%;  }
.section6 .line1 .both-arrow {
    width: 20%;
    position: relative;
    top: -25px;
    margin: 0 6%;
}
.section6 .line2 {
    width: 15%;
    position: absolute;
    top: 32%;
    left: 60%;
}
.section6 .line3 {
    width: 25%;
    position: absolute;
    left: 37%;
    top: 44%;
}
.section6 .line4 {
    width: 9%;
    position: absolute;
    left: 48%;
    top: 62%;
}
.section6 .line5 {
    width: 35%;
    position: absolute;
    left: 32%;
    top: 76%;
}
.section7 .center {
    width: 3%;
    position: absolute;
    left: 48%;
    top: 13%;
    height: 370px;
}
.section7 .ltop {
    width: 42%;
    position: absolute;
    top: 30%;
    left: -45%;
}
.section7 .lbottom {
    width: 42%;
    position: absolute;
    top: 60%;
    left: -45%;
}
.section7 .rtop {
    width: 44%;
    position: absolute;
    top: 14%;
    right: -45%;
}
.section7 .rbottom {
    width: 44%;
    position: absolute;
    top: 44%;
    right: -45%;
}
.section8 .line1 {
    width: 82%;
    height: 45px;
    background: url(../i/8-1.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 110%;
    left: 9%;
}
.section8 .line2 {
    width: 86%;
    height: 45px;
    background: url(../i/8-2.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 110%;
    left: 7%;
}
.section8 .line3 {
    width: 82%;
    height: 45px;
    background: url(../i/8-3.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 110%;
    left: 9%;
}
.section8 .line4 {
    width: 82%;
    height: 45px;
    background: url(../i/8-4.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 110%;
    left: 9%;
}
.section8 .line1 .i-1 {
    position: relative;
    left: 17%;
    top: 12px;
    color: #fff;
    font-size: 14px;
}
.section8 .line1 .i-2 {
    display: none;
    position: relative;
    left: 58%;
    top: -18px;
    font-size: 12px;
    color: #fff;
}
.section8 .line2 .i-1 {
    position: relative;
    left: 28%;
    top: 12px;
    color: #fff;
    font-size: 14px;
}
.section8 .line2 .i-2 {
    display: none;
    position: relative;
    left: 6%;
    top: -20px;
    color: #fff;
    font-size: 12px;
}
.section8 .line3 .i-1 {
    position: relative;
    left: 17%;
    top: 12px;
    color: #fff;
    font-size: 14px;
}
.section8 .line3 .i-2 {
    display: none;
    position: relative;
    left: 58%;
    top: -16px;
    color: #fff;
    font-size: 12px;
}
.section8 .line4 .i-1 {
    position: relative;
    left: 34%;
    top: 12px;
    color: #fff;
    font-size: 14px;
}
.section8 .line4 .i-2 {
    display: none;
    position: relative;
    left: 5%;
    top: -14px;
    color: #fff;
    font-size: 12px;
}
.section9 .swiper-container {
    width: 100%;
    position: absolute;
    top: 14%;
}
.section9 .swiper-container .swiper-slide img {
    width: 60%;
    position: relative;
    left: 20%;
}
.section9 .swiper-container .swiper-button-prev, .section9 .swiper-container .swiper-button-next {
    height: 30px;
    margin-top: -15px;
}
.section10 .title {width: 45%;}
.section10 .title p {left: 8%;}
.section10 .qr {
    position: absolute;
    top: 13%;
    left: 13%;
    width: 74%;
}
.section10 .q-title {
    position: absolute;
    top: 64%;
    font-size: 14px;
    letter-spacing: 1px;
    color: rgb(56,99,173);
    margin-left: 18%;
}
.section10 .text {
    position: absolute;
    top: 68%;
    left: 18%;
    width: 68%;
    font-size: 12px;
    text-align: left;
    color: rgb(120,120,120);
}
.section10 .text .q-line1,
.section10 .text .q-line2,
.section10 .text .q-line3 {
    line-height: 25px;
}

.go {
    animation: go 4s linear alternate infinite;
    -webkit-animation: go 4s linear alternate infinite;
}
@keyframes up {
    0% {bottom: 3%;}
    50% {bottom: 5%;}
    100% {bottom: 3%;}
}
@-webkit-keyframes up {
    0% {bottom: 3%;}
    50% {bottom: 5%;}
    100% {bottom: 3%;}
}
@keyframes go {
    0% {left:91%;opacity: 1;}
    3% {opacity: 0;}
    30% {opacity: 0;}
    33% {left:59%;opacity: 1;}
    36% {opacity: 0;}
    63% {opacity: 0;}
    66% {left:27%;opacity: 1;}
    70% {opacity: 0;}
    96% {opacity: 0;}
    99% {left:-5%;opacity: 1;}
    100% {opacity: 1;}
}
@-webkit-keyframes go {
    0% {left:91%;opacity: 1;}
    3% {opacity: 0;}
    30% {opacity: 0;}
    33% {left:59%;opacity: 1;}
    36% {opacity: 0;}
    63% {opacity: 0;}
    66% {left:27%;opacity: 1;}
    70% {opacity: 0;}
    96% {opacity: 0;}
    99% {left:-5%;opacity: 1;}
    100% {opacity: 1;}
}


.p-shouyi{
    width: 100%;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.05em;
    position: absolute;
    top: 12%;
    left: 10%;
}
.p-shouyi span{
    color: #fcdc0d;
    font-weight:bold;
}
.shouyi{
    width: 82%;
    height: 55px;
    display: -webkit-box;
    position: absolute;
    top: 18%;
    left: 9%;
}
.boal{
    display: inline-block;
    width: 10px;
    height: 100%;
}
.boal img{
    width: 100%;
    margin-top: 200%;
}
.shouyi-xian{
    width: 78px;
    position: relative;
    height: 100%;
}
.shouyi-xian div{
    width: 100%;
    border-top: 1px solid rgb(55,84,135);
    border-bottom: 1px solid rgb(55,84,135);
    position: absolute;
    top: 42%;
}
.boal .bg{
    position: relative;
    bottom: 50px;
    width: 40px;
    height:40px;
    z-index: 1;
    left: 0px;
}
