@import "./../base.css";
@import "./../common.css";

.swiper-pagination-bullet {
    background-color: #8e8a85;
}
.swiper-pagination-bullet-active {
    background-color: #a7d264;
}
.zhinan {
    padding: .2rem 3%;
    background-color: #f0f0f0;
    padding-bottom: 20%;
}
.zn-list {
    padding-bottom: 20%;
}
.zn-item {
    overflow: hidden;
    margin-top: 3%;
    display: -webkit-box;
    color: #333;
    font-size: .26rem;
    background-color: #fff;
    height: .65rem;
    line-height: .65rem;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
}
.zn-list .zn-item:first-child {
    margin-top: 4%;
}
.zn-list .zn-item .zn-item-color {
    width: 4px;
    margin-right: 3%;
}
.zn-list li:nth-child(5n+1) .zn-item-color {
    background-color: #ed5e5e;
}
.zn-list li:nth-child(5n+2) .zn-item-color {
    background-color: #f4a824;
}
.zn-list li:nth-child(5n+3) .zn-item-color {
    background-color: #659be7;
}
.zn-list li:nth-child(5n+4) .zn-item-color {
    background-color: #a7d264;
}
.zn-list li:nth-child(5n+5) .zn-item-color {
    background-color: #05b1cc;
}
.zn-item .zn-item-title {
    -webkit-box-flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.zn-item .zn-item-next {
    width: 8%;
    background: url(./../../images/zhinan/down.png) no-repeat center center;
    background-size: .14rem .26rem;
}


/**/
.card-list {
    margin-top: 10%;
}
.card-desc {
    text-indent: .5rem;
    font-size: .28rem;
    text-align: justify;
    padding: .2rem .3rem;
    word-break: break-all;
    line-height: .4rem;
}
.card-item {
    display: -webkit-box;
    background-color: #fff;
    margin-top: 8%;
}
.card-list .card-item:nth-child(2n) {
    -webkit-box-direction: reverse;
}
.card-item .card-pic {
    width: 36%;
    text-align: center;
}
.card-item .card-pic > img {
    width: 1.8rem;
    position: relative;
    top: -.3rem;
}
.card-item .card-text {
    -webkit-box-flex: 1;
    color: #333;
}
.card-item .card-text > h5 {
    font-size: .28rem;
    padding: .12rem 0;
}
.card-item .card-text > p {
    padding-right: .2rem;
    text-align: justify;
    font-size: .22rem;
    line-height: .34rem;
}
.card-list .card-item:nth-child(2n) .card-text > h5 ,
.card-list .card-item:nth-child(2n) .card-text > p {
    padding-right: 0;
    padding-left: .2rem;
}

.zhinan .copyright {
    position: relative;
    margin-top: 6%;
}
.cards .copyright {
    position: relative;
    padding: 6% 0;
}

.tab {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    background-color: rgb(39,39,39);
    text-align: center;
    z-index: 9;
}
.tab .tab-item {
    display: block;
    width: 25%;
    height: 1rem;
    -webkit-box-flex: 1;
    color: #b7b7b7;
    position: relative;
}
.tab .tab-item > p {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10%;
    font-size: .24rem;
}
.tab .tab-item > img {
    width: 22%;
    margin-top: 8%;
}
.tab .tab-item:nth-child(2) > img {
    width: 24%;
    margin-top: 10%;
}
.tab .tab-item:nth-child(3) > img,
.tab .tab-item:nth-child(4) > img {
    margin-top: 10%;
}
.tab .tab-item:before {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    background-color: #3b3b3b;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: auto;
}
.tab .tab-item:after {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    background-color: #2b2b2b;
    position: absolute;
    right: 0;
    top: auto;
    bottom: 0;
    left: 0;
}
.tab .tab-item:last-child:before {
    width: 0;
}
.tab .tab-active {
    color: #31cb31;
}