@charset "utf-8";

@import "./../base.css";
@import "./../common.css";

/*共享富贵首页*/
.page-pt {
    font-size: .26rem;
    background-color: #fff;
    padding-bottom: 14%;
}
.page-pt .return-amount {
    width: 100%;
    height: 2.8rem;
    background-color: #24936e;
    color: #fff;
    position: relative;
    -webkit-box-align: center;
    border-bottom: 1px solid #f0f0f0;
}
.return-amount img {
    width: 1rem;
}
.return-amount .return-money {
    font-size: .56rem;
    position: relative;
    top: -9%;
    left: 2%;
}
/*.page-pt .card-left:before,*/
.page-pt .menu-line:after,
.page-pt .card-deal:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #f0f0f0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    -webkit-transform: scale(1, .5);
    transform: scale(1, .5);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}
.page-pt .card-left {
    width: 100%;
    height: 2.4rem;
    background-color: #24936e;
    color: #fff;
    position: relative;
}
.page-pt .card-left .fugui {
    border-right: 1px solid #f0f0f0;
}
.page-pt .card-left:before {
    top: 0;
    bottom: auto;
}
/*.page-pt .fugui:after,*/
.page-pt .menu-line .flex-item-three:after,
.page-pt .card-deal .flex-item-two:first-child:after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: #f0f0f0;
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
    top: 0;
    -webkit-transform: scale(.5, 1);
    transform: scale(.5, 1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.page-pt .menu-line .flex-item-three:active {
    background-color: #eee;
}
.fugui > img,
.zhanghu > img {
    width: .8rem;
	margin-top: 18%;
}
.fugui > div,
.zhanghu > div {
    display: inline-block;
    position: relative;
    top: -8px;
    left: 2%;
}
.fugui > div > p:first-child,
.zhanghu > div > p:first-child {
   font-size: .3rem;
}
.zhanghu > div {
    top: -4px;
}
.zhanghu > img {
    width: .94rem;
	margin-top: 20%;
}
.page-pt .card-deal {
	width: 100%;
	height: .8rem;
	line-height: .8rem;
	background-color: #fff;
	color: #24936e;
	font-size: .32rem;
	position: relative;
	letter-spacing: 1px;
}
.page-pt .card-deal:before,
.page-pt .card-deal .flex-item-two:first-child:after {
	background-color: #24936e;
}
.page-pt .card-deal .flex-item-two:active {
	background-color: #eee;
}
.page-pt .menu {
    background-color: #fff;
    color: #24936e;
    width: 100%;
}
.menu .menu-line {
    height: 2.5rem;
    position: relative;
}
.menu .menu-line:after {
    background-color: #ccc;
}
.page-pt .menu-line .flex-item-three {
	color: #24936e;
    height: 2.5rem;
}
.page-pt .menu-line .flex-item-three:after,
.page-pt .menu-line .flex-item-three:before {
    background-color: #cacaca;
}
.menu .menu-line img {
    width: .8rem;
    margin-top: 22%;
}
.menu-line .flex-item-three > p {
    width: 100%;
    position: absolute;
    bottom: 24%;
}
.menu .menu-line-1 .flex-item-three:nth-child(2) img {
    width: .86rem;
    margin-top: 26%;
}
.menu .menu-line-1 .flex-item-three:nth-child(3) img {
    width: .92rem;
    margin-top: 28%;
}
.menu .menu-line-2 .flex-item-three:nth-child(1) img {
    width: .66rem;
    margin-top: 20%;
}
.menu .menu-line-2 .flex-item-three:nth-child(2) img {
    width: .8rem;
    margin-top: 32%;
}
.menu .menu-line-2 .flex-item-three:nth-child(3) img {
    width: .66rem;
    margin-top: 26%;
}
.page-pt .return-amount:active ,
.page-pt .fugui:active,
.page-pt .zhanghu:active {
    background-color: #25A27C;
}

/*银行卡*/
.page-bank-card {
	padding-bottom: 14%;
	background-color: #fff;
}
.page-bank-card .card-list {
	width: 92%;
	margin: 0 auto;
	margin-top: 6%;
}
.page-bank-card .card-list .card-item,
.page-bank-card .card-list .card-default {
    width: 100%;
    background-color: #00a090;
    height: 2.1rem;
    border-radius: 8px;
    color: #fff;
    font-size: .36rem;
    margin-bottom: 4%;
    position: relative;
    transition: all 100ms ease-in-out;
}
.page-bank-card .card-list .card-default {
	background: url(./../../images/pt/moren@2x.png) no-repeat;
	background-size: 100% 100%;
}
.page-bank-card .card-list .card-item:nth-child(2n) {
	background-color: #d9bc78;
}
.page-bank-card .card-list .card-item:nth-child(2n-1) {
	background-color: #5dac81;
}
.page-bank-card .card-icon {
	width: 28%;
}
.page-bank-card .card-icon > img {
	width: 1.2rem;
    margin-top: .5rem;
}
.page-bank-card .card-info {
	text-align: left;
    padding-top: .4rem;
    letter-spacing: 1px;
    font-size: .4rem;
    line-height: .66rem;
}
.page-bank-card .del-card {
	width: .5rem;
    position: absolute;
    right: .2rem;
    top: .2rem;
    z-index: 2;
    display: none;
}
.page-bank-card .card-default .del-card {
	display: none;
} 
.page-bank-card .add-card {
	width: 92%;
    margin: 0 auto;
    margin-top: 6%;
    position: relative;
    height: .8rem;
    line-height: .8rem;
    font-size: .32rem;
    color: #999;
}
.page-bank-card .add-card:before {
	content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #999;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    -webkit-transform: scale(1, .5);
    transform: scale(1, .5);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}
.page-bank-card .add-card > a {
	position: relative;
	padding-left: 10%;
    color: #999;
}
.page-bank-card .add-card > a:before,
.page-bank-card .add-card > a:after {
    content: "";
    display: inline-block;
    width: .06rem;
    height: .34rem;
    background-color: #999;
    position: absolute;
    border-radius: 10px;
    left: 16%;
    top: 12%;
}
.page-bank-card .add-card > a:after {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.pull-right {
    font-size: .34rem;
    height: .88rem;
    line-height: .88rem;
    color: #fff;
    text-align: left;
    padding-right: .2rem;
    position: relative;
    z-index: 2;
} 
/*pay psd*/
.confirm-box {
	width: 80%;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 40%;
    border-radius: 5px;
    text-align: center;
    padding-bottom: .2rem;
}
.confirm-box .confirm-title {
	width: 100%;
	height: .7rem;
	line-height: .7rem;
	background-color: #24936e;
	color: #fff;
	font-size: .32rem;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	letter-spacing: 1px;
}
.confirm-box .confirm-content {
	padding: .8rem .4rem .2rem .4rem;
}
.confirm-box .confirm-content input {
	width: 100%;
    text-align: center;
    font-size: .32rem;
    letter-spacing: 1px;
    padding-bottom: .14rem;
    border-bottom: 1px solid #ccc;
}
.confirm-box .confirm-btns {
	margin: .3rem .4rem;
	position: relative;
	height: .6rem;
}
.confirm-box .confirm-btns > span {
	display: inline-block;
	width: 40%;
	line-height: .6rem;
	background-color: #f0f0f0;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #ccc;
	font-size: .28rem;
	position: absolute;
}
.confirm-box .confirm-btns .confirm-sure {
	left: 0;
	background-color: #24936e;
	color: #fff;
}
.confirm-box .confirm-btns .confirm-cancel {
	right: 0;
}

/*添加银行卡*/
.page-add-bc {

}
.page-add-bc .flex-line {
    height: .65rem;
    line-height: .65rem;
    margin: 8% 8%;
    font-size: .32rem;
}
.page-add-bc .bc-name {
    width: 30%;
    letter-spacing: 3px;
    text-align: left;
}
.page-add-bc .bc-input {
    -webkit-box-flex: 1;
}
.page-add-bc .bc-input > input,
.page-add-bc .bc-input > select{
    width: 100%;
    text-align: center;
    font-size: .32rem;
    letter-spacing: 1px;
    border: 1px solid #24936e;
    color: #999;
    border-radius: 5px;
    padding: .1rem 0;
}
.page-add-bc .bc-input > select {
    padding-left: 24%;
}
.page-add-bc .ls4 {
    letter-spacing: 4px;
}
.page-add-bc .ls9 {
    letter-spacing: 9px;
}