#activityApplyList{
    width: 100%;
    top: 4rem;
    position: absolute;
    z-index: 1;
    bottom: 0;
}
.activity-bm-list {
    padding: 0;
    margin: 0;
}
.my-apply-list-view{
    background-color: #F9F9F9;
    padding: 0;
}
.my-apply-list-view li{
    border-bottom: 1px solid #eee;
    padding: 8px 30px;
}
.my-apply-list-view a{
    color: #000000!important;
}
.my-apply-list-view img {
    border-radius: 100%;
    width: 73px;
}
.my-apply-list-view table {
    width: 100%;
}
.my-apply-list-view .head-img {
    width: 90px;
}
.my-apply-list-view .right-apply {
    text-align: right;
    color: #999;
}
